<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% render 'tracking-scripts' %}
    
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    
    <title>
      Detoxify Your Liver
    </title>

    
    <link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
    <script src="{{ 'swiper.js' | asset_url }}"></script>
    <script src="{{ 'handlebar.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'rellax.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'akka-app.js' | asset_url }}" defer="defer"></script>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}


    <style>
      @font-face {
          font-family: 'Blisstwin';
          src: url('{{ 'Blisstwin-Regular.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Blisstwin-Regular.woff2' | file_url }}') format('woff2'),
               url('{{ 'Blisstwin-Regular.woff' | file_url }}') format('woff'),
               url('{{ 'Blisstwin-Regular.ttf' | file_url }}') format('truetype');
          font-weight: normal;
          font-style: italic;
          font-display: swap;
      }      
      @font-face {
          font-family: 'Syne';
          src: url('{{ 'Syne-Regular.eot' | file_url }}');
          src: url('{{ 'Syne-Regular.eot?#iefix' | file_url }}') format('embedded-opentype'),
              url('{{ 'Syne-Regular.woff2' | file_url }}') format('woff2'),
              url('{{ 'Syne-Regular.woff' | file_url }}') format('woff'),
              url('{{ 'Syne-Regular.ttf' | file_url }}') format('truetype');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-ExtraBold.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-ExtraBold.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-ExtraBold.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-ExtraBold.ttf' | file_url }}') format('truetype');
          font-weight: bold;
          font-style: normal;
          font-display: swap;
      }
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-ExtraLight.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-ExtraLight.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-ExtraLight.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-ExtraLight.ttf' | file_url }}') format('truetype');
          font-weight: 200;
          font-style: normal;
          font-display: swap;
      }
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-Regular.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-Regular.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-Regular.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-Regular.ttf' | file_url }}') format('truetype');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }
      
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-Bold.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-Bold.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-Bold.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-Bold.ttf' | file_url }}') format('truetype');
          font-weight: bold;
          font-style: normal;
          font-display: swap;
      }
      
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-Black.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-Black.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-Black.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-Black.ttf' | file_url }}') format('truetype');
          font-weight: 900;
          font-style: normal;
          font-display: swap;
      }
      
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-Thin.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-Thin.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-Thin.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-Thin.ttf' | file_url }}') format('truetype');
          font-weight: 100;
          font-style: normal;
          font-display: swap;
      }
      
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-Light.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-Light.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-Light.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-Light.ttf' | file_url }}') format('truetype');
          font-weight: 300;
          font-style: normal;
          font-display: swap;
      }
      
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-SemiBold.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-SemiBold.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-SemiBold.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-SemiBold.ttf' | file_url }}') format('truetype');
          font-weight: 600;
          font-style: normal;
          font-display: swap;
      }
      
      @font-face {
          font-family: 'Heebo';
          src: url('{{ 'Heebo-Medium.eot' | file_url }}') format('embedded-opentype'),
               url('{{ 'Heebo-Medium.woff2' | file_url }}') format('woff2'),
               url('{{ 'Heebo-Medium.woff' | file_url }}') format('woff'),
               url('{{ 'Heebo-Medium.ttf' | file_url }}') format('truetype');
          font-weight: 500;
          font-style: normal;
          font-display: swap;
      }

      @font-face {
        font-family: 'Poppins';
        src: url({{ 'Poppins-Regular.eot' | file_url }});
        src: url({{ 'Poppins-Regular.eot' | file_url }}?#iefix) format('embedded-opentype'),
            url({{ 'Poppins-Regular.woff2' | file_url }}) format('woff2'),
            url({{ 'Poppins-Regular.woff' | file_url }}) format('woff'),
            url({{ 'Poppins-Regular.ttf' | file_url }}) format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Neue Haas Grotesk Display Pro';
        src: url({{ 'NeueHaasDisplay-Light.eot' | file_url }});
        src: url({{ 'NeueHaasDisplay-Light.eot' | file_url }}?#iefix) format('embedded-opentype'),
            url({{ 'NeueHaasDisplay-Light.woff2' | file_url }}) format('woff2'),
            url({{ 'NeueHaasDisplay-Light.woff' | file_url }}) format('woff'),
            url({{ 'NeueHaasDisplay-Light.ttf' | file_url }}) format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    {%- if request.page_type == 'index' -%}
      {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": {{ shop.name | json }},
          "potentialAction": {
            "@type": "SearchAction",
            "target": {{ potential_action_target | json }},
            "query-input": "required name=search_term_string"
          },
          "url": {{ request.origin | append: page.url | json }}
        }
      </script>
    {%- endif -%}

  </head>

  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
    

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
    
  </body>
</html>
