
    
<section id="section1" class="ak-relative max-lg:ak-px-[16px] ak-font-['syne']">
    <div class="ak-absolute ak-top-0 ak-right-[81px] ak-w-fit ak-py-[346px] ak-h-[100%] max-lg:ak-hidden">
        <svg class="ak-sticky ak-top-[346px]" xmlns="http://www.w3.org/2000/svg" width="16" height="150" viewBox="0 0 16 150" fill="none">
            <rect y="142" width="11" height="11" transform="rotate(-45 0 142)" fill="#2E3666"/>
            <line x1="8" y1="4.37114e-08" x2="7.99999" y2="150" stroke="#2E3666" stroke-width="2"/>
        </svg>
    </div>
    <div class="ak-relative ak-pt-[128px] max-lg:ak-pt-[32px]">
        <!-- FIRST STICKY DIV -->
        <div class="ak-flex ak-items-center ak-pb-[64px] ak-max-w-[var(--page-width)] ak-w-full ak-bg-white ak-mx-auto max-lg:ak-max-w-full ak-sticky ak-top-[200px] max-lg:ak-flex-col max-lg:ak-top-[-250px]">
            <div class="ak-bg-neutral-900 ak-max-w-[651px] ak-w-full max-lg:ak-max-w-full">
            <img loading="lazy" src="{{ section.settings.image1 | img_url: '720x' }}" alt="Proprietary process illustration" class="max-lg:ak-max-w-full max-lg:ak-w-full" />
            </div>

            <div class="ak-flex ak-relative ak-flex-col ak-justify-center ak-items-end ak-self-stretch ak-pl-[101px] ak-my-auto ak-min-w-[240px] ak-w-[680px] max-lg:ak-max-w-full max-lg:ak-pl-0">
            <div class="ak-flex ak-flex-col ak-items-start ak-max-w-full ak-w-[576px]">
                <header class="ak-flex ak-flex-col ak-max-w-full ak-text-[70px] ak-w-[362px]">
                <p class="ak-leading-[60px] ak-text-[rgba(46,54,102,0.20)] ak-text-opacity-20">01</p>
                <h2 class="ak-flex-1 ak-shrink ak-self-stretch ak-py-2.5 ak-mt-4 ak-w-full ak-tracking-[1.4px] ak-border-[#2E3666] ak-border-t-[6px] ak-leading-[60px] ak-text-[#2E3666] max-lg:ak-text-[40px] max-lg:ak-leading-10">
                    {{ section.settings.content1_title | escape }}
                    <span class="ak-font-['Blisstwin']">{{ section.settings.content1_title_italic | escape }}</span>
                </h2>
                </header>

                <article class="ak-flex ak-flex-col ak-mt-8 ak-max-w-full ak-text-[#2E3666] ak-w-[550px] max-lg:ak-mt-4">
                <p class="ak-text-[24px] ak-leading-[140%] max-lg:ak-max-w-full max-lg:ak-text-[20px]">
                    Preserve pasteurized akkermansia is by far the
                    <a href="/pages/ingredient#Akkermansia" class="ak-inline-flex ak-items-center ak-justify-center ak-no-underline ak-border-b-[2px] ak-border-solid ak-border-[#2E3666] ak-hover:ak-font-semibold ak-hover:ak-text-[25px]">
                        most superior form
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 34" fill="none">
                            <path d="M26.0283 23.404C26.0283 23.6817 25.9179 23.948 25.7216 24.1444C25.5252 24.3408 25.2588 24.4511 24.9811 24.4511C24.7034 24.4511 24.4371 24.3408 24.2407 24.1444C24.0443 23.948 23.934 23.6817 23.934 23.404V12.576L11.761 24.749C11.5625 24.9339 11.2999 25.0346 11.0287 25.0298C10.7574 25.0251 10.4986 24.9152 10.3067 24.7233C10.1148 24.5314 10.0049 24.2726 10.0002 24.0013C9.99538 23.7301 10.0961 23.4675 10.281 23.269L22.4523 11.0943H11.6243C11.3466 11.0943 11.0802 10.984 10.8838 10.7876C10.6875 10.5912 10.5771 10.3249 10.5771 10.0471C10.5771 9.76942 10.6875 9.50308 10.8838 9.3067C11.0802 9.11032 11.3466 9 11.6243 9H24.9811C25.2588 9 25.5252 9.11032 25.7216 9.3067C25.9179 9.50308 26.0283 9.76942 26.0283 10.0471V23.404Z" fill="#2E3666"/>
                        </svg>
                    </a>
                    of akkermansia. We wanted full control of the quality of our hero ingredient, so we developed a proprietary process that increases the bio-availability of akkermansia, and ensures the quality you’re receiving is top notch. 
                </p>
                </article>
            </div>
            </div>
        </div>

        <!-- SECOND STICKY DIV -->
        <div class="ak-flex ak-items-center ak-pb-[64px] ak-max-w-[var(--page-width)] ak-w-full ak-bg-white ak-mx-auto max-lg:ak-max-w-full ak-sticky ak-top-[200px] max-lg:ak-flex-col max-lg:ak-top-[-250px]">
            <div class="ak-bg-neutral-900 ak-max-w-[651px] ak-w-full max-lg:ak-max-w-full">
            <img loading="lazy" src="{{ section.settings.image2 | img_url: '720x' }}" alt="Synergistic activation illustration" class="max-lg:ak-max-w-full max-lg:ak-w-full" />
            </div>

            <div class="ak-flex ak-relative ak-flex-col ak-justify-center ak-items-end ak-self-stretch ak-pl-[101px] ak-my-auto ak-min-w-[240px] ak-w-[680px] max-lg:ak-max-w-full max-lg:ak-pl-0">
            <div class="ak-flex ak-flex-col ak-items-start ak-max-w-full ak-w-[576px]">
                <header class="ak-flex ak-flex-col ak-max-w-full ak-text-[70px] ak-w-[362px]">
                <p class="ak-leading-[60px] ak-text-[rgba(46,54,102,0.20)] ak-text-opacity-20">02</p>
                <h2 class="ak-flex-1 ak-shrink ak-self-stretch ak-py-2.5 ak-mt-4 ak-w-full ak-tracking-[1.4px] ak-border-[#2E3666] ak-border-t-[6px] ak-leading-[60px] ak-text-[#2E3666] max-lg:ak-text-[36px] max-lg:ak-leading-10 max-lg:ak-tracking-[-0.72px]">
                    {{ section.settings.content2_title | escape }}
                    <span class="ak-font-['Blisstwin']">{{ section.settings.content2_title_italic | escape }}</span>
                </h2>
                </header>

                <article class="ak-flex ak-flex-col ak-mt-8 ak-max-w-full ak-text-[#2E3666] ak-w-[550px] max-lg:ak-mt-4">
                <p class="ak-text-[24px] ak-leading-[140%] max-lg:ak-max-w-full max-lg:ak-text-[20px]">
                    {{ section.settings.content2_text | escape }}
                </p>
                </article>
            </div>
            </div>
        </div>

        <!-- THIRD STICKY DIV -->
        <div class="ak-flex ak-items-center ak-pb-[64px] ak-max-w-[var(--page-width)] ak-w-full ak-bg-white ak-mx-auto max-lg:ak-max-w-full ak-sticky ak-top-[200px] max-lg:ak-flex-col max-lg:ak-top-[-250px]">
            <div class="ak-bg-neutral-900 ak-max-w-[651px] ak-w-full max-lg:ak-max-w-full">
            <img loading="lazy" src="{{ section.settings.image3 | img_url: '720x' }}" alt="Enteric Coated illustration" class="max-lg:ak-max-w-full max-lg:ak-w-full" />
            </div>

            <div class="ak-flex ak-relative ak-flex-col ak-justify-center ak-items-end ak-self-stretch ak-pl-[101px] ak-my-auto ak-min-w-[240px] ak-w-[680px] max-lg:ak-max-w-full max-lg:ak-pl-0">
            <div class="ak-flex ak-flex-col ak-items-start ak-max-w-full ak-w-[576px]">
                <header class="ak-flex ak-flex-col ak-max-w-full ak-text-[70px] ak-w-[470px]">
                <p class="ak-leading-[60px] ak-text-[rgba(46,54,102,0.20)] ak-text-opacity-20">03</p>
                <h2 class="ak-flex-1 ak-shrink ak-self-stretch ak-py-2.5 ak-mt-4 ak-w-full ak-tracking-[1.4px] ak-border-[#2E3666] ak-border-t-[6px] ak-leading-[60px] ak-text-[#2E3666] max-lg:ak-text-[36px] max-lg:ak-leading-10">
                    {{ section.settings.content3_title | escape }}
                    <span class="ak-font-['Blisstwin']">{{ section.settings.content3_title_italic | escape }}</span>
                </h2>
                </header>

                <article class="ak-flex ak-flex-col ak-mt-8 ak-max-w-full ak-text-[#2E3666] ak-w-[550px] max-lg:ak-mt-4">
                <p class="ak-text-[24px] ak-leading-[140%] max-lg:ak-max-w-full max-lg:ak-text-[20px]">
                    {{ section.settings.content3_text | escape }}
                </p>
                </article>
            </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "AK - OurApproach S1",
    "settings": [
    {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
    },
    {
        "type": "text",
        "id": "content1_title",
        "label": "Content 1 Title",
        "default": "Proprietary process"
    },
    {
        "type": "text",
        "id": "content1_title_italic",
        "label": "Content 1 Title",
        "default": "Proprietary process"
    },
    {
        "type": "richtext",
        "id": "content1_text",
        "label": "Content 1 Text"
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
    },
    {
        "type": "textarea",
        "id": "content2_title",
        "label": "Content 2 Title",
        "default": "Synergistic activation"
    },
    {
        "type": "text",
        "id": "content2_title_italic",
        "label": "Content 2 Title",
        "default": "Synergistic activation"
    },
    {
        "type": "textarea",
        "id": "content2_text",
        "label": "Content 2 Text",
        "default": "Liver degradation is multifaceted and demands a multi-pronged approach..."
    },
    {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
    },
    {
        "type": "text",
        "id": "content3_title",
        "label": "Content 3 Title",
        "default": "Enteric Coated"
    },
    {
        "type": "text",
        "id": "content3_title_italic",
        "label": "Content 3 Title",
        "default": "Enteric Coated"
    },
    {
        "type": "textarea",
        "id": "content3_text",
        "label": "Content 3 Text",
        "default": "The problem with most probiotics is that they never make it past the harsh environment..."
    }
    ],
    "presets": [
    {
        "name": "AK - OurApproach S1",
        "category": "AKKA OURAPPROACH"
    }
    ]
}
{% endschema %}
    