
    
<section id="section1" class="relative max-lg:px-[16px] font-['syne']">
    <div class="absolute top-0 right-[81px] w-fit py-[346px] h-[100%] max-lg:hidden">
        <svg class="sticky top-[346px]" xmlns="http://www.w3.org/2000/svg" width="16" height="150" viewBox="0 0 16 150" fill="none">
            <rect y="142" width="11" height="11" transform="rotate(-45 0 142)" fill="#2E3666"/>
            <line x1="8" y1="4.37114e-08" x2="7.99999" y2="150" stroke="#2E3666" stroke-width="2"/>
        </svg>
    </div>
    <div class="relative pt-[128px] max-lg:pt-[32px]">
        <!-- FIRST STICKY DIV -->
        <div class="flex items-center pb-[64px] max-w-[var(--page-width)] w-full bg-white mx-auto max-lg:max-w-full sticky top-[200px] max-lg:flex-col max-lg:top-[-250px]">
            <div class="bg-neutral-900 max-w-[651px] w-full max-lg:max-w-full">
            <img loading="lazy" src="{{ section.settings.image1 | img_url: '720x' }}" alt="Proprietary process illustration" class="max-lg:max-w-full max-lg:w-full" />
            </div>

            <div class="flex relative flex-col justify-center items-end self-stretch pl-[101px] my-auto min-w-[240px] w-[680px] max-lg:max-w-full max-lg:pl-0">
            <div class="flex flex-col items-start max-w-full w-[576px]">
                <header class="flex flex-col max-w-full text-[70px] w-[362px]">
                <p class="leading-[60px] text-[rgba(46,54,102,0.20)] text-opacity-20">01</p>
                <h2 class="flex-1 shrink self-stretch py-2.5 mt-4 w-full tracking-[1.4px] border-[#2E3666] border-t-[6px] leading-[60px] text-[#2E3666] max-lg:text-[40px] max-lg:leading-10">
                    {{ section.settings.content1_title | escape }}
                    <span class="font-['Blisstwin']">{{ section.settings.content1_title_italic | escape }}</span>
                </h2>
                </header>

                <article class="flex flex-col mt-8 max-w-full text-[#2E3666] w-[550px] max-lg:mt-4">
                <p class="text-[24px] leading-[140%] max-lg:max-w-full max-lg:text-[20px]">
                    Preserve pasteurized akkermansia is by far the
                    <a href="/pages/ingredient#Akkermansia" class="inline-flex items-center justify-center no-underline border-b-[2px] border-solid border-[#2E3666] hover:font-semibold hover:text-[25px]">
                        most superior form
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 34" fill="none">
                            <path d="M26.0283 23.404C26.0283 23.6817 25.9179 23.948 25.7216 24.1444C25.5252 24.3408 25.2588 24.4511 24.9811 24.4511C24.7034 24.4511 24.4371 24.3408 24.2407 24.1444C24.0443 23.948 23.934 23.6817 23.934 23.404V12.576L11.761 24.749C11.5625 24.9339 11.2999 25.0346 11.0287 25.0298C10.7574 25.0251 10.4986 24.9152 10.3067 24.7233C10.1148 24.5314 10.0049 24.2726 10.0002 24.0013C9.99538 23.7301 10.0961 23.4675 10.281 23.269L22.4523 11.0943H11.6243C11.3466 11.0943 11.0802 10.984 10.8838 10.7876C10.6875 10.5912 10.5771 10.3249 10.5771 10.0471C10.5771 9.76942 10.6875 9.50308 10.8838 9.3067C11.0802 9.11032 11.3466 9 11.6243 9H24.9811C25.2588 9 25.5252 9.11032 25.7216 9.3067C25.9179 9.50308 26.0283 9.76942 26.0283 10.0471V23.404Z" fill="#2E3666"/>
                        </svg>
                    </a>
                    of akkermansia. We wanted full control of the quality of our hero ingredient, so we developed a proprietary process that increases the bio-availability of akkermansia, and ensures the quality you’re receiving is top notch. 
                </p>
                </article>
            </div>
            </div>
        </div>

        <!-- SECOND STICKY DIV -->
        <div class="flex items-center pb-[64px] max-w-[var(--page-width)] w-full bg-white mx-auto max-lg:max-w-full sticky top-[200px] max-lg:flex-col max-lg:top-[-250px]">
            <div class="bg-neutral-900 max-w-[651px] w-full max-lg:max-w-full">
            <img loading="lazy" src="{{ section.settings.image2 | img_url: '720x' }}" alt="Synergistic activation illustration" class="max-lg:max-w-full max-lg:w-full" />
            </div>

            <div class="flex relative flex-col justify-center items-end self-stretch pl-[101px] my-auto min-w-[240px] w-[680px] max-lg:max-w-full max-lg:pl-0">
            <div class="flex flex-col items-start max-w-full w-[576px]">
                <header class="flex flex-col max-w-full text-[70px] w-[362px]">
                <p class="leading-[60px] text-[rgba(46,54,102,0.20)] text-opacity-20">02</p>
                <h2 class="flex-1 shrink self-stretch py-2.5 mt-4 w-full tracking-[1.4px] border-[#2E3666] border-t-[6px] leading-[60px] text-[#2E3666] max-lg:text-[36px] max-lg:leading-10 max-lg:tracking-[-0.72px]">
                    {{ section.settings.content2_title | escape }}
                    <span class="font-['Blisstwin']">{{ section.settings.content2_title_italic | escape }}</span>
                </h2>
                </header>

                <article class="flex flex-col mt-8 max-w-full text-[#2E3666] w-[550px] max-lg:mt-4">
                <p class="text-[24px] leading-[140%] max-lg:max-w-full max-lg:text-[20px]">
                    {{ section.settings.content2_text | escape }}
                </p>
                </article>
            </div>
            </div>
        </div>

        <!-- THIRD STICKY DIV -->
        <div class="flex items-center pb-[64px] max-w-[var(--page-width)] w-full bg-white mx-auto max-lg:max-w-full sticky top-[200px] max-lg:flex-col max-lg:top-[-250px]">
            <div class="bg-neutral-900 max-w-[651px] w-full max-lg:max-w-full">
            <img loading="lazy" src="{{ section.settings.image3 | img_url: '720x' }}" alt="Enteric Coated illustration" class="max-lg:max-w-full max-lg:w-full" />
            </div>

            <div class="flex relative flex-col justify-center items-end self-stretch pl-[101px] my-auto min-w-[240px] w-[680px] max-lg:max-w-full max-lg:pl-0">
            <div class="flex flex-col items-start max-w-full w-[576px]">
                <header class="flex flex-col max-w-full text-[70px] w-[470px]">
                <p class="leading-[60px] text-[rgba(46,54,102,0.20)] text-opacity-20">03</p>
                <h2 class="flex-1 shrink self-stretch py-2.5 mt-4 w-full tracking-[1.4px] border-[#2E3666] border-t-[6px] leading-[60px] text-[#2E3666] max-lg:text-[36px] max-lg:leading-10">
                    {{ section.settings.content3_title | escape }}
                    <span class="font-['Blisstwin']">{{ section.settings.content3_title_italic | escape }}</span>
                </h2>
                </header>

                <article class="flex flex-col mt-8 max-w-full text-[#2E3666] w-[550px] max-lg:mt-4">
                <p class="text-[24px] leading-[140%] max-lg:max-w-full max-lg:text-[20px]">
                    {{ section.settings.content3_text | escape }}
                </p>
                </article>
            </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "AK - OurApproach S1",
    "settings": [
    {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
    },
    {
        "type": "text",
        "id": "content1_title",
        "label": "Content 1 Title",
        "default": "Proprietary process"
    },
    {
        "type": "text",
        "id": "content1_title_italic",
        "label": "Content 1 Title",
        "default": "Proprietary process"
    },
    {
        "type": "richtext",
        "id": "content1_text",
        "label": "Content 1 Text"
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
    },
    {
        "type": "textarea",
        "id": "content2_title",
        "label": "Content 2 Title",
        "default": "Synergistic activation"
    },
    {
        "type": "text",
        "id": "content2_title_italic",
        "label": "Content 2 Title",
        "default": "Synergistic activation"
    },
    {
        "type": "textarea",
        "id": "content2_text",
        "label": "Content 2 Text",
        "default": "Liver degradation is multifaceted and demands a multi-pronged approach..."
    },
    {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
    },
    {
        "type": "text",
        "id": "content3_title",
        "label": "Content 3 Title",
        "default": "Enteric Coated"
    },
    {
        "type": "text",
        "id": "content3_title_italic",
        "label": "Content 3 Title",
        "default": "Enteric Coated"
    },
    {
        "type": "textarea",
        "id": "content3_text",
        "label": "Content 3 Text",
        "default": "The problem with most probiotics is that they never make it past the harsh environment..."
    }
    ],
    "presets": [
    {
        "name": "AK - OurApproach S1",
        "category": "AKKA OURAPPROACH"
    }
    ]
}
{% endschema %}
    