<style>
    #hero {
        background-image: url({{ section.settings.background_image | img_url: 'master' }});
    }
    
    /* #hero .circlebg {
        background-image: url({{ section.settings.circle_graphic | img_url: 'master' }});
    } */
    #hero .textbg {
        background-image: url({{ section.settings.text_background | img_url: 'master' }});
    }
    #hero .bcircle {
      width: 1034px;
      height: 1034px;
      border: 2px solid #BCBCBC;
      border-radius: 100%;
    }
    #hero .mask {
      -webkit-mask: radial-gradient(30px,#0000 98%,#000) 10000% 10000%/99.5% 99.5%;
    }
    
    @media(max-width: 1200px) {
        #hero .circlebg {
            background-image: none;
        }
        #hero .textbg {
         background-image:none;
        }
        .rotate-mobile {
          -webkit-animation:spin 16s linear infinite;
          -moz-animation:spin 16s linear infinite;
          animation:spin 16s linear infinite;
        }
    }
</style>
<section id="hero" class="bg-no-repeat bg-cover bg-center min-h-[980px] flex items-center relative max-md:min-h-[660px] overflow-hidden xl:h-[980px] ">  

  <div class="absolute w-full h-full z-10 max-[1200px]:hidden">
    <div class="relative w-full h-full ">

      <div class="absolute left-[-25%] top-[-27px] w-[1034px] h-[1034px]">
        <div class="rotate-me left-circle bcircle relative rotate-[90deg]">
          <div class="w-[11px] h-[11px] bg-[#BCBCBC] rotate-[-45deg] absolute top-[430px] z-20"></div>
        </div>
      </div>

      <div class="absolute left-[50%] top-[-27px] translate-x-[-50%] w-[1034px] h-[1034px]">
        <div class="rotate-me center-circle bcircle relative">
          <div class="w-[11px] h-[11px] bg-[#BCBCBC] rotate-[-45deg] absolute top-[430px] z-20"></div>
        </div>
      </div>  

      <div class="absolute right-[-25%] top-[-27px] w-[1034px] h-[1034px]">
        <div class="rotate-me left-circle bcircle relative rotate-[90deg]">
          <div class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-full border-2 border-solid border-[#BCBCBC] w-[592px] h-[592px]"></div>
          <div class="w-[11px] h-[11px] bg-[#BCBCBC] rotate-[-45deg] absolute top-[430px] z-20"></div>
        </div>
      </div>  

      <div class="absolute left-[50%] top-[-27px] translate-x-[-50%] w-[1034px] h-[1034px]">
        <div class="rotate-me center-circle bcircle relative">
          
        </div>
      </div>  
      
        
    </div>
  </div>

  <div class="circlebg absolute top-0 left-0 z-0 h-full w-full bg-no-repeat bg-cover bg-center max-md:w-[348px] max-md:h-[348px] max-md:inset-[50%] max-md:translate-x-[-50%] max-md:translate-y-[-50%]">
    <img class="rotate-mobile hidden max-[1200px]:block" src="{{ section.settings.circle_graphic_mobile | img_url: 'master' }}" alt="">
  </div>

  <div class="flex items-center justify-center m-auto h-full">
    <div class="textbg title overflow-hidden relative z-10 bg-contain bg-center bg-no-repeat w-[971px] max-[1200px]:w-fit max-md:bg-none">
      <h1 class="animation-moveup text-white text-[70px] leading-[normal] tracking-[-1.4px] capitalize font-['syne'] max-md:text-[40px] text-center">
        {{ section.settings.heading }}
        <span class="font-['Blisstwin'] max-md:block">{{ section.settings.subheading }}</span>
      </h1>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AK - OurApproach Hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our roadmap to"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "better health"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "circle_graphic",
      "label": "Circle Graphic"
    },
    {
      "type": "image_picker",
      "id": "circle_graphic_mobile",
      "label": "Circle Graphic (Mobile)"
    },
    {
      "type": "image_picker",
      "id": "text_background",
      "label": "Text Background Image"
    }
  ],
  "presets": [
    {
      "name": "AK - OurApproach Hero",
      "category": "AKKA OURAPPROACH"
    }
  ]
}
{% endschema %}
