<section id="footer" class="ak-flex ak-flex-col ak-bg-[#EDEEF5] ak-font-['syne']">
  <div class="ak-flex ak-flex-col ak-py-16 ak-w-full max-[1024px]:ak-px-[16px] max-[1024px]:ak-max-w-full ak-max-w-[1328px] ak-mx-auto">
    <div class="ak-flex ak-flex-wrap ak-gap-5 max-[1024px]:ak-gap-[21px] ak-justify-between ak-items-start ak-w-full">
      <h2 class="ak-text-[22px] ak-text-[#2E3666] ak-w-[597px] max-[1024px]:ak-max-w-full ak-max-[1200px]:text-[20px] ak-max-[1200px]:leading-[140%] ak-font-['syne']">
        {{ section.settings.newsletter_title | escape }}
      </h2>
      <form class="ak-relative ak-leading-7 ak-rounded-[100px] max-[1024px]:ak-max-w-full" onsubmit="alconfirmsubscribe(event)">
        <label for="emailInput" class="ak-sr-only">Enter your email</label>
        <input id="emailInput" type="email" placeholder="Enter your email" aria-label="Enter your email" class="ak-font-['work_sans'] ak-text-[18px] ak-pl-6 ak-tracking-[-0.36px] ak-bg-white ak-min-h-[55px] ak-rounded-[100px] !ak-text-[#2E3666] ak-w-[562px] max-[1024px]:ak-pl-5 max-[1024px]:ak-max-w-full" />
        <button type="submit" class="button after:ak-content-[unset] ak-min-h-[auto] ak-min-w-[auto] ak-w-fit !ak-text-[18px] !ak-h-[55px] !ak-font-bold ak-absolute ak-right-0 ak-top-0 max-[1024px]:!ak-px-[24px] !ak-font-['Work_Sans'] ak-max-[1200px]:!text-[16px]">
          Sign me up!
        </button>
      </form>
      
      <script>
        function alconfirmsubscribe(event) {
          event.preventDefault(); // Prevent form default submission
          const emailInput = document.getElementById("emailInput");
          const email = emailInput.value;
      
          console.log("event_subscribe", email);
          dataLayer.push({ 'event': 'event_subscribe', 'email': email });
          
          alert("Thank you for Subscribing.");
          emailInput.value = ""; // Clear input after submission
      
          return false; // Prevent form default submission
        }
      </script>
    </div>
    <nav class="ak-flex ak-flex-wrap ak-gap-10 ak-justify-between ak-items-start ak-pt-8 ak-mt-[39px] ak-max-w-full ak-text-lg ak-border-t-4 ak-border-[#2E3666] ak-text-[#2E3666] ak-w-full ak-capitalize max-[1024px]:ak-flex-col max-[1024px]:ak-gap-[32px]">
      <div class="ak-w-[161px]">
        {% if section.settings.footer_logo %}
          <img class="" src="{{ section.settings.footer_logo | img_url: 'original' }}" alt="Footer Logo">
        {% endif %}
      </div>
      <div class="ak-flex ak-flex-col">
        <h3 class="ak-gap-2.5 ak-self-start ak-p-0.5 ak-font-bold ak-whitespace-nowrap ak-text-[#2E3666] ak-font-['syne']">SITEMAP</h3>
        <ul class="ak-flex ak-flex-col ak-items-start ak-mt-4 ak-text-[18px] ak-max-[1200px]:mt-2">
          {% if section.settings.information_links %}
            {% for link in linklists[section.settings.information_links].links %}
              <li class="ak-gap-2.5 ak-self-stretch ak-p-0.5 ak-mt-2 ak-max-[1200px]:mt-0">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          {% endif %}          
        </ul>
      </div>
      <div class="ak-flex ak-flex-col">
        <div class="ak-flex ak-flex-col">
          <h3 class="ak-gap-2.5 ak-self-start ak-p-0.5 ak-font-bold ak-uppercase ak-whitespace-nowrap ak-text-[#2E3666] ak-font-['syne']">Information</h3>
          <ul class="ak-flex ak-flex-col ak-items-start ak-mt-4 ak-max-[1200px]:mt-2">
            {% if section.settings.sitemap_links %}
              {% for link in linklists[section.settings.sitemap_links].links %}
                <li class="ak-gap-2.5 ak-self-stretch ak-p-0.5 ak-mt-2 ak-max-[1200px]:mt-0">
                  <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                </li>
              {% endfor %}
            {% endif %}            
          </ul>
        </div>
      </div>
      <div class="ak-flex ak-flex-col">
        <div class="ak-flex ak-flex-col">
          <h3 class="ak-gap-2.5 ak-self-stretch ak-p-0.5 ak-font-bold ak-text-[#2E3666] ak-font-['syne']">CUSTOMER SERVICE</h3>
          <address class="ak-gap-2.5 ak-self-start ak-p-0.5 ak-mt-4 ak-leading-7 ak-not-italic ak-normal-case ak-max-[1200px]:mt-2">            
            <span class="ak-font-['Poppins']">{{ section.settings.contact_email }}</span> <br />
            {{ section.settings.contact_phone }} <br />
            {{ section.settings.contact_address }}
          </address>
        </div>
      </div>
    </nav>
    <footer class="ak-flex ak-flex-col ak-mt-10 ak-w-full ak-max-w-[1328px] ak-text-[#2E3666] max-[1024px]:ak-max-w-full">
      <div class="ak-flex ak-flex-wrap ak-gap-10 ak-items-center ak-justify-between ak-text-[20px] ak-leading-[145%] ak-tracking-[0.2px] max-[1024px]:ak-max-w-full ak-pr-[10px] max-[1024px]:ak-gap-[10px] max-[1024px]:ak-pr-0">
        <p class="ak-self-stretch ak-my-auto ak-w-[874px] max-[1024px]:ak-max-w-full max-[1024px]:ak-w-full max-[1024px]:ak-text-[16px]">© 2024 Enclave BioActives. All rights reserved.</p>
        <div class="ak-flex ak-items-center ak-justify-between ak-w-[58px]">
          {% if section.settings.facebook_icon %}
            <a href="{{ section.settings.facebook_url | default: "https://www.facebook.com/akkasuperbiotics/" }}" class="ak-max-w-[25px] ak-w-full">
              <img src="{{ section.settings.facebook_icon | img_url: 'original' }}" alt="Facebook">
            </a>
          {% endif %}
          {% if section.settings.instagram_icon %}
            <a href="{{ section.settings.instagram_url | default: "https://www.instagram.com/tryakka/" }}" class="ak-max-w-[25px] ak-w-full">
              <img src="{{ section.settings.instagram_icon | img_url: 'original' }}" alt="Instagram">
            </a>
          {% endif %}
        </div>
      </div>
      <hr class="ak-mt-4 ak-w-full ak-min-h-0 ak-border-2 ak-border-solid ak-border-[#2E3666] max-[1024px]:ak-max-w-full" />
      <p class="ak-mt-4 ak-text-lg ak-tracking-[-0.18px] ak-leading-[145%] max-[1024px]:ak-max-w-full ak-text-[var(--footercolor)] max-[1024px]:ak-text-[14px] max-[1024px]:ak-tracking-[-0.14px]">
        *These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. Individual results may vary, and testimonials are not claimed to represent typical results. All testimonials are by real people, and may not reflect the typical purchaser's experience, and are not intended to represent or guarantee that anyone will achieve the same or similar results.
      </p>
    </footer>
  </div>
</section>

<style>
  {% if template == 'index' or template contains 'ingredient' %}
    :root {
      --footercolor: #2E3666;
    }
  {% else %}
    :root {
      --footercolor: rgba(46, 54, 102, 0.50);
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "AK - Footer",
  "enabled_on": {
      "groups": ["footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Sign up for our newsletter and get first access to the very best of our products, inspiration, and community."
    },
    {
      "type": "link_list",
      "id": "sitemap_links",
      "label": "Sitemap Links"
    },
    {
      "type": "link_list",
      "id": "information_links",
      "label": "Information Links"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "image_picker",
      "id": "facebook_icon",
      "label": "Facebook Icon"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "image_picker",
      "id": "instagram_icon",
      "label": "Instagram Icon"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "default": "hello@tryakka.com"
    },
    {
      "type": "text",
      "id": "contact_phone",
      "label": "Contact Phone",
      "default": "844-808-(AKKA) 2552"
    },
    {
      "type": "text",
      "id": "contact_address",
      "label": "Contact Address",
      "default": "Matawan, NJ, 07747"
    }
  ],
  "presets": [
    {
      "name": "AK - Footer",
      "category": "AKKA"
    }
  ]
}
{% endschema %}
