<section id="footer" class="flex flex-col bg-[#EDEEF5] font-['syne']">
  <div class="flex flex-col py-16 w-full max-[1024px]:px-[16px] max-[1024px]:max-w-full max-w-[1328px] mx-auto">
    <div class="flex flex-wrap gap-5 max-[1024px]:gap-[21px] justify-between items-start w-full">
      <h2 class="text-[22px] text-[#2E3666] w-[597px] max-[1024px]:max-w-full max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">
        {{ section.settings.newsletter_title | escape }}
      </h2>
      <form class="relative leading-7 rounded-[100px] max-[1024px]:max-w-full">
        <label for="emailInput" class="sr-only">Enter your email</label>
        <input id="emailInput" type="email" placeholder="Enter your email" aria-label="Enter your email" class="font-['work_sans'] text-[18px] pl-6 tracking-[-0.36px] bg-white min-h-[55px] rounded-[100px] !text-[#2E3666] w-[562px] max-[1024px]:pl-5 max-[1024px]:max-w-full" />
        <button type="submit" class="button w-fit !text-[18px] !h-[55px] !font-bold absolute right-0 top-0 max-[1024px]:!px-[24px] !font-['Work_Sans'] max-[1200px]:!text-[16px]">
          Sign me up!
        </button>
      </form>
    </div>
    <nav class="flex flex-wrap gap-10 justify-between items-start pt-8 mt-[39px] max-w-full text-lg border-t-4 border-[#2E3666] text-[#2E3666] w-full capitalize max-[1024px]:flex-col max-[1024px]:gap-[32px]">
      <div class="w-[182px]">
        {% if section.settings.footer_logo %}
          <img class="w-[90px]" src="{{ section.settings.footer_logo | img_url: 'original' }}" alt="Footer Logo">
        {% endif %}
      </div>
      <div class="flex flex-col">
        <h3 class="gap-2.5 self-start p-0.5 font-bold whitespace-nowrap">SITEMAP</h3>
        <ul class="flex flex-col items-start mt-4 text-[18px] max-[1200px]:mt-2">
          {% if section.settings.information_links %}
            {% for link in linklists[section.settings.information_links].links %}
              <li class="gap-2.5 self-stretch p-0.5 mt-2 max-[1200px]:mt-0">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          {% endif %}          
        </ul>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col">
          <h3 class="gap-2.5 self-start p-0.5 font-bold uppercase whitespace-nowrap">Information</h3>
          <ul class="flex flex-col items-start mt-4 max-[1200px]:mt-2">
            {% if section.settings.sitemap_links %}
              {% for link in linklists[section.settings.sitemap_links].links %}
                <li class="gap-2.5 self-stretch p-0.5 mt-2 max-[1200px]:mt-0">
                  <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                </li>
              {% endfor %}
            {% endif %}            
          </ul>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col">
          <h3 class="gap-2.5 self-stretch p-0.5 font-bold">CUSTOMER SERVICE</h3>
          <address class="gap-2.5 self-start p-0.5 mt-4 leading-7 not-italic normal-case max-[1200px]:mt-2">            
            <span class="font-['Poppins']">{{ section.settings.contact_email }}</span> <br />
            {{ section.settings.contact_phone }} <br />
            {{ section.settings.contact_address }}
          </address>
        </div>
      </div>
    </nav>
    <footer class="flex flex-col mt-10 w-full max-w-[1328px] text-[#2E3666] max-[1024px]:max-w-full">
      <div class="flex flex-wrap gap-10 items-center justify-between text-[20px] leading-[145%] tracking-[0.2px] max-[1024px]:max-w-full pr-[10px] max-[1024px]:gap-[10px] max-[1024px]:pr-0">
        <p class="self-stretch my-auto w-[874px] max-[1024px]:max-w-full max-[1024px]:w-full max-[1024px]:text-[16px]">© 2024 Enclave BioActives. All rights reserved.</p>
        <div class="flex items-center justify-between w-[58px]">
          {% if section.settings.facebook_icon %}
            <a href="#" class="max-w-[25px] w-full">
              <img src="{{ section.settings.facebook_icon | img_url: 'original' }}" alt="Facebook">
            </a>
          {% endif %}
          {% if section.settings.instagram_icon %}
            <a href="#" class="max-w-[25px] w-full">
              <img src="{{ section.settings.instagram_icon | img_url: 'original' }}" alt="Instagram">
            </a>
          {% endif %}
        </div>
      </div>
      <hr class="mt-4 w-full min-h-0 border-2 border-solid border-[#2E3666] max-[1024px]:max-w-full" />
      <p class="mt-4 text-lg tracking-[-0.18px] leading-[145%] max-[1024px]:max-w-full text-[rgba(46,54,102,0.50)] max-[1024px]:text-[14px] max-[1024px]:tracking-[-0.14px]" style="color:{{ section.settings.color }};">
        *These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. Individual results may vary, and testimonials are not claimed to represent typical results. All testimonials are by real people, and may not reflect the typical purchaser's experience, and are not intended to represent or guarantee that anyone will achieve the same or similar results.
      </p>
    </footer>
  </div>
</section>

{% schema %}
{
  "name": "AK - Footer",
  "enabled_on": {
      "groups": ["footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Sign up for our newsletter and get first access to the very best of our products, inspiration, and community."
    },
    {
      "type": "link_list",
      "id": "sitemap_links",
      "label": "Sitemap Links"
    },
    {
      "type": "link_list",
      "id": "information_links",
      "label": "Information Links"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "image_picker",
      "id": "facebook_icon",
      "label": "Facebook Icon"
    },
    {
      "type": "image_picker",
      "id": "instagram_icon",
      "label": "Instagram Icon"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "default": "hello@tryakka.com"
    },
    {
      "type": "text",
      "id": "contact_phone",
      "label": "Contact Phone",
      "default": "844-808-(AKKA) 2552"
    },
    {
      "type": "text",
      "id": "contact_address",
      "label": "Contact Address",
      "default": "Matawan, NJ, 07747"
    },
    {      
      "type": "color",
      "id": "color",
      "label": "Footer Background Color",
      "default": "rgba(46,54,102,0.50)"
    }

  ],
  "presets": [
    {
      "name": "AK - Footer",
      "category": "AKKA"
    }
  ]
}
{% endschema %}
