<section id="section7" class="overflow-hidden pt-24 font-['syne'] max-[1200px]:pt-0" style="background: linear-gradient(126deg, rgba(244, 217, 204, 0.00) 63.13%, #F4D9CC 102.44%), linear-gradient(0deg, #F4D9CC 0%, #F4D9CC 100%), linear-gradient(0deg, rgba(244, 217, 204, 0.20) 0%, rgba(244, 217, 204, 0.20) 100%), linear-gradient(298deg, #D2B699 -6.57%, #C3A789 18.13%, #D5B99D 61.65%, #FFE8D0 108.57%);">
  <div class="flex max-[1200px]:flex-col-reverse justify-center pl-[200px] max-[1200px]:pl-0">
    <div class="flex flex-col w-[624px] max-[1200px]:w-full  max-[1200px]:p-[16px] max-[1200px]:pb-[64px]">
      <div class="flex flex-col self-stretch my-auto text-[#2E3666] max-[1200px]:max-w-full max-[1200px]:mt-0">
        <h1 class="flex flex-col max-w-full text-[70px] leading-none w-[624px] max-[1200px]:text-[40px] capitalize">
          <span class="overflow-hidden max-w-full max-[1200px]:text-[40px]">{{ section.settings.title }}</span>
          <span class="overflow-hidden py-0.5 mt-2 w-full max-[1200px]:max-w-full max-[1200px]:text-[40px] font-['blisstwin'] max-lg:tracking-[-0.76px]">{{ section.settings.subtitle }}</span>
        </h1>
        <div class="mt-8 w-full [&>p]:text-[22px] [&>p]:max-lg:text-[20px] [&>p]:tracking-[0.44px] [&>p]:leading-[140%] max-[1200px]:max-w-full [&>p]:text-[#2E3666]">
          {{ section.settings.description }}
        </div>
        <div class="my-[32px] max-w-full w-[573px]">
          <h2 class="text-2xl max-[1200px]:text-[18px] font-semibold tracking-[0.48px] py-[16px] max-[1200px]:py-[8px] whitespace-nowrap max-w-[566px] max-[1200px]:max-w-full">
            BENEFITS:
          </h2>
          <ul class="list-none p-0">
            {% for benefit in section.blocks %}
            <li class="flex gap-2.5 max-[1200px]:gap-[10px] items-center max-[1200px]:items-start py-4 border-t border-[#2E3666] max-[1200px]:max-w-full">
              <img loading="lazy" src="{{ benefit.settings.icon_image | img_url: 'master' }}" alt="" class="object-contain shrink-0 w-6 aspect-square" />
              <span class="min-w-[240px] w-[539px] max-[1200px]:w-full max-[1200px]:max-w-full text-[22px] max-[1200px]:text-[20px] tracking-[0.44px]">
                {{ benefit.settings.benefit_text }}
              </span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <a href="{{ section.settings.button_link }}" class="button w-fit max-[1200px]:mx-auto gap-[16px]">
          <span>{{ section.settings.button_text }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="34" viewBox="0 0 22 34" fill="none">
            <path d="M19.3476 23.404C19.3476 23.6817 19.2373 23.948 19.0409 24.1444C18.8445 24.3408 18.5782 24.4511 18.3005 24.4511C18.0227 24.4511 17.7564 24.3408 17.56 24.1444C17.3636 23.948 17.2533 23.6817 17.2533 23.404V12.576L5.08033 24.749C4.88183 24.9339 4.61928 25.0346 4.348 25.0298C4.07672 25.0251 3.81789 24.9152 3.62604 24.7233C3.43418 24.5314 3.32429 24.2726 3.3195 24.0013C3.31471 23.7301 3.41541 23.4675 3.60038 23.269L15.7716 11.0943H4.94362C4.6659 11.0943 4.39956 10.984 4.20318 10.7876C4.00681 10.5912 3.89648 10.3249 3.89648 10.0471C3.89648 9.76942 4.00681 9.50308 4.20318 9.3067C4.39956 9.11032 4.6659 9 4.94362 9H18.3005C18.5782 9 18.8445 9.11032 19.0409 9.3067C19.2373 9.50308 19.3476 9.76942 19.3476 10.0471V23.404Z" fill="#EDEEF5"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex flex-col ml-5 w-[905px] max-[1200px]:ml-0 max-[1200px]:w-full relative">
      <img loading="lazy" src="{{ section.settings.background_image_desktop | img_url: 'master'  }}" class="object-cover grow w-full aspect-[0.97] max-[1200px]:mt-10 max-[1200px]:max-w-full max-[1200px]:hidden" />
      <img loading="lazy" src="{{ section.settings.background_image_mobile | img_url: 'master'  }}" class="w-full hidden max-[1200px]:block" />
      <div class="w-[147px] absolute top-0 right-[150px] max-md:top-[21px] max-md:right-[16px]">
        <div class="relative">
          <img class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]" src="{{ section.settings.icon_image_check | img_url: 'master'  }}" alt="">
          <svg class="rotate-me" width="147" height="148" viewBox="0 0 147 148" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="73.5" cy="73.5" r="73" stroke="#3E488B"/>
            <path d="M17.2305 89.4915L19.1004 91.8957L17.3642 94.4335L20.2358 93.4317L22.1058 95.9027L22.0389 92.8307L24.9774 91.8289L22.0389 90.9607L21.9723 87.8887L20.169 90.3597L17.2305 89.4915Z" fill="#3E488B"/>
            <path d="M24.3779 100.041L25.58 101.577L24.4448 103.18L26.2479 102.579L27.4499 104.115V102.178L29.3199 101.51L27.3833 100.976V98.9727L26.2479 100.575L24.3779 100.041Z" fill="#3E488B"/>
            <path d="M16.8975 79.2717L18.0327 80.8077L16.8975 82.4105L18.7674 81.8095L19.9695 83.3455V81.4087L21.7727 80.7409L19.9026 80.2066V78.2031L18.7674 79.8059L16.8975 79.2717Z" fill="#3E488B"/>
            <path d="M131.435 88.8892L129.765 91.4938L131.769 93.898L128.764 93.1634L127.161 95.768L126.96 92.6959L123.955 91.9613L126.827 90.7592L126.626 87.7539L128.563 90.0913L131.435 88.8892Z" fill="#3E488B"/>
            <path d="M125.294 100.043L124.225 101.713L125.494 103.249L123.557 102.781L122.556 104.451L122.422 102.447L120.485 101.98L122.288 101.245L122.155 99.3086L123.424 100.778L125.294 100.043Z" fill="#3E488B"/>
            <path d="M130.901 78.7369L129.899 80.4065L131.168 81.8758L129.231 81.4083L128.163 83.0779L128.029 81.1412L126.159 80.6737L127.962 79.8723L127.829 77.9355L129.098 79.4716L130.901 78.7369Z" fill="#3E488B"/>
            <path d="M100.38 100.443C103.852 96.97 106.591 92.8962 108.527 88.3549C110.531 83.68 111.532 78.6713 111.532 73.5957C111.532 68.5201 110.531 63.5113 108.527 58.8365C106.591 54.2952 103.852 50.2214 100.38 46.7486C96.9069 43.2759 92.8331 40.5377 88.2918 38.601C83.6169 36.5975 78.6082 35.5957 73.4658 35.5957C68.3235 35.5957 63.3815 36.5975 58.7066 38.601C54.1653 40.5377 50.0914 43.2759 46.6186 46.7486C43.1458 50.2214 40.4079 54.2952 38.4712 58.8365C36.4677 63.5113 35.4658 68.5201 35.4658 73.5957C35.4658 78.6713 36.4677 83.68 38.4712 88.3549C40.4079 92.8962 43.1458 96.9032 46.6186 100.443C50.0914 103.915 54.1653 106.654 58.7066 108.59C68.0564 112.531 78.8753 112.531 88.2918 108.59C92.8331 106.654 96.9069 103.915 100.38 100.443ZM36.6679 73.5289C36.6679 53.2266 53.2304 36.6642 73.5326 36.6642C93.8349 36.6642 110.397 53.2266 110.397 73.5289C110.397 93.8312 93.8349 110.394 73.5326 110.394C53.2304 110.394 36.6679 93.8312 36.6679 73.5289Z" fill="#3E488B"/>
            <path d="M13.1613 61.5751C13.2949 60.7069 13.4952 59.9723 13.6955 59.3713C13.8959 58.7702 14.2299 58.2359 14.6306 57.7684C15.0313 57.301 15.4988 57.0338 16.0998 56.8335C16.7009 56.6999 17.3687 56.6331 18.1701 56.8335C19.1719 56.967 19.9733 57.3677 20.5076 57.902C21.1086 58.4363 21.5092 59.1709 21.6428 59.9723C21.8432 60.7737 21.8432 61.7755 21.6428 62.844C21.6428 63.3115 21.4425 63.779 21.309 64.3133L25.9837 65.0479L25.583 67.7192L12.627 65.6489C12.6937 64.1797 12.8273 62.7772 13.0276 61.5083L13.1613 61.5751ZM19.5725 62.844C19.6393 62.243 19.7061 61.7087 19.5725 61.2412C19.5057 60.7737 19.3055 60.4398 19.0383 60.1727C18.7712 59.9055 18.3037 59.7052 17.7694 59.6384C17.3019 59.5716 16.8344 59.6384 16.5005 59.772C16.1666 59.9055 15.8995 60.1727 15.6992 60.5066C15.4988 60.8405 15.3653 61.308 15.2985 61.9091C15.2985 62.243 15.1648 62.7772 15.1648 63.4451L19.3053 64.1129C19.3721 63.779 19.5057 63.3783 19.5725 62.9108V62.844Z" fill="#3E488B"/>
            <path d="M31.2571 47.8151L30.2554 50.4197L26.9162 50.2194L25.2466 54.4267L27.8511 56.5638L26.8494 59.1684L16.3643 50.019L17.4328 47.3477L31.324 47.7483L31.2571 47.8151ZM20.9057 50.954L23.4435 53.0243L24.5787 50.1526L19.57 49.8854L20.9057 50.954Z" fill="#3E488B"/>
            <path d="M19.7031 42.0706L25.1128 33.7227L26.9827 34.9915L25.0459 37.9968L34.1953 43.8738L32.726 46.1444L23.6435 40.2675L21.6399 43.3395L19.77 42.0706H19.7031Z" fill="#3E488B"/>
            <path d="M34.7992 34.1262L37.2036 36.5304L41.6111 32.1895L43.1472 33.7923L36.8695 40.0032L27.6533 30.6535L33.7975 24.5762L35.3336 26.179L31.1262 30.3196L33.33 32.5234L37.2036 28.65L38.6728 30.186L34.7992 33.9927V34.1262Z" fill="#3E488B"/>
            <path d="M46.489 31.5884L44.2853 32.9241L37.54 21.7044L39.8775 20.3019L49.0937 25.3107L47.8914 23.374L44.4188 17.6306L46.6225 16.2949L53.3678 27.5146L51.0303 28.917L41.6806 23.7747L42.8827 25.7114L46.4222 31.6552L46.489 31.5884Z" fill="#3E488B"/>
            <path d="M50.4932 14.5596L59.9763 11.6211L60.5776 13.7582L57.1047 14.8267L60.3104 25.1782L57.7726 25.9796L54.5669 15.6281L51.0942 16.6967L50.4932 14.5596Z" fill="#3E488B"/>
            <path d="M72.7314 10.1504C73.5996 10.1504 74.3342 10.2172 75.002 10.3507C75.6698 10.4843 76.2041 10.7514 76.6716 11.0186C77.2059 11.3525 77.5399 11.7532 77.807 12.3542C78.0741 12.9553 78.2077 13.6231 78.2077 14.4245C78.2077 15.4263 77.9407 16.2277 77.4732 16.8955C77.0057 17.5634 76.4046 18.0309 75.6032 18.3648C74.8018 18.6987 73.8668 18.8323 72.7982 18.8323C72.3307 18.8323 71.8632 18.8323 71.2621 18.7655V23.4403H68.5908V10.3507C70.1268 10.2172 71.4626 10.1504 72.7982 10.1504H72.7314ZM72.531 16.6952C73.1989 16.6952 73.6665 16.6952 74.134 16.4948C74.5347 16.3613 74.8686 16.0941 75.1357 15.7602C75.4028 15.4263 75.4695 14.9588 75.4695 14.4245C75.4695 13.9571 75.3361 13.4896 75.1357 13.2224C74.9354 12.8885 74.6014 12.6882 74.2675 12.5546C73.9336 12.421 73.3993 12.3542 72.7982 12.3542C72.4643 12.3542 71.93 12.3542 71.2621 12.421V16.5616C71.2621 16.5616 71.9969 16.5616 72.4644 16.6284L72.531 16.6952Z" fill="#3E488B"/>
            <path d="M83.2823 18.7653L82.5476 22.1044L88.6249 23.4401L88.0907 25.644L79.4756 23.7073L82.3472 10.8848L90.7621 12.7547L90.2279 14.9586L84.4844 13.6897L83.8165 16.695L89.1593 17.8971L88.6249 19.9674L83.349 18.7653H83.2823Z" fill="#3E488B"/>
            <path d="M91.6993 27.1119L89.4287 25.9766L95.3057 14.2227L97.7767 15.4248L98.5783 25.843L99.58 23.7727L102.585 17.7622L104.856 18.8975L98.9789 30.6515L96.5078 29.4494L95.8401 18.8308L94.8382 20.901L91.7662 27.1119H91.6993Z" fill="#3E488B"/>
            <path d="M112.2 24.4417C113.869 25.911 114.804 27.447 114.938 29.0498C115.138 30.6526 114.47 32.2554 113.068 33.925C111.599 35.5946 109.996 36.5296 108.326 36.5964C106.657 36.6631 104.987 35.9953 103.317 34.5261C102.316 33.6579 101.314 32.7229 100.379 31.7879L109.061 21.9707C109.996 22.7053 111.064 23.5735 112.2 24.5753V24.4417ZM104.653 32.8565C105.655 33.7247 106.657 34.1254 107.725 33.9918C108.794 33.8582 109.862 33.2572 110.931 32.0551C111.866 30.9865 112.333 29.918 112.333 28.9162C112.333 27.9145 111.799 26.9795 110.864 26.1113C110.53 25.7774 110.129 25.5103 109.729 25.1763L103.785 31.9215C104.119 32.3222 104.453 32.5893 104.72 32.8565H104.653Z" fill="#3E488B"/>
            <path d="M111.133 42.5418L109.464 40.4715L119.749 32.3906L121.418 34.4609L111.133 42.5418Z" fill="#3E488B"/>
            <path d="M113.737 46.28L112.535 44.0094L124.155 37.8652L125.424 40.2695L119.948 49.2185L121.952 48.1499L127.895 45.0111L129.097 47.2817L117.544 53.4259L116.275 51.0216L121.885 42.0058L119.881 43.0744L113.737 46.28Z" fill="#3E488B"/>
            <path d="M122.02 62.3751L126.228 61.3733L126.829 63.9111L120.952 65.2468C120.15 63.9779 119.549 62.709 119.215 61.3065C118.748 59.1694 118.948 57.4331 119.883 56.0306C120.818 54.6281 122.287 53.6931 124.291 53.2257C126.294 52.7582 127.964 53.0253 129.5 53.8935C130.969 54.8285 131.971 56.2977 132.438 58.4348C132.772 59.7705 132.772 60.9058 132.438 61.9076L130.168 62.5086C130.368 61.2397 130.301 60.0376 130.101 59.0359C129.834 57.767 129.233 56.832 128.298 56.2977C127.363 55.7635 126.227 55.6299 124.892 55.9638C123.489 56.2977 122.555 56.8988 121.953 57.767C121.352 58.6351 121.219 59.7037 121.486 60.9726C121.553 61.4401 121.753 61.9076 121.953 62.3751H122.02Z" fill="#3E488B"/>
            <path d="M46.0209 115.002L44.6854 116.538L41.0121 113.399L39.1422 115.536L42.4814 118.408L41.2125 119.81L37.8733 116.939L34.6009 120.745L32.7979 119.142L40.4779 110.193L45.9543 114.935L46.0209 115.002Z" fill="#3E488B"/>
            <path d="M48.4955 129.428C47.427 129.428 46.4252 129.161 45.3567 128.627C44.2882 128.025 43.4867 127.291 43.0192 126.356C42.485 125.421 42.2177 124.486 42.2845 123.484C42.2845 122.482 42.6185 121.414 43.2196 120.412C43.7538 119.41 44.4885 118.609 45.3567 118.008C46.1581 117.407 47.1597 117.14 48.1615 117.073C49.1633 117.006 50.2318 117.34 51.3003 117.874C52.3689 118.475 53.1704 119.21 53.7047 120.145C54.2389 121.013 54.4392 122.015 54.4392 123.017C54.4392 124.018 54.1054 125.02 53.5043 126.089C52.9701 127.091 52.2354 127.892 51.3672 128.493C50.5658 129.094 49.6307 129.361 48.5622 129.428H48.4955ZM44.7555 124.62C44.9558 125.488 45.4901 126.222 46.4251 126.69C47.36 127.224 48.2284 127.291 49.0966 126.957C49.898 126.623 50.6993 125.955 51.3003 124.82C51.9014 123.751 52.1017 122.75 51.9014 121.881C51.701 121.013 51.1668 120.279 50.2318 119.811C49.2968 119.344 48.4287 119.21 47.6273 119.544C46.7591 119.878 46.0244 120.546 45.4233 121.614C44.8223 122.683 44.622 123.685 44.8223 124.553L44.7555 124.62Z" fill="#3E488B"/>
            <path d="M63.1201 135.104L60.4488 134.369L58.8461 129.361L57.644 129.027L56.4418 133.234L54.1045 132.566L57.31 121.213C58.6457 121.413 59.7811 121.68 60.7829 122.014C61.5843 122.215 62.252 122.482 62.7863 122.749C63.3206 123.016 63.788 123.35 64.1887 123.751C64.5226 124.151 64.7898 124.619 64.8566 125.153C64.9234 125.687 64.8567 126.288 64.7231 126.956C64.456 127.824 64.0552 128.492 63.3873 128.893C62.7863 129.294 62.0517 129.494 61.1836 129.561L63.1201 135.171V135.104ZM59.1133 123.617L58.1782 127.023C58.1782 127.023 58.8461 127.223 59.4471 127.424C60.2485 127.624 60.9164 127.691 61.3839 127.491C61.8514 127.357 62.1853 126.956 62.3856 126.288C62.586 125.687 62.5192 125.22 62.1853 124.819C61.8514 124.419 61.3171 124.151 60.5825 123.951C60.2486 123.884 59.781 123.751 59.1799 123.617H59.1133Z" fill="#3E488B"/>
            <path d="M68.5257 135.839H66.2549L66.7224 123.951L69.5941 124.085L72.6663 133.167L76.4061 124.352L79.2778 124.485L78.8103 136.306H76.5396L76.74 130.897L76.8737 127.958L73.8015 135.238H71.3305L68.7927 127.624V130.563L68.5257 135.839Z" fill="#3E488B"/>
            <path d="M90.7669 132.967C90.1658 133.969 89.0974 134.57 87.4945 134.904C85.9585 135.238 84.6896 135.105 83.7547 134.437C82.8197 133.836 82.1518 132.7 81.8179 131.164L80.3486 124.152L82.6861 123.684L84.1554 130.697C84.4893 132.433 85.491 133.168 87.027 132.834C88.563 132.5 89.1642 131.498 88.7635 129.695L87.2942 122.683L89.6983 122.148L91.1676 129.161C91.5015 130.697 91.3679 131.966 90.7 132.967H90.7669Z" fill="#3E488B"/>
            <path d="M93.1066 120.746L96.9133 129.762L101.722 127.692L102.456 129.562L95.444 132.567L90.8359 121.748L93.0397 120.813L93.1066 120.746Z" fill="#3E488B"/>
            <path d="M113.67 122.349L111.6 123.751L109.196 121.881L105.79 124.219L106.658 127.09L104.588 128.493L101.382 116.405L103.519 114.936L113.67 122.282V122.349ZM104.387 119.343L105.255 122.215L107.593 120.612L103.987 117.874L104.454 119.343H104.387Z" fill="#3E488B"/>
            </svg>            
        </div>
      </div>  
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AK - Home S7",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "For total"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Liver Rejuvenation"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image (Mobile)"
    },
    {
      "type": "image_picker",
      "id": "icon_image_check",
      "label": "Check Icon Image"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link",
      "default": "/pages/product.html"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Akka"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Benefit",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Benefit Icon"
        },
        {
          "type": "text",
          "id": "benefit_text",
          "label": "Benefit Text",
          "default": "Cleanses your liver of toxins and excess fat"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AK - Home S7",
      "category":"AKKA HOME"
    }
  ]
}
{% endschema %}
