<style>
    @media(max-width: 1200px) {
        
    }
    
</style>
<section id="section6" class="dynamic-sticky flex sticky top-0 flex-col py-24 min-h-[984px] bg-white z-10 max-[1200px]:px-[16px] max-[1200px]:pt-[64px] max-[1200px]:pb-[32px] max-md:relative max-xl:!top-[unset]">
    <div class="flex relative flex-wrap items-center justify-between mx-auto max-w-[var(--page-width)] w-full">
        <header class="flex flex-col justify-center self-stretch my-auto min-w-[240px] text-slate-700 capitalize">
            <h2 class="text-[70px] tracking-[0.7px] leading-[79px]  max-[1200px]:max-w-full max-[1200px]:text-4xl font-['blisstwin']">
                {{ section.settings.heading }}<span class="max-[1200px]:hidden ml-5">—</span>
            </h2>
            <p class="mt-4 text-[40px] font-['syne'] tracking-[0.8px] leading-[normal] max-[1200px]:max-w-full max-[1200px]:text-[24px] max-[1200px]:tracking-[0.48px] capitalize">{{ section.settings.subheading }}</p>
        </header>
        <a href="{{ section.settings.button_link }}" class="button gap-[16px] font-['syne'] max-[1200px]:hidden">
            {{ section.settings.button_text }}
        </a>
    </div>

    <div class="flex max-md:flex-col mt-16">
        <div class="w-[calc((100vw_-_1340px)_/_2)] max-md:hidden"> </div>
        <div class="min-[1340px]:flex-1 w-full max-[1024px]:flex-none">
            <ul class="font-['syne'] flex relative gap-4 items-start text-2xl font-semibold uppercase text-[#2E3666] list-none max-md:flex-col">
                {% for block in section.blocks %}
                    <li class="flex flex-col max-w-[calc(20%_-_16px)] w-[255px] max-[1024px]:w-full max-[1024px]:max-w-full self-stretch max-[1024px]:h-[250px]">
                        <article class="overflow-hidden relative bg-[#EDEEF5] h-full max-[1024px]:h-[auto]">
                            <img src="{{ 'arrow-w.svg' | file_url }}" class="arrow absolute top-[15px] right-[15px] z-10 max-[1024px]:top-[190px] max-[1024px]:rotate-[135deg]">
                            <div class="wreset w-[600px] wrap-trans translate-x-[-50%] translate-y-[10%] max-[1024px]:translate-x-[0%] max-[1024px]:translate-y-[-25%] max-[1024px]:mx-auto max-[1024px]:w-auto">
                            <img src="{{ block.settings.image |  img_url: 'master'  }}" class="w-[330px] h-auto block mx-auto scale-150 max-[1024px]:scale-100">              
                            <div class="wrap-p p-[10px] opacity-0 translate-y-[50%] max-[1024px]:opacity-100 max-[1024px]:translate-y-[4%]">
                                <h3 class="text-[22px] font-semibold tracking-[0.44px] uppercase mb-[10px] max-lg:pr-[70px]">
                                    {{ block.settings.heading }}
                                </h3>
                                <p class="text-[22px] tracking-[0.44px] mb-[16px] font-normal normal-case">{{ block.settings.sub_heading }} </p>
                                <div class="text-[20px] leading-[normal] font-normal normal-case">{{ block.settings.content }}</div>
                            </div>
                            </div>
                    
                            <h3 class="d-h3 h-[95px] text-[22px] font-semibold tracking-[0.44px] leading-[normal] uppercase absolute bottom-0 left-0 px-[10px] py-[10px] xl:pb-[32px] w-full max-w-[300px] flex items-center max-[1024px]:hidden">
                                {{ block.settings.heading }}
                            </h3>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>    
</section>

<script>
    var section = document.getElementById('section6');
    var section_list = section.querySelectorAll('li');

    section_list.forEach(function(item) {
        item.addEventListener('mouseover', function() {
        section_list.forEach(function(li) {
            li.classList.remove('active');
        });
        item.classList.add('active');
        });

        item.addEventListener('mouseout', function() {
        section_list.forEach(function(li) {
            li.classList.remove('active');
        });
        });
    });
</script>

{%  style  %} 
#section6 li,
#section6 li .wrap-trans,
#section6 .wrap-trans img,
#section6 .wrap-trans .wrap-p,
#section6 .d-h3,
#section6 li article,
#section6 li article .arrow {
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    #section6 li.active {        
        height: auto;
    }
    #section6 li.active article .arrow {
        transform: rotate(-45deg); /* Corrected property */
    }
    #section6 ul li:nth-child(1) article .wrap-p {
        transform: translateY(-10%);
    }
    #section6 ul li:nth-child(2) article .wrap-p {
        transform: translateY(8%);
    }    
    #section6 ul li:nth-child(3) article .wrap-p {
        transform: translateY(-3%);
    }
    #section6 ul li:nth-child(3) .wreset img {
        margin-top:70px;
        rotate:180deg;
    }
    #section6 ul li:nth-child(4) article .wrap-p {
        transform: translateY(-7%);
    }
    #section6 ul li:nth-child(4) .wreset img {
        margin-top:70px;
        rotate:180deg;
    }
    #section6 ul li:nth-child(5) article .wrap-p {
        transform: translateY(-6%);
    }
    #section6 ul li:nth-child(5) .wreset img {
        margin-top:70px;
    }
    #section6 ul li.active:nth-child(1) {
        height: 530px;
    }
    #section6 ul li.active:nth-child(2) {
        height: 550px;
    }
    #section6 ul li.active:nth-child(3) {
        height: 475px;
    }
    #section6 ul li.active:nth-child(4) {
        height: 500px;
    }
    #section6 ul li.active:nth-child(5) {
        height: 505px;
    }    
}

@media (min-width: 1024px) {
    #section6 ul li:nth-child(3) .wreset img {
        margin-top:45px;
    }
    #section6 .active {
        width: 50%;
        max-width: 600px;
    }
    #section6 .wreset {
        width: 600px;
    }
    #section6 .active .wreset {
        width: 100%;
    }
    #section6 .active .wrap-trans {
        transform: translateX(0) translateY(0); /* Combined transform properties */
    }
    #section6 .active .wrap-trans img {
        transform: scale(1);
    }
    #section6 .active .wrap-trans .wrap-p {
        opacity: 1;
        transform: translateY(0);
    }
    #section6 .active .d-h3 {
        opacity: 0;
        transform: translateY(-50%);
    }
}
{% endstyle %} 


{% schema %}
{
    "name": "AK - Home S6",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "The building blocks"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Our clinically — researched ingredients"
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "/pages/ingredient.html"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Our Ingredients"
        }
    ],
    "blocks": [
        {
            "type": "ingredient",
            "name": "Ingredient",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Ingredient Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Ingredient Heading"
                },
                {
                    "type": "text",
                    "id": "sub_heading",
                    "label": "Ingredient Sub-Heading"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Ingredient Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "AK - Home S6",
            "category": "AKKA HOME"
        }
    ]
}
{% endschema %}

    