<!--- section.liquid -->
<section id="section3" class="ak-flex ak-flex-col ak-pt-24 ak-bg-white max-lg:ak-py-[32px] max-lg:ak-px-[16px]">
  <div class="ak-flex ak-flex-wrap ak-gap-[50px] ak-items-end ak-self-start ak-pb-16 max-lg:ak-max-w-full ak-max-w-[var(--page-width)] ak-w-full ak-mx-auto ak-font-['syne'] max-lg:ak-gap-0 max-lg:ak-pb-0">
    <div class="ak-flex ak-flex-col ak-text-slate-700 ak-w-[900px] max-lg:ak-max-w-full max-lg:ak-pl-0">
      <header class="ak-flex ak-flex-wrap ak-gap-8 ak-items-center ak-self-start ak-text-[70px] max-lg:ak-max-w-full max-lg:ak-text-4xl">
        <img loading="lazy" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image_alt }}" class="ak-object-contain ak-shrink-0 ak-w-48 ak-aspect-[2.28] ak-rounded-[100px]" />
        <h1 class="ak-min-w-[240px] max-lg:ak-max-w-full max-lg:ak-text-4xl ak-text-[#2E3666]">
          <span class="ak-text-center max-lg:ak-text-[40px]">{{ section.settings.title_line_1 }}</span>
          <span class="ak-w-[400px] max-lg:ak-text-[40px] ak-font-['blisstwin']">{{ section.settings.title_line_2 }}</span>
        </h1>
      </header>
      <div class="ak-mt-16 [&>p]:ak-text-[22px] [&>p]:ak-tracking-wide max-lg:ak-mt-10 max-lg:ak-max-w-full ak-text-[#2E3666]">
        {{ section.settings.description }}
      </div>
    </div>
    <div class="ak-flex-1 ak-flex ak-justify-end max-lg:ak-hidden">
      <a href="{{ section.settings.button_link }}" class="button ak-flex ak-items-center ak-gap-[16px]" role="button">
        <span>{{ section.settings.button_text }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="34" viewBox="0 0 22 34" fill="none">
          <path d="M19.3476 23.404C19.3476 23.6817 19.2373 23.948 19.0409 24.1444C18.8445 24.3408 18.5782 24.4511 18.3005 24.4511C18.0227 24.4511 17.7564 24.3408 17.56 24.1444C17.3636 23.948 17.2533 23.6817 17.2533 23.404V12.576L5.08033 24.749C4.88183 24.9339 4.61928 25.0346 4.348 25.0298C4.07672 25.0251 3.81789 24.9152 3.62604 24.7233C3.43418 24.5314 3.32429 24.2726 3.3195 24.0013C3.31471 23.7301 3.41541 23.4675 3.60038 23.269L15.7716 11.0943H4.94362C4.6659 11.0943 4.39956 10.984 4.20318 10.7876C4.00681 10.5912 3.89648 10.3249 3.89648 10.0471C3.89648 9.76942 4.00681 9.50308 4.20318 9.3067C4.39956 9.11032 4.6659 9 4.94362 9H18.3005C18.5782 9 18.8445 9.11032 19.0409 9.3067C19.2373 9.50308 19.3476 9.76942 19.3476 10.0471V23.404Z" fill="#EDEEF5"/>
        </svg>
      </a>
    </div>
  </div>
  <section id="science" class="science1 ak-flex ak-flex-col ak-mt-16 ak-w-full ak-text-slate-700 max-lg:ak-max-w-full max-lg:ak-mt-[32px]">
    <h2 class="ak-text-[#2E3666] ak-gap-2.5 ak-pb-8 ak-text-2xl ak-font-['syne'] ak-font-bold ak-tracking-wide max-lg:ak-max-w-full ak-max-w-[var(--page-width)] ak-w-full ak-mx-auto max-lg:ak-text-[20px]">
      {{ section.settings.science_intro }}
    </h2>
    <div class="ak-flex ak-w-full max-lg:ak-max-w-full ak-justify-end max-lg:ak-flex-col ak-text-[#2E3666] ak-font-['syne']">
      <div class="ak-flex ak-flex-col ak-flex-1">
        <div class="ak-flex ak-flex-col max-lg:ak-max-w-full ak-mr-[-1px] [&_.active]:!ak-bg-[#dcdeeb]">
          {% for step in section.blocks %}
            <article class="ak-flex ak-flex-wrap ak-border-t ak-border-[#2E3666] {% if forloop.last %} ak-border-b max-[1024px]:ak-border-b-0 {% endif %}">
              <div class="ak-w-[calc(100%_-_760px)]"></div>
              <div class="ak-w-[760px] max-lg:ak-w-full max-lg:ak-px-0 max-lg:ak-py-[16px] ak-justify-end ak-flex ak-gap-8 max-lg:ak-gap-[16px] ak-items-center max-xl:ak-justify-center ak-pt-[24px] ak-pb-[24px] ak-pr-[100px]">
                <div id="sc{{ forloop.index }}" class="sc {{ step.settings.active | default: '' }} ak-flex ak-justify-center ak-items-center ak-rounded-full ak-bg-blend-multiply ak-text-[50px] ak-font-extralight ak-tracking-tight ak-text-center ak-whitespace-nowrap ak-w-[100px] ak-h-[100px] max-lg:ak-max-w-[70px] max-lg:ak-w-full max-lg:ak-h-[70px] ak-bg-[#EDEEF5]">
                  <span class="ak-px-3 ak-py-0.5 max-lg:ak-text-[50px] ak-font-['Neue_Haas_Grotesk_Display_Pro']">{{ step.settings.step_number }}</span>
                </div>
                <div class="ak-flex-1">
                  <p class="ak-self-stretch ak-my-auto ak-text-2xl ak-tracking-wide max-lg:ak-text-[20px]">
                    {{ step.settings.step_description }}
                  </p>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
      <div class="ak-relative ak-w-[860px] ak-max-w-full max-lg:ak-w-full">
        <div id="science-slider" class="fade_slider !ak-max-w-[100%] !ak-h-[447px] ">
          {% for step in section.blocks %}
            <div class="fade_slide">
              <img loading="lazy" src="{{ step.settings.image |  image_url: width: 900  }}" class="ak-h-[100%] ak-object-cover ak-border-t ak-border-b ak-border-solid ak-border-[#2E3666] max-xl:ak-border-none max-xl:ak-mx-auto" alt="{{ step.settings.step_description }}">
            </div>
          {% endfor %}
        </div>
      </div>      
    </div>
    <a href="{{ section.settings.button_link }}" class="button !ak-hidden max-lg:!ak-flex ak-items-center ak-justify-center ak-gap-[16px] ak-mt-8" role="button">
        <span>{{ section.settings.button_text }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="34" viewBox="0 0 22 34" fill="none">
          <path d="M19.3476 23.404C19.3476 23.6817 19.2373 23.948 19.0409 24.1444C18.8445 24.3408 18.5782 24.4511 18.3005 24.4511C18.0227 24.4511 17.7564 24.3408 17.56 24.1444C17.3636 23.948 17.2533 23.6817 17.2533 23.404V12.576L5.08033 24.749C4.88183 24.9339 4.61928 25.0346 4.348 25.0298C4.07672 25.0251 3.81789 24.9152 3.62604 24.7233C3.43418 24.5314 3.32429 24.2726 3.3195 24.0013C3.31471 23.7301 3.41541 23.4675 3.60038 23.269L15.7716 11.0943H4.94362C4.6659 11.0943 4.39956 10.984 4.20318 10.7876C4.00681 10.5912 3.89648 10.3249 3.89648 10.0471C3.89648 9.76942 4.00681 9.50308 4.20318 9.3067C4.39956 9.11032 4.6659 9 4.94362 9H18.3005C18.5782 9 18.8445 9.11032 19.0409 9.3067C19.2373 9.50308 19.3476 9.76942 19.3476 10.0471V23.404Z" fill="#EDEEF5"/>
        </svg>
    </a>
  </section>
</section>


<script>
  // Initialize sliders
  document.addEventListener("DOMContentLoaded",()=>{
    // Initialize sliders
    const slider1 = new FadeSlider(document.getElementById('science-slider'), 7000); // 4 seconds interval for slider1

    // Add custom event listeners
    slider1.onSlideChange((e) => {
      var index = e.detail.activeIndex + 1;
      var scAll = document.querySelectorAll('.sc');
      var activeSC = document.getElementById(`sc${index}`);

      scAll.forEach(function(item){
        item.classList.remove('active');
      });
      activeSC.classList.add('active');
    });
  });
</script>
            
{% schema %}
{
  "name": "AK - Home S3",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt Text",
      "default": "Liver Image"
    },
    {
      "type": "text",
      "id": "title_line_1",
      "label": "Title Line 1",
      "default": "Your Key To"
    },
    {
      "type": "text",
      "id": "title_line_2",
      "label": "Title Line 2",
      "default": "Vitality"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_link",
      "label": "Button Link",
      "default": "/pages/science.com"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "The Science"
    },
    {
      "type": "textarea",
      "id": "science_intro",
      "label": "Science Section Intro",
      "default": "Read the science to help you get clarity on:"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Science Step",
      "settings": [
        {
          "type": "text",
          "id": "step_number",
          "label": "Step Number",
          "default": "01"
        },
        {
          "type": "text",
          "id": "step_description",
          "label": "Step Description",
          "default": "Why the liver is so important & how it works"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "active",
          "label": "Active Step"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AK - Home S3",
      "category": "AKKA HOME"
    }
  ]
}
{% endschema %}
