
<section id="section6" class="dynamic-sticky ak-flex ak-sticky ak-top-0 ak-flex-col ak-py-24 ak-min-h-[984px] ak-bg-white ak-z-10 max-lg:ak-px-[16px] max-lg:ak-pt-[64px] max-lg:ak-pb-[32px] max-lg:ak-relative ak-max-xl:!ak-top-[unset]">
    <div class="ak-flex ak-relative ak-flex-wrap ak-items-center ak-justify-between ak-mx-auto ak-max-w-[var(--page-width)] ak-w-full">
        <header class="ak-flex ak-flex-col ak-justify-center ak-self-stretch ak-my-auto ak-min-w-[240px] ak-text-slate-700 ak-capitalize">
            <h2 class="ak-text-[70px] ak-tracking-[0.7px] ak-leading-[79px] max-lg:ak-max-w-full max-lg:ak-text-4xl ak-font-['blisstwin']">
                {{ section.settings.heading }}<span class="max-lg:ak-hidden ak-ml-5">—</span>
            </h2>
            <p class="ak-mt-4 ak-text-[40px] ak-font-['syne'] ak-tracking-[0.8px] ak-leading-[normal] max-lg:ak-max-w-full max-lg:ak-text-[24px] max-lg:ak-tracking-[0.48px] ak-capitalize">{{ section.settings.subheading }}</p>
        </header>
        <a href="{{ section.settings.button_link }}" class="button ak-gap-[16px] ak-font-['syne'] max-lg:ak-hidden">
            {{ section.settings.button_text }}
        </a>
    </div>

    <div class="ak-flex max-lg:ak-flex-col ak-mt-16">
        <div class="ak-w-[calc((100vw_-_1340px)_/_2)] max-lg:ak-hidden"></div>
        <div class="ak-min-[1340px]:ak-flex-1 ak-w-full max-[1024px]:ak-flex-none">
            <ul class="ak-font-['syne'] ak-flex ak-relative ak-gap-4 ak-items-start ak-text-2xl ak-font-semibold ak-uppercase ak-text-[#2E3666] ak-list-none max-lg:ak-flex-col">
                {% for block in section.blocks %}
                    <li class="ak-flex ak-flex-col ak-max-w-[calc(20%_-_16px)] ak-w-[255px] max-[1024px]:ak-w-full max-[1024px]:ak-max-w-full ak-self-stretch max-[1024px]:ak-h-[250px]">
                        <article class="ak-overflow-hidden ak-relative ak-bg-[#EDEEF5] ak-h-full max-[1024px]:ak-h-[auto]">
                            <img src="{{ 'arrow-w.svg' | file_url }}" class="ak-arrow ak-absolute ak-top-[15px] ak-right-[15px] ak-z-10 max-[1024px]:ak-top-[190px] max-[1024px]:ak-rotate-[135deg]">
                            <div class="wreset ak-w-[600px] wrap-trans ak-translate-x-[-50%] ak-translate-y-[10%] max-[1024px]:ak-translate-x-[0%] max-[1024px]:ak-translate-y-[-25%] max-[1024px]:ak-mx-auto ak-max-[1025px]:ak-w-auto">
                                <img src="{{ block.settings.image |  img_url: 'master'  }}" class="ak-w-[330px] ak-h-auto ak-block ak-mx-auto ak-scale-150 max-[1024px]:ak-scale-100">              
                                <div class="wrap-p ak-p-[10px] ak-opacity-0 ak-translate-y-[50%] max-[1024px]:ak-opacity-100 max-[1024px]:ak-translate-y-[4%]">
                                    <h3 class="ak-text-[22px] ak-font-semibold ak-tracking-[0.44px] ak-uppercase ak-mb-[10px] max-lg:ak-pr-[70px]">
                                        {{ block.settings.heading }}
                                    </h3>
                                    <p class="ak-text-[22px] ak-tracking-[0.44px] ak-mb-[16px] ak-font-normal ak-normal-case">{{ block.settings.sub_heading }} </p>
                                    <div class="ak-text-[20px] ak-leading-[normal] ak-font-normal ak-normal-case">{{ block.settings.content }}</div>
                                </div>
                            </div>
                    
                            <h3 class="d-h3 ak-h-[95px] ak-text-[22px] ak-font-semibold ak-tracking-[0.44px] ak-leading-[normal] ak-uppercase ak-absolute ak-bottom-0 ak-left-0 ak-px-[10px] ak-py-[10px] ak-xl:pb-[32px] ak-w-full ak-max-w-[300px] ak-flex ak-items-center max-[1024px]:ak-hidden">
                                {{ block.settings.heading }}
                            </h3>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>    
</section>


<script>
    var section = document.getElementById('section6');
    var section_list = section.querySelectorAll('li');

    section_list.forEach(function(item) {
        item.addEventListener('mouseover', function() {
        section_list.forEach(function(li) {
            li.classList.remove('active');
        });
        item.classList.add('active');
        });

        item.addEventListener('mouseout', function() {
        section_list.forEach(function(li) {
            li.classList.remove('active');
        });
        });
    });
</script>

{%  style  %} 
#section6 li,
#section6 li .wrap-trans,
#section6 .wrap-trans img,
#section6 .wrap-trans .wrap-p,
#section6 .d-h3,
#section6 li article,
#section6 li article .arrow {
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    #section6 li.active {        
        height: auto;
    }
    #section6 li.active article .arrow {
        transform: rotate(-45deg); /* Corrected property */
    }
    #section6 ul li:nth-child(1) article .wrap-p {
        transform: translateY(-10%);
    }
    #section6 ul li:nth-child(2) article .wrap-p {
        transform: translateY(8%);
    }    
    #section6 ul li:nth-child(3) article .wrap-p {
        transform: translateY(-3%);
    }
    #section6 ul li:nth-child(3) .wreset img {
        margin-top:70px;
        rotate:180deg;
    }
    #section6 ul li:nth-child(4) article .wrap-p {
        transform: translateY(-7%);
    }
    #section6 ul li:nth-child(4) .wreset img {
        margin-top:70px;
        rotate:180deg;
    }
    #section6 ul li:nth-child(5) article .wrap-p {
        transform: translateY(-6%);
    }
    #section6 ul li:nth-child(5) .wreset img {
        margin-top:70px;
    }
    #section6 ul li.active:nth-child(1) {
        height: 530px;
    }
    #section6 ul li.active:nth-child(2) {
        height: 550px;
    }
    #section6 ul li.active:nth-child(3) {
        height: 475px;
    }
    #section6 ul li.active:nth-child(4) {
        height: 500px;
    }
    #section6 ul li.active:nth-child(5) {
        height: 505px;
    }    
}

@media (min-width: 1024px) {
    #section6 ul li:nth-child(3) .wreset img {
        margin-top:45px;
    }
    #section6 .active {
        height:auto;
        max-width: 600px;
        width:100%;
    }
    #section6 .wreset {
        width: 600px;
    }
    #section6 .active .wreset {
        width: 100%;
    }
    #section6 .active .wrap-trans {
        transform: translateX(0) translateY(0); /* Combined transform properties */
    }
    #section6 .active .wrap-trans img {
        transform: scale(1);
    }
    #section6 .active .wrap-trans .wrap-p {
        opacity: 1;
        transform: translateY(0);
    }
    #section6 .active .d-h3 {
        opacity: 0;
        transform: translateY(-50%);
    }
}
@media (max-width: 1025px) and (min-width: 1023px) {
    #section6 ul {
        flex-direction:column;
    }    
}
@media (max-width: 1025px) and (min-width: 767px) {
    #section6 .active {
        max-width: 100%;
    }
    #section6 {
        padding-left:16px;
        padding-right:16px;
    }
    #section6 ul li {
        height:275px;
    }
    #section6 ul li:nth-child(5) {
        height:270px;
    }
    #section6 ul li:nth-child(3) {
        height:251px;
    }
    #section6 .wreset {
        width: auto;
    }        
}
@media (min-width: 1023px) and (max-width: 1025px) {
    #section6 ul li.active:nth-child(1) {
        height:577px;
    }
    #section6 ul li.active:nth-child(2) {
        height:522px;
    }
    #section6 ul li.active:nth-child(3) {
        height:491px;
    }
    #section6 ul li.active:nth-child(4) {
        height:544px;
    }
    #section6 ul li.active:nth-child(5) {
        height:531px;
    }
    #section6 ul li:nth-child(1) article .wrap-p {
        transform: translateY(-15%);
    }
    #section6 ul li:nth-child(3) article .wrap-p {
        transform: translateY(0%);
    }
}
@media  (min-width: 767px) and (max-width: 1020px){
    #section6 ul li.active:nth-child(1) {
        height:435px;
    }
    #section6 ul li.active:nth-child(2) {
        height:430px;
    }
    #section6 ul li.active:nth-child(3) { 
        height:400px;
    }
    #section6 ul li.active:nth-child(4) {
        height:415px;
    }
    #section6 ul li.active:nth-child(5) {
        height:425px;
    }
    #section6 ul li:nth-child(3) article .wrap-p {
        transform: translateY(-10%);
    }
}
{% endstyle %} 


{% schema %}
{
    "name": "AK - Home S6",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "The building blocks"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Our clinically — researched ingredients"
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "/pages/ingredient.html"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Our Ingredients"
        }
    ],
    "blocks": [
        {
            "type": "ingredient",
            "name": "Ingredient",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Ingredient Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Ingredient Heading"
                },
                {
                    "type": "text",
                    "id": "sub_heading",
                    "label": "Ingredient Sub-Heading"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Ingredient Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "AK - Home S6",
            "category": "AKKA HOME"
        }
    ]
}
{% endschema %}

    