<style>
    .animation-moveup {
        transition: all 1s linear;
        animation: moveUp 1s linear;        
      }
      .animation-movedown {
        transition: all 1s linear;
        animation: moveDown 1s linear;        
      }
      @media(max-width: 767px) {
        .animation-moveup {
          
        }
      }
      @keyframes moveUp {
        0% {transform: translateY(0%);}
        50% {transform: translateY(100%);}
        100% {transform: translateY(0%);}
      }  
      @keyframes moveDown {
        0% {transform: translateY(0%);}
        50% {transform: translateY(-100%);}
        100% {transform: translateY(0%);}
      }
      @media (min-width: 1024px) and (max-width: 1200px) {
        #section2 .title h3.title-left {
          padding-right: 100px;
          padding-left: 20px;
        }
        #section2 .title h3.title-right {
          padding-left: 100px;
        }
      }
      @media (min-width: 645px) and (max-width: 1023px) {
        #section2 .title {
          top: 247px;
        }
      }
      /* ipad pro */
      @media (min-width: 1023px) and (max-width: 1200px) {
        #section2 .image-bot {
          transform: translateY(26%);
          scale: 1.5;
          z-index: 0;
          position: relative;
        }
        #section2 .title {
          z-index: 1;
        }
        #section2 .title-right {
          text-align: center;
        }
      }

</style>
<section id="section2" class="ak-overflow-hidden ak-font-['syne']">
  <div class="ak-min-h-[996px] bg-center bg-cover bg-no-repeat relative max-lg:ak-min-h-0 ak-max-" style="background-image:url({{ section.settings.background_image | img_url: 'master' }}) ;">
    <div class="imagetop max-lg:ak-mb-[109px]">          
      <img class="animation-movedown max-lg:ak-hidden" src="{{ section.settings.image_top_desktop | img_url: 'master' }}" alt="">
      <img class="animation-movedown ak-hidden max-lg:ak-block ak-mx-auto" src="{{ section.settings.image_top_mobile | img_url: 'master' }}" alt="">
    </div>
    <div class="title ak-max-w-[var(--page-width)] ak-w-full ak-absolute ak-top-[215px] max-lg:ak-top-[127px] ak-left-[50%] ak-translate-x-[-50%] ak-flex ak-items-center ak-justify-between ak-overflow-hidden max-lg:ak-flex-col">
      <h3 class="ak-text-white ak-text-[94px] max-lg:ak-text-[40px] ak-leading-[normal] ak-tracking-[-1.88px] max-lg:ak-tracking-[-0.8px] title-left">
        <span class="animation-moveup ak-block">{{ section.settings.title_part_1 }}</span>
      </h3>
      <h3 class="ak-text-white ak-text-[94px] max-lg:ak-text-[40px] ak-leading-[normal] ak-tracking-[-1.88px] max-lg:ak-tracking-[-0.8px] ak-font-['Blisstwin'] ak-title-right">
        <span class="animation-moveup ak-block">{{ section.settings.title_part_2 }}</span>
      </h3>
    </div>
    <div class="content ak-max-w-[var(--page-width)] ak-w-full ak-absolute ak-bottom-[80px] max-lg:ak-bottom-[55px] ak-left-[50%] ak-translate-x-[-50%] ak-overflow-hidden max-lg:ak-w-[343px]">
      <p class="ak-text-white ak-text-[32px] max-lg:ak-text-[20px] ak-leading-[normal] ak-uppercase ak-text-center animation-moveup">
        {{ section.settings.content_text }}
        <a href="{{ section.settings.link_url }}" class="ak-inline-flex ak-items-center ak-justify-center ak-gap-4 ak-underline max-lg:ak-flex max-lg:ak-mt-8">
          {{ section.settings.link_text }}
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="34" viewBox="0 0 17 34" fill="none">
            <path d="M16.0283 23.404C16.0283 23.6817 15.9179 23.948 15.7216 24.1444C15.5252 24.3408 15.2588 24.4511 14.9811 24.4511C14.7034 24.4511 14.4371 24.3408 14.2407 24.1444C14.0443 23.948 13.934 23.6817 13.934 23.404V12.576L1.761 24.749C1.56249 24.9339 1.29995 25.0346 1.02867 25.0298C0.757386 25.0251 0.498554 24.9152 0.3067 24.7233C0.114846 24.5314 0.00494956 24.2726 0.000163137 24.0013C-0.00462328 23.7301 0.0960757 23.4675 0.281042 23.269L12.4523 11.0943H1.62429C1.34657 11.0943 1.08022 10.984 0.883848 10.7876C0.687471 10.5912 0.577148 10.3249 0.577148 10.0471C0.577148 9.76942 0.687471 9.50308 0.883848 9.3067C1.08022 9.11032 1.34657 9 1.62429 9H14.9811C15.2588 9 15.5252 9.11032 15.7216 9.3067C15.9179 9.50308 16.0283 9.76942 16.0283 10.0471V23.404Z" fill="#EDEEF5"/>
          </svg>
        </a>
      </p>
    </div>
    <div class="image-bot">
      <img class="animation-moveup max-lg:ak-hidden" src="{{ section.settings.image_bottom_desktop | img_url: 'master' }}" alt="">
      <img class="animation-moveup ak-hidden max-lg:ak-block ak-mx-auto ak-w-full" src="{{ section.settings.image_bottom_mobile | img_url: 'master' }}" alt="">
    </div>
  </div>
</section>


{% schema %}
{
  "name": "AK - Ingredient S2",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image_top_desktop",
      "label": "Top Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_top_mobile",
      "label": "Top Image (Mobile)"
    },
    {
      "type": "text",
      "id": "title_part_1",
      "label": "Title Part 1",
      "default": "Liver health is"
    },
    {
      "type": "text",
      "id": "title_part_2",
      "label": "Title Part 2",
      "default": "system health"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Content Text",
      "default": "AKKA synergistically combines the world's most well-researched and clinically proven liver-rejuvenating ingredients, meticulously chosen to optimize liver function and health."
    },
    {
      "type": "text",
      "id": "link_url",
      "label": "Link URL",
      "default": "product.html"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "shop akka"
    },
    {
      "type": "image_picker",
      "id": "image_bottom_desktop",
      "label": "Bottom Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_bottom_mobile",
      "label": "Bottom Image (Mobile)"
    }
  ],
  "presets": [
    {
      "name": "AK - Ingredient S2",
       "category": "AKKA INGREDIENT"
    }
  ]
}
{% endschema %}
