<!-- sections/ingredient-information.liquid -->
<style>
  #section1 article:nth-child(1) h3 {
    font-size: 45px;
  }
  #section1 article:nth-child(1) h3 .subtext {
    font-size: 46px;
  }  
  #section1  {
    background-image: url('https://cdn.shopify.com/s/files/1/0885/5581/5215/files/science-s2bg.png?v=1727176796');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
  }
</style>
<section id="section1" class="ingredient-information-section ak-font-['syne']">
  <div class="ak-flex ak-items-start ak-justify-between ak-max-w-[var(--page-width)] ak-w-full ak-mx-auto ak-relative ak-text-[#2E3666] ak-py-[47px] max-lg:ak-max-w-full max-lg:ak-py-0">
    <div class="ak-max-w-[125px] ak-w-full ak-sticky ak-top-0 ak-pt-[128px] ak-mb-[703px] max-lg:ak-hidden">
      {% for link in section.blocks %}
        {% if link.type == 'link' %}
          <a href="{{ link.settings.link_id }}" class="ak-text-[24px] ak-leading-[64px] ak-no-underline">{{ link.settings.link_name }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="max-lg:ak-w-full">
      <section class="ak-flex ak-flex-col max-lg:ak-bg-[#EDEEF5] max-lg:ak-pb-[64px]">
        {% for item in section.blocks %}
          {% if item.type == 'ingredient' %}
            <article id="{{ item.settings.ingredient_id }}" class="ak-flex ak-flex-col ak-p-4 ak-w-full ak-bg-[#EDEEF5] ak-rounded-3xl max-lg:ak-max-w-full {% if forloop.index != 1 %}ak-mt-16 max-lg:ak-mt-0{% endif %} max-lg:ak-rounded-none">
              <div class="ak-flex ak-flex-wrap ak-gap-8 ak-w-full max-lg:ak-max-w-full max-lg:ak-justify-center">
                <div class="ak-flex ak-flex-col ak-min-w-[240px] ak-w-[468px] max-lg:ak-max-w-full">
                  <img loading="lazy" src="{{ item.settings.image_1 | img_url: 'master' }}" alt="{{ item.settings.image_alt }}" class="ak-object-contain ak-flex-1 ak-max-w-full ak-aspect-[0.83] ak-w-[468px]" />
                </div>
                <div class="ak-flex ak-flex-col ak-self-start ak-min-w-[240px] ak-w-full ak-max-w-[494px] max-lg:ak-max-w-full ">
                  <header class="ak-flex ak-flex-col ak-w-full ak-max-w-[485px]">
                    <h2 class="ak-text-[50px] ak-font-medium ak-leading-[normal] ak-text-[#dcdbe8]">{{ item.settings.ingredient_number }}</h2>
                    <h3 class="ak-py-2.5 ak-w-full ak-text-[48px] max-lg:!ak-text-[30px] ak-tracking-[-0.9px] ak-leading-[48px] ak-border-[#2E3666] ak-border-t-[6px] max-lg:ak-max-w-full  max-lg:ak-leading-[110%]">
                      <span>{{ item.settings.ingredient_name }}</span>
                      <br />
                      <span class="ak-subtext ak-font-['Blisstwin'] max-lg:!ak-text-[27px]">{{ item.settings.ingredient_subtext }}</span>
                    </h3>
                  </header>
                  <div class="ak-mt-8 max-lg:ak-mt-[20px] max-lg:ak-max-w-full [&>p]:ak-text-[20px] [&>p]:ak-tracking-[0.4px] [&>p]:ak-leading-[140%]">
                    {{ item.settings.ingredient_description }}
                  </div>                  
                </div>
              </div>
              <section class="ak-flex ak-flex-col ak-mt-8 ak-w-full max-lg:ak-max-w-full ak-font-['syne']">
                <h4 class="ak-gap-10 ak-pb-4 ak-max-w-full ak-text-[28px] ak-tracking-tight ak-border-b-[6px] ak-border-[#2E3666] ak-w-full max-lg:ak-max-w-full max-lg:ak-text-[27px]">{{ item.settings.research_title }}</h4>
                  {%  if item.settings.title1 and item.settings.description1 != ''  %}
                    <div class="reserch-block ak-flex ak-flex-wrap ak-gap-10 ak-items-center ak-justify-between ak-py-8 ak-border-t ak-border-[#2E3666] max-lg:ak-max-w-full max-lg:ak-justify-center max-lg:ak-gap-[16px] max-lg:ak-py-[16px]">
                        <div class="ak-flex ak-flex-col ak-px-6 ak-pb-3.5 ak-my-auto ak-text-lg ak-font-medium ak-tracking-tight ak-text-center ak-min-w-[240px] ak-w-[244px] max-lg:ak-px-5">
                            <div class="ak-flex-1 ak-gap-2.5 ak-py-4 ak-bg-white ak-rounded-[100px] ">
                                {{ item.settings.title1 }}
                            </div>
                        </div>
                        <div class="ak-my-auto ak-max-w-[676px] ak-w-full max-lg:ak-max-w-full ak-text-[20px] ak-tracking-[0.4px] ak-leading-[140%] max-lg:ak-text-[18px]">
                            {{ item.settings.description1 }}
                        </div>                        
                    </div>
                  {% endif %} 

                  {%  if item.settings.title2 and item.settings.description2 != '' %}
                    <div class="reserch-block ak-flex ak-flex-wrap ak-gap-10 ak-items-center ak-justify-between ak-py-8 ak-border-t ak-border-[#2E3666] max-lg:ak-max-w-full max-lg:ak-justify-center max-lg:ak-gap-[16px] max-lg:ak-py-[16px]">
                        <div class="ak-flex ak-flex-col ak-px-6 ak-pb-3.5 ak-my-auto ak-text-lg ak-font-medium ak-tracking-tight ak-text-center ak-min-w-[240px] ak-w-[244px] max-lg:ak-px-5">
                            <div class="ak-flex-1 ak-gap-2.5 ak-py-4 ak-bg-white ak-rounded-[100px]">
                                {{ item.settings.title2 }}
                            </div>
                        </div>
                        <div class="ak-my-auto ak-max-w-[676px] ak-w-full max-lg:ak-max-w-full ak-text-[20px] ak-tracking-[0.4px] ak-leading-[140%] max-lg:ak-text-[18px]">
                            {{ item.settings.description2 }}
                        </div>                        
                    </div>
                  {% endif %} 

                  {%  if item.settings.title3 and item.settings.description3 != '' %}
                    <div class="reserch-block ak-flex ak-flex-wrap ak-gap-10 ak-items-center ak-justify-between ak-py-8 ak-border-t ak-border-[#2E3666] max-lg:ak-max-w-full max-lg:ak-justify-center max-lg:ak-gap-[16px] max-lg:ak-py-[16px]">
                        <div class="ak-flex ak-flex-col ak-px-6 ak-pb-3.5 ak-my-auto ak-text-lg ak-font-medium ak-tracking-tight ak-text-center ak-min-w-[240px] ak-w-[244px] max-lg:ak-px-5">
                            <div class="ak-flex-1 ak-gap-2.5 ak-py-4 ak-bg-white ak-rounded-[100px]">
                                {{ item.settings.title3 }}
                            </div>
                        </div>
                        <div class="ak-my-auto ak-max-w-[676px] ak-w-full max-lg:ak-max-w-full ak-text-[20px] ak-tracking-[0.4px] ak-leading-[140%] max-lg:ak-text-[18px]">
                            {{ item.settings.description3 }}
                        </div>                        
                    </div>
                  {% endif %} 

                  {%  if item.settings.title4 and item.settings.description4 != '' %}
                    <div class="reserch-block ak-flex ak-flex-wrap ak-gap-10 ak-items-center ak-justify-between ak-py-8 ak-border-t ak-border-[#2E3666] max-lg:ak-max-w-full max-lg:ak-justify-center max-lg:ak-gap-[16px] max-lg:ak-py-[16px]">
                        <div class="ak-flex ak-flex-col ak-px-6 ak-pb-3.5 ak-my-auto ak-text-lg ak-font-medium ak-tracking-tight ak-text-center ak-min-w-[240px] ak-w-[244px] max-lg:ak-px-5">
                            <div class="ak-flex-1 ak-gap-2.5 ak-py-4 ak-bg-white ak-rounded-[100px]">
                                {{ item.settings.title4 }}
                            </div>
                        </div>
                        <div class="ak-my-auto ak-max-w-[676px] ak-w-full max-lg:ak-max-w-full ak-text-[20px] ak-tracking-[0.4px] ak-leading-[140%] max-lg:ak-text-[18px]">
                            {{ item.settings.description4 }}
                        </div>                        
                    </div>
                  {% endif %}  

              </section>
            </article>
          {% endif %}
        {% endfor %}
      </section>              
    </div>
  </div>
</section>


{% schema %}
{
  "name": "AK - Ingredient S1",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Ingredient Information"
    }    
  ],  
  "blocks": [
    {
      "type": "ingredient",
      "name": "Ingredient",
      "settings": [
        {
          "type": "text",
          "id": "ingredient_id",
          "label": "Ingredient ID",
          "default": "Akkermansia"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text",
          "default": "Illustration representing ingredient"
        },
        {
          "type": "text",
          "id": "ingredient_number",
          "label": "Ingredient Number",
          "default": "01"
        },
        {
          "type": "text", 
          "id": "ingredient_name",
          "label": "Ingredient Name",
          "default": "Akkermansia muciniphila"
        },
        {
          "type": "text",
          "id": "ingredient_subtext",
          "label": "Ingredient Subtext",
          "default": "for total rejuvenation"
        },
        {
          "type": "richtext",
          "id": "ingredient_description",
          "label": "Ingredient Description"
        },
        {
          "type": "text",
          "id": "research_title",
          "label": "Research Title",
          "default": "The Research"
        },
        {
          "type":"header",
          "content":"For Research Leave Blank To Hide"
        }, 
        {
            "type": "text",
            "id": "title1",
            "label": "Research Title 1"
        },
        {
            "type": "textarea",
            "id": "description1",
            "label": "Research Description 1"
        },
        {
            "type": "text",
            "id": "title2",
            "label": "Research Title 2"
        },
        {
            "type": "textarea",
            "id": "description2",
            "label": "Research Description 2"
        },
        {
            "type": "text",
            "id": "title3",
            "label": "Research Title 3"
        },
        {
            "type": "textarea",
            "id": "description3",
            "label": "Research Description 3"
        },
        {
            "type": "text",
            "id": "title4",
            "label": "Research Title 4"
        },
        {
            "type": "textarea",
            "id": "description4",
            "label": "Research Description 4"
        }          
      ]    
    },
    {
      "type": "link",
      "name": "Navigation Link",
      "settings": [
        {
          "type": "text",
          "id": "link_id",
          "label": "Link ID",
          "default": "Akkermansia"
        },
        {
          "type": "text",
          "id": "link_name",
          "label": "Link Name",
          "default": "Akkermasia"
        }
      ]
    }
    
  ],
  "presets": [
    {
       "name": "AK - Ingredient S1",
       "category": "AKKA INGREDIENT"
    }
  ]
}
{% endschema %}
