<style>
    .animation-moveup {
        transition: all 1s linear;
        animation: moveUp 1s linear;        
      }
      .animation-movedown {
        transition: all 1s linear;
        animation: moveDown 1s linear;        
      }
      @media(max-width: 767px) {
        .animation-moveup {
          
        }
      }
      @keyframes moveUp {
        0% {transform: translateY(0%);}
        50% {transform: translateY(100%);}
        100% {transform: translateY(0%);}
      }  
      @keyframes moveDown {
        0% {transform: translateY(0%);}
        50% {transform: translateY(-100%);}
        100% {transform: translateY(0%);}
      }
</style>
<section id="section2" class="overflow-hidden">
  <div class="min-h-[996px] bg-center bg-cover bg-no-repeat relative max-md:min-h-0" style="background-image:url({{ section.settings.background_image | img_url: 'master' }}) ;">
    <div class="imagetop max-md:mb-[109px]">          
      <img class="animation-movedown max-md:hidden" src="{{ section.settings.image_top_desktop | img_url: 'master' }}" alt="">
      <img class="animation-movedown hidden max-md:block" src="{{ section.settings.image_top_mobile | img_url: 'master' }}" alt="">
    </div>
    <div class="title max-w-[var(--page-width)] w-full absolute top-[215px] max-md:top-[127px] left-[50%] translate-x-[-50%] flex items-center justify-between overflow-hidden max-md:flex-col">
      <h3 class="text-white text-[94px] max-md:text-[40px] leading-[normal] tracking-[-1.88px] max-md:tracking-[-0.8px]">
        <span class="animation-moveup block">{{ section.settings.title_part_1 }}</span>
      </h3>
      <h3 class="text-white text-[94px] max-md:text-[40px] leading-[normal] tracking-[-1.88px] max-md:tracking-[-0.8px] font-['Blisstwin']">
        <span class="animation-moveup block">{{ section.settings.title_part_2 }}</span>
      </h3>
    </div>
    <div class="content max-w-[var(--page-width)] w-full absolute bottom-[102px] max-md:bottom-[55px] left-[50%] translate-x-[-50%] overflow-hidden max-md:w-[343px]">
      <p class="text-white text-[32px] max-md:text-[20px] leading-[normal] uppercase text-center animation-moveup">
        {{ section.settings.content_text }}
        <a href="{{ section.settings.link_url }}" class="inline-flex items-center justify-center gap-4 no-underline max-md:flex max-md:mt-8">
          {{ section.settings.link_text }}
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="34" viewBox="0 0 17 34" fill="none">
            <path d="M16.0283 23.404C16.0283 23.6817 15.9179 23.948 15.7216 24.1444C15.5252 24.3408 15.2588 24.4511 14.9811 24.4511C14.7034 24.4511 14.4371 24.3408 14.2407 24.1444C14.0443 23.948 13.934 23.6817 13.934 23.404V12.576L1.761 24.749C1.56249 24.9339 1.29995 25.0346 1.02867 25.0298C0.757386 25.0251 0.498554 24.9152 0.3067 24.7233C0.114846 24.5314 0.00494956 24.2726 0.000163137 24.0013C-0.00462328 23.7301 0.0960757 23.4675 0.281042 23.269L12.4523 11.0943H1.62429C1.34657 11.0943 1.08022 10.984 0.883848 10.7876C0.687471 10.5912 0.577148 10.3249 0.577148 10.0471C0.577148 9.76942 0.687471 9.50308 0.883848 9.3067C1.08022 9.11032 1.34657 9 1.62429 9H14.9811C15.2588 9 15.5252 9.11032 15.7216 9.3067C15.9179 9.50308 16.0283 9.76942 16.0283 10.0471V23.404Z" fill="#EDEEF5"/>
          </svg>
        </a>
      </p>
    </div>
    <div class="image-bot">
      <img class="animation-moveup max-md:hidden" src="{{ section.settings.image_bottom_desktop | img_url: 'master' }}" alt="">
      <img class="animation-moveup hidden max-md:block" src="{{ section.settings.image_bottom_mobile | img_url: 'master' }}" alt="">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AK - Ingredient S2",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image_top_desktop",
      "label": "Top Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_top_mobile",
      "label": "Top Image (Mobile)"
    },
    {
      "type": "text",
      "id": "title_part_1",
      "label": "Title Part 1",
      "default": "Liver health is"
    },
    {
      "type": "text",
      "id": "title_part_2",
      "label": "Title Part 2",
      "default": "system health"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Content Text",
      "default": "AKKA synergistically combines the world's most well-researched and clinically proven liver-rejuvenating ingredients, meticulously chosen to optimize liver function and health."
    },
    {
      "type": "text",
      "id": "link_url",
      "label": "Link URL",
      "default": "product.html"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "shop akka"
    },
    {
      "type": "image_picker",
      "id": "image_bottom_desktop",
      "label": "Bottom Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "image_bottom_mobile",
      "label": "Bottom Image (Mobile)"
    }
  ],
  "presets": [
    {
      "name": "AK - Ingredient S2",
       "category": "AKKA INGREDIENT"
    }
  ]
}
{% endschema %}
