<style>
#hero .circle-bg {
    
}

@media(max-width: 1200px) {
    #hero .circle-bg {
        
    }
    #hero .title {
      background-image: none !important;
      baxkground-color:transparent;
    }
    #hero .rotate-me {

    }
}
</style>
<section id="hero" 
  class="bg-no-repeat bg-cover bg-center min-h-[1000px] flex items-center relative max-md:min-h-[660px] overflow-hidden" style="background-image:url({{ section.settings.hero_background_image | img_url: 'master' }});">
  <div class="circle-bg absolute top-[45px] right-[130px] z-0 max-w-[604px] w-full h-[605px]               
              bg-no-repeat bg-cover bg-center 
              max-md:w-[348px] max-md:h-[348px] max-md:inset-[50%] 
              max-md:translate-x-[-50%] max-md:translate-y-[-50%]">
  <img class="rotate-me  max-[1200px]:hidden" src="{{ section.settings.hero_circle_image | img_url: 'master' }}" alt="">
  <img class="rotate-me  hidden max-[1200px]:block" src="{{ section.settings.hero_circle_image_mobile | img_url: 'master' }}" alt="">
  </div>
  <div class="flex items-center justify-center m-auto h-full">
    <div class="title overflow-hidden relative z-10 
                bg-cover bg-center bg-no-repeat" style="background-image:url({{ section.settings.hero_text_background | img_url: 'master' }});">
      <h1 class="animation-moveup text-white text-[70px] leading-[normal] 
                tracking-[-1.4px] capitalize font-['syne'] max-md:text-[40px] max-md:text-center">
        {{ section.settings.hero_title }}<span class="font-['Blisstwin'] max-md:block capitalize ml-[16px] max-md:ml-0">{{ section.settings.hero_subtitle }}</span>
      </h1>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AK - Ingredient Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "hero_circle_image",
      "label": "Hero Circle Image"
    },
    {
      "type": "image_picker",
      "id": "hero_circle_image_mobile",
      "label": "Hero Circle Image (Mobile)"
    },
    {
      "type": "image_picker",
      "id": "hero_text_background",
      "label": "Text Background Image"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "Our building blocks"
    },
    {
      "type": "text",
      "id": "hero_subtitle",
      "label": "Hero Subtitle",
      "default": "to better health"
    }
  ],
  "presets": [
    {
      "name": "AK - Ingredient Hero",
      "category": "AKKA INGREDIENT"
    }
  ]
}
{% endschema %}
