<!-- testimonials-slider.liquid -->
<section id="section-{{ section.id }}" class=" font-['syne']">
  <section class="flex relative flex-col items-center px-20 min-h-[1080px] max-[1200px]:px-5">
    <div class="flex relative flex-col py-16 w-full max-w-[var(--page-width)] max-[1200px]:max-w-full max-[1200px]:py-8">
      <div class="flex flex-col w-full">

        <h2 class="flex flex-col w-full text-[70px] leading-[normal] tracking-[-1.4px] text-[#2E3666] max-[1200px]:max-w-full max-[1200px]:text-[40px] max-[1200px]:leading-[40px] font-['syne']">
          <span>{{ section.settings.heading_line_1 }}</span>
          <span class="font-['Blisstwin']">{{ section.settings.heading_line_2 }}</span>
        </h2>

        <div class="flex flex-col w-full max-[1200px]:max-w-full">
          <div class="flex flex-col items-end w-full max-[1200px]:max-w-full">            
            <!-- ARROW --> 
            <div class="flex gap-10 items-end max-[1200px]:order-2 max-[1200px]:mx-auto max-[1200px]:mt-[-30px] max-[1200px]:hidden">
                <div class="flex gap-8 items-start min-h-[32px] min-w-[240px] rotate-[-1.6081230200044232e-16rad]">
                  <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
                      <path d="M1 19L101 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M81 13L101 19H81" fill="#2E3666"/>
                      <path d="M81 13L101 19H81V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                  </div>
                  <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
                      <path d="M133 19L33 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M53 13L33 19L53 19" fill="#2E3666"/>
                      <path d="M53 13L33 19L53 19V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>                                       
                </div>
              </div>

            <!-- SLIDER Desktop PART -->
            <div class="swiper swiper-{{ section.id }} w-full h-full mt-16 max-[1200px] max-[1200px]:!hidden">
              <div class="swiper-wrapper">
                {% for testimonial in section.blocks %}
                  <div class="swiper-slide">
                    <div class="flex gap-10 items-center max-[1200px]:max-w-full">
                      <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[1320px] max-[1200px]:max-w-full border-b border-[#2E3666] ">

                        <article class="flex flex-wrap gap-10 items-start pt-8 pb-4 w-full border-t border-[#2E3666] max-[1200px]:max-w-full">
                          <div class="flex flex-col grow shrink items-start pr-16 w-44">
                            <img loading="lazy" src="{{ testimonial.settings.star_image | img_url: '150x' }}" class="object-contain max-w-full aspect-[5]" alt="5 star rating" />
                            <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">{{ testimonial.settings.name }}</h3>
                            <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                              <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">{{ testimonial.settings.customer_status }}</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                    <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                          </div>
                          <blockquote class="grow shrink gap-2 text-[24px] leading-[140%] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full">
                            {{ testimonial.settings.testimonial }}
                          </blockquote>
                          <div class="flex flex-col grow shrink w-44">
                            <img loading="lazy" src="{{ testimonial.settings.customer_image | img_url: '150x' }}" class="object-contain w-full aspect-square" alt="{{ testimonial.settings.name }}" />
                          </div>
                        </article>
                        {% if testimonial.settings.row2 %}
                            <article class="flex flex-wrap gap-10 items-start pt-8 pb-4 w-full border-t border-[#2E3666] max-[1200px]:max-w-full">
                                <div class="flex flex-col grow shrink items-start pr-16 w-44">
                                  <img loading="lazy" src="{{ testimonial.settings.row2_star_image | img_url: '150x' }}" class="object-contain max-w-full aspect-[5]" alt="5 star rating" />
                                  <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">{{ testimonial.settings.row2_name }}</h3>
                                  <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                                    <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">{{ testimonial.settings.row2_customer_status }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                      <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                      <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                  </div>
                                </div>
                                <blockquote class="grow shrink gap-2 text-[24px] leading-[140%] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full">
                                  {{ testimonial.settings.row2_testimonial }}
                                </blockquote>
                                <div class="flex flex-col grow shrink w-44">
                                  <img loading="lazy" src="{{ testimonial.settings.row2_customer_image | img_url: '150x' }}" class="object-contain w-full aspect-square" alt="{{ testimonial.settings.row2_name }}" />
                                </div>
                              </article>   
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>              
            </div>

            <!--SLIDER Mobile PART-->
            <div class="swiper swiper-{{ section.id }} w-full h-auto mt-8 !hidden max-[1200px]:!block">
              <div class="swiper-wrapper">
                <div class="swiper-slide h-[500px]">
                  <div class="flex gap-10 items-center max-[1200px]:max-w-full">
                    <!--SLIDE 1-->
                    <div class="flex self-stretch my-auto min-w-[240px] w-[1320px] max-[1200px]:max-w-full">                      
                      <article class="flex flex-wrap gap-2 items-start w-full max-[1200px]:max-w-full">
                        <div class="flex items-start justify-between max-w-full w-full">                            
                          <img loading="lazy" src="{{ 'star.png' |  file_img_url: 'master' }}" class="object-contain w-full max-w-[150px]" alt="5 star rating" />
                          <div class="max-w-[150px] w-full">
                            <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">Michael G.</h3>
                            <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                              <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">verified customer</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                  <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                  <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>                            
                            </div>
                          </div>                          
                        </div>
                        <blockquote class="grow shrink gap-2 text-[18px] leading-[25.2px] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full h-[210px]">
                          "I was struggling with chronic fatigue and auto-immune problems. I was constantly breaking out in rashes and itching all over my body. Akka gave me a 'clean body' feeling in just a few weeks and I couldn't be happier. Amazing focus and concentration. I feel 20 years younger."
                        </blockquote>
                        <div class="flex max-w-[220px] w-full mx-auto">
                          <img loading="lazy" src="{{ 'michealg-photo.png' |  file_img_url: 'master' }}" class="object-contain w-full aspect-square" alt="Michael G.'s photo" />
                        </div>
                      </article> 
                    </div>
                  </div>
                </div>   
                <div class="swiper-slide ">
                  <div class="flex gap-10 items-center max-[1200px]:max-w-full">
                    <!--SLIDE 2-->
                    <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[1320px] max-[1200px]:max-w-full">   
                      <article class="flex flex-wrap gap-2 items-start w-full  max-[1200px]:max-w-full">
                        <div class="flex items-start justify-between max-w-full w-full">
                          <img loading="lazy" src="{{ 'star.png' |  file_img_url: 'master' }}" class="object-contain max-w-full aspect-[5] w-[150px]" alt="5 star rating" />
                          <div class="max-w-[150px] w-full">
                            <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">Elizabeth M.</h3>
                            <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                              <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">verified customer</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                  <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                  <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                          </div>                          
                        </div>
                        <blockquote class="grow shrink gap-2 text-[18px] leading-[25.2px] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full h-[210px]">
                          "The effect was immediate, and dramatic. My energy levels improved, and the bloating disappeared. My previous issues with fatigue and discomfort after meals became a thing of the past."
                        </blockquote>
                        <div class="flex max-w-[220px] w-full mx-auto">
                          <img loading="lazy" src="{{ 'elizabethm-photo.png' |  file_img_url: 'master' }}" class="object-contain w-full rounded-full aspect-square" alt="Elizabeth M.'s photo" />
                        </div>
                      </article>
                    </div>
                  </div>
                </div>                    
                <div class="swiper-slide">
                  <div class="flex gap-10 items-center max-[1200px]:max-w-full">
                    <!--SLIDE 3-->
                    <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[1320px] max-[1200px]:max-w-full">                      
                      <article class="flex flex-wrap gap-2 items-start w-full max-[1200px]:max-w-full">
                        <div class="flex items-start justify-between max-w-full w-full">                            
                          <img loading="lazy" src="{{ 'star.png' |  file_img_url: 'master' }}" class="object-contain max-w-full aspect-[5] w-[150px]" alt="5 star rating" />
                          <div class="max-w-[150px] w-full">
                            <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">Joan T.</h3>
                            <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                              <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">verified customer</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                  <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                  <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>                            
                            </div>
                          </div>                          
                        </div>
                        <blockquote class="grow shrink gap-2 text-[18px] leading-[25.2px] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full h-[210px]">
                          “Akka was a godsend. I had no idea why I couldn't lose weight. I tried everything including hard core diets, exercise programs, and fat burner pills (they made the problem worse).   I had no idea that my liver was responsible.  I tried Akka and felt the effects in days.  My mental clarity has also been amazing. Five stars. “
                        </blockquote>
                        <div class="flex max-w-[220px] w-full mx-auto">
                          <img loading="lazy" src="{{ 'joant.png' |  file_img_url: 'master' }}" class="object-contain w-full aspect-square" alt="Michael G.'s photo" />
                        </div>
                      </article> 
                    </div>
                  </div>
                </div>  
                <div class="swiper-slide">
                  <div class="flex gap-10 items-center max-[1200px]:max-w-full">
                    <!--SLIDE 4-->
                    <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[1320px] max-[1200px]:max-w-full">     
                      <article class="flex flex-wrap gap-2 items-start w-full max-[1200px]:max-w-full">
                        <div class="flex items-start justify-between max-w-full w-full">
                          <img loading="lazy" src="{{ 'star.png' |  file_img_url: 'master' }}" class="object-contain max-w-full aspect-[5] w-[150px]" alt="5 star rating" />
                          <div class="max-w-[150px] w-full">
                            <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">Jerry S.</h3>
                            <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                              <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">verified customer</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                  <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                  <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                          </div>                          
                        </div>
                        <blockquote class="grow shrink gap-2 text-[18px] leading-[25.2px] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full h-[210px]">
                          “I was skeptical at first, as I had never been able to find something that truly worked, but Akka proved me wrong. Not only has my energy returned, but I've also started to lose some of the weight that seemed impossible to shed before. Akka has truly been a game-changer for me. A solid 5-star experience.”
                        </blockquote>
                        <div class="flex max-w-[220px] w-full mx-auto">
                          <img loading="lazy" src="{{ 'jerrys.png' |  file_img_url: 'master' }}" class="object-contain w-full rounded-full aspect-square" alt="Elizabeth M.'s photo" />
                        </div>
                      </article>
                    </div>
                  </div>
                </div>                    
                <div class="swiper-slide">
                  <div class="flex gap-10 items-center max-[1200px]:max-w-full">
                    <!--SLIDE 5-->
                    <div class="flex flex-col self-stretch my-auto min-w-[240px] w-[1320px] max-[1200px]:max-w-full">                      
                      <article class="flex flex-wrap gap-2 items-start w-full max-[1200px]:max-w-full">
                        <div class="flex items-start justify-between max-w-full w-full">                            
                          <img loading="lazy" src="{{ 'star.png' |  file_img_url: 'master' }}" class="object-contain max-w-full aspect-[5] w-[150px]" alt="5 star rating" />
                          <div class="max-w-[150px] w-full">
                            <h3 class="self-stretch mt-1.5 text-[20px] font-bold leading-[130%] text-[#2E3666]">Jerry S.</h3>
                            <div class="flex gap-1 justify-center items-center mt-1.5 text-[16px] tracking-[-0.32px] leading-[120%]">
                              <span class="self-stretch my-auto text-[#494949] font-['work_sans'] lowercase">verified customer</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                  <circle cx="5.49959" cy="5.7242" r="5.21053" fill="#278DB5"/>
                                  <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="white" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>                            
                            </div>
                          </div>
                        </div>
                        <!--FOR DESKTOP-->
                        <blockquote class="grow shrink gap-2 text-[18px] leading-[25.2px] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full max-[1200px]:hidden">
                          “Akka changed everything for me. Not only did it help cleanse and rejuvenate my liver, but it also kick-started my weight loss and restored my energy levels. For the first time in years, I felt like my body was working with me, not against me.
                          <br><br>
                          The transformation was noticeable not just to me but to everyone around me. Colleagues and friends commented on how much happier and more energetic I seemed. I went from avoiding social gatherings to embracing them, thanks to the newfound confidence Akka gave me.
                          <br><br>
                          I believe Akka is something everyone should know about, especially those struggling with similar issues. It has not only improved my physical health but has also had a profound impact on my overall well-being and happiness. I've recommended it to everyone I care about.”
                        </blockquote>
                        <!--FOR MOBILE-->
                        <blockquote class="grow shrink gap-2 text-[18px] leading-[25.2px] min-w-[240px] text-[#2E3666] w-[564px] max-[1200px]:max-w-full hidden max-[1200px]:block h-[210px]">
                          ...The transformation was noticeable not just to me but to everyone around me. Colleagues and friends commented on how much happier and more energetic I seemed. I went from avoiding social gatherings to embracing them, thanks to the newfound confidence Akka gave me...
                        </blockquote>
                        <div class="flex max-w-[220px] w-full mx-auto">
                          <img loading="lazy" src="{{ 'jerrys2.png' |  file_img_url: 'master' }}" class="object-contain w-full aspect-square" alt="Michael G.'s photo" />
                        </div>
                      </article>                        
                    </div>
                  </div>
                </div>
              </div>    
              <div class="flex gap-10 items-end max-[1200px]:order-2 max-[1200px]:mx-auto max-[1200px]:mt-[16px]">
                <div class="flex gap-8 items-start min-h-[32px] min-w-[240px] rotate-[-1.6081230200044232e-16rad] max-[1200px]:mx-auto">
                  <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
                      <path d="M1 19L101 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M81 13L101 19H81" fill="#2E3666"/>
                      <path d="M81 13L101 19H81V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg> 
                  </div>
                  <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
                      <path d="M133 19L33 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M53 13L33 19L53 19" fill="#2E3666"/>
                      <path d="M53 13L33 19L53 19V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  </div>                                       
                </div>
              </div>              
            </div>
          </div>
        </div>

        <!-- BOTTOM PART -->
        <div class="flex flex-wrap gap-2 items-start mt-16 max-w-full text-base tracking-tight leading-tight text-[#2E3666] w-[879px] max-[1200px]:mt-10 font-['work_sans']">
            <div class="flex gap-1 justify-center items-center px-4 py-2 border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="self-stretch my-auto">Reduce brain frog</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 whitespace-nowrap border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Happy</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 whitespace-nowrap border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Energy</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Clear Skin</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Flat belly</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Reduce weight gain</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 whitespace-nowrap border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Vibrant</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Reduce bloating</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 whitespace-nowrap border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Fresh</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 whitespace-nowrap border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Focus</span>
            </div>
            <div class="flex gap-1 justify-center items-center px-4 py-2 border border-solid border-[#2E3666] rounded-[60px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                    <path d="M8.39453 4.05273L4.63137 7.81589L2.95898 6.1435" stroke="#2E3666" stroke-width="1.29412" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <span class="self-stretch my-auto">Improve immune system</span>
            </div>
          </div>
        </div>
    </div>
  </section>
</section>

<script>
  var swiper = new Swiper(".swiper-{{ section.id }}", {
    
    spaceBetween: 30,
    centeredSlides: true,    
    loop: true,
    autoplay: true,
    speed: 800,
    simulateTouch: true,
    allowTouchMove: true, // Disables swiping with touch/mouse
    noSwiping: false, // Prevents swiping on specific elements
    preventInteractionOnTransition:false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      1200: {
        simulateTouch: false,
        allowTouchMove: false, // Disables swiping with touch/mouse
        noSwiping: true, // Prevents swiping on specific elements
      }
    }
    on: {
        slideChangeTransitionStart: function () {
            // This event is triggered when the slide starts changing
            const slides = document.querySelectorAll('.swiper-{{ section.id }} .swiper-slide');
            
            // Reset the transform for all slides to normal
            slides.forEach(slide => {
                slide.style.transform = 'translateX(-200px)';
            });
        },
        slideChangeTransitionEnd: function () {
            // This event is triggered when the slide finishes changing
            const slides = document.querySelectorAll('.swiper-{{ section.id }} .swiper-slide');

            // Reset the transform for all slides to normal
            slides.forEach(slide => {
                slide.style.transform = 'translateX(0px)';
            });
        }
    }
  });
</script>

{% style %} 
  #section-{{ section.id }} .swiper-slide {
      transition: transform 1.5s ease-in-out; /* Smooth transition for the movement */
  }
  #section-{{ section.id }} .swiper-wrapper{
      transition-timing-function : linear;
  }
  #section-{{ section.id }} .swiper-button-next:after, 
  #section-{{ section.id }} .swiper-rtl .swiper-button-prev:after , 
  #section-{{ section.id }} .swiper-button-prev:after, 
  #section-{{ section.id }} .swiper-rtl .swiper-button-next:after {
      content:unset;
  }
  #section-{{ section.id }} .swiper-button-next, #section-{{ section.id }} .swiper-button-prev {
      width: 50%;
  }
  #section-{{ section.id }} .swiper-button-next {
      right: -20px;
  }
  #section-{{ section.id }} .swiper-button-prev {
      left: -20px;
  }
{% endstyle %}

{% schema %}
{
  "name": "Ak - Product S3",
  "settings": [
    {
      "type": "text",
      "id": "heading_line_1",
      "label": "Heading Line 1",
      "default": "How AKKA has helped"
    },
    {
      "type": "text",
      "id": "heading_line_2",
      "label": "Heading Line 2",
      "default": "people like you"
    }    
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "star_image",
          "label": "Star Rating Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "customer_status",
          "label": "Customer Status",
          "default": "Verified Customer"
        },
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Testimonial Text"
        },
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "Customer Image"
        },
        {
            "type":"header",
            "content":"For 2nd Row"
        },
        {
            "type": "checkbox",
            "id": "row2",
            "label": "Check for 2nd row",
            "default": false
        },
        {
          "type": "image_picker",
          "id": "row2_star_image",
          "label": "Star Rating Image"
        },
        {
          "type": "text",
          "id": "row2_name",
          "label": "Customer Name"
        },
        {
          "type": "text",
          "id": "row2_customer_status",
          "label": "Customer Status",
          "default": "Verified Customer"
        },
        {
          "type": "textarea",
          "id": "row2_testimonial",
          "label": "Testimonial Text"
        },
        {
          "type": "image_picker",
          "id": "row2_customer_image",
          "label": "Customer Image"
        }
      ]
    },
    {
      "type": "tags",
      "name": "Testimonial Tags",
      "settings": [
        {
          "type": "text",
          "id": "tag_name",
          "label": "Content Tag"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ak - Product S3",
      "category": "AKKA PRODUCT"
    }
  ]
}
{% endschema %}
