<style>
  #hero .prod-image .prod {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    left: 50%;
    transform: translateX(-50%);
  }
  #hero .prod-image .prod.active {
    opacity: 1;
  } 
  .prodbox article:hover,
  .prodbox article.active {
    cursor:pointer;
    background: linear-gradient(67deg, #98B1FC 26.65%, #FFAD61 78.89%);
  }
  

</style>
<section id="hero" class="handlebars-template w-full bg-[#E2E3EA] font-['syne']">
  

  <script id="template-desktop" type="text/x-handlebars-template">
    {%- raw -%}{{#unless (isMobile)}}{% endraw %}
      <div id="hero-desktop" class="relative flex overflow-hidden gap-10 justify-center items-start pt-20 pb-32  max-[1200px]:py-0 max-[1200px]:gap-0 max-[1200px]:flex-col max-[1200px]:items-center">
        <div class="image-container prod-image absolute top-0 left-0 w-full z-[-1] max-[1200px]:static max-[1200px]:overflow-hidden max-[1200px]:h-[493px] max-[1200px]:w-[414px] max-[1200px]:mx-auto">
            {% for block in section.blocks %}
                {% if block.type == 'block' %}
                  <div class="prod w-full mx-auto {% if forloop.first %}active{% endif %} {{ forloop.index }}">
                    <img class="mx-auto" src="{{ block.settings.prod_image | img_url: 'master' }}">
                  </div>                
                {% endif %}    
            {% endfor %}        
        </div>

        <div class="floating-button absolute bottom-[80px] left-[50%] translate-x-[-50%] w-[421px] flex items-center justify-center gap-5 z-10  max-[1200px]:top-[430px] max-[1200px]:bottom-[unset] ">
          
          <button class="prod-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
              <path d="M133 19L33 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M53 13L33 19L53 19" fill="#2E3666"/>
              <path d="M53 13L33 19L53 19V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>

          <button class="prod-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
              <path d="M1 19L101 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M81 13L101 19H81" fill="#2E3666"/>
              <path d="M81 13L101 19H81V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
          </button>
        </div>

        <div class="flex flex-col min-w-[240px] text-[#2E3666] w-[412px] max-[1200px]:order-2 max-[1200px]:px-4">
            <header class="flex flex-col w-full max-w-[412px]">
            <h1 class="text-5xl leading-[110%] max-[1200px]:text-[40px] capitalize">
                <span>{{ section.settings.title }}</span>
                <br />
                <span class="tracking-tighter font-['Blisstwin'] italic">{{ section.settings.title2 }}</span>
            </h1>
            <div class="flex gap-1 items-center self-start mt-4 text-base leading-snug">
                <span class="self-stretch my-auto font-semibold">4.6</span>
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/31aa2489da1a9eca8744d7e9aa18f74145f88c0b1ae61e763035e2b48db7ac92?placeholderIfAbsent=true&apiKey=961afc0b78ac419daaf2298acf5cab40" alt="Star rating" class="object-contain shrink-0 self-stretch my-auto aspect-[5] w-[85px]" />
                <span class="self-stretch my-auto tracking-tight">(922 ratings)</span>
            </div>
            </header>
            <div class="mt-8 text-lg tracking-wide leading-6 ">
                {{ section.settings.content }}
            </div>
            <section class="flex flex-col mt-8 w-full text-lg tracking-wide max-w-[399px]">
            <h2 class="flex gap-2.5 items-start py-4 w-full text-xl font-semibold tracking-wide whitespace-nowrap max-[1200px]:text-[18px]">
                BENEFITS:
            </h2>
            <ul class="list-none p-0 border-t border-solid border-[#2E3666]">

                {% for block2 in section.blocks %}
                    {% if block2.type == 'block2' %}
                        <li class="flex gap-2.5 items-start py-4 w-full border-b border-solid border-[#2E3666]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M4 13.8347L6.14133 16.1307C7.32267 17.3973 7.91333 18.0293 8.57467 18.2293C9.156 18.404 9.77467 18.3573 10.328 18.096C10.9587 17.7973 11.464 17.0813 12.4773 15.648L20 5" stroke="#5462B8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span class="gap-2.5 self-stretch min-w-[240px] w-[539px] max-[1200px]:max-w-full">
                                {{ block2.settings.benefit_content }}
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}            
            </ul>
            </section>
        </div>
        
        <div class="flex shrink-0 h-[730px] min-w-[240px] w-[421px] max-[1200px]:order-1 justify-center max-[1200px]:absolute max-[1200px]:top-0 max-[1200px]:left-[50%] max-[1200px]:translate-x-[-50%] max-[1200px]:h-[400px] max-[1200px]:w-[414px]" aria-hidden="true">
            <button id="prod-prev" class="w-1/2 prod-prev"></button>
            <button id="prod-next" class="w-1/2 prod-next"></button>        
        </div>

        <div class="prodbox flex flex-col justify-center items-center min-w-[240px] w-[399px] max-[1200px]:order-3 max-[1200px]:px-4">
            {% for block3 in section.blocks %}
                {% if block3.type == 'block3' %}
                    <article data-link="{{ block3.settings.link }}" class="flex gap-8 items-start px-3.5 py-4 max-w-full mb-4 leading-snug border border-indigo-900 border-solid text-[#2E3666] w-[399px] max-[1200px]:gap-[18px]">
                        <div class="flex flex-col items-start w-[209px]">
                            <h3 class="text-xl font-medium text-center uppercase">{{ block3.settings.prod_title }}</h3>
                            <p class="self-stretch mt-2 text-sm leading-5">
                                {{ block3.settings.prod_content1 }}
                                {{ block3.settings.prod_content2 }}
                            </p>
                            <p class="flex gap-1 items-start mt-2 text-2xl font-bold text-orange-500 whitespace-nowrap font-['Heebo']">
                            <span class="w-[59px]">{{ block3.settings.prod_price }}</span>
                            <span class="w-[59px] line-through opacity-50">{{ block3.settings.prod_before_price }}</span>
                            </p>
                        </div>
                        <div class="flex flex-col items-center text-xl text-center font-['Heebo'] max-[1200px]:w-[43%]">
                            <span class="gap-1 px-4 py-2 bg-zinc-100 rounded-[100px]">Save {{ block3.settings.save }}</span>
                            <p class="mt-2 font-bold">{{ block3.settings.per_bottle }}/bottle</p>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}    
            
            <div class="flex flex-col justify-center items-center pt-8 mt-4 max-[1200px]:w-[322px]">
            <button class="addtocart flex gap-4 items-start px-24 py-4 text-2xl tracking-wide leading-snug text-center text-white uppercase bg-[#3E488B] border border-solid border-[#2E3666] rounded-[100px] hover:shadow-[0px_12px_15px_rgba(33,48,94,0.5)] max-[1200px]:px-5 max-[1200px]:w-full max-[1200px]:justify-center">
                Add to Cart
                <img loading="lazy"  src="https://cdn.builder.io/api/v1/image/assets/TEMP/449543b04857691bfc461d1f9c69f03fbb4c2e3cb1e28e0a1783367697ed8ce0?placeholderIfAbsent=true&apiKey=961afc0b78ac419daaf2298acf5cab40" alt="" class="object-contain shrink-0 aspect-[0.65] w-[22px]" />
            </button>
            <div class="flex flex-col mt-2.5 text-blue-950">
                <p class="flex gap-2 items-center text-lg font-medium tracking-wide leading-5">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6aa18bb0de06614e00c671615973d86b2b994ce883278750cb3138ff4249699d?placeholderIfAbsent=true&apiKey=961afc0b78ac419daaf2298acf5cab40" alt="" class="object-contain shrink-0 self-stretch my-auto aspect-[1.32] w-[25px]" />
                <span class="self-stretch my-auto">
                    Order today and shipping is on us! <br />
                    <a href="https://konsciousketo.com/policies/shipping-policy" class="text-cyan-600 underline" target="_blank" rel="noopener noreferrer">
                    More shipping info
                    </a>
                </span> 
                </p>
                <p class=" gap-2 self-stretch mt-4 max-w-full text-xl leading-normal w-[322px] font-['Heebo']">
                90-DAY MONEY-BACK GUARANTEE
                </p>
                <div class="flex gap-2  mt-4 min-h-[24px]" aria-hidden="true"></div>
            </div>
            </div>
        </div>
      </div>      
    {% raw %}{{/unless}}{% endraw %}  
  </script>  

  <script id="template-mobile" type="text/x-handlebars-template">
    {%- raw -%}{{#if (isMobile)}}{% endraw %}
      <div id="hero-mobile" class="relative flex py-0 gap-0 flex-col items-center">
        <div class="max-w-full w-full sticky top-[72px]">
          <div class="image-container prod-image top-0 left-0 w-full z-[-1] sticky max-[1200px]:h-[493px] max-w-full  max-[1200px]:mx-auto">
              {% for block in section.blocks %}
                  {% if block.type == 'block' %}
                    <div class="prod max-[1200px]:w-full mx-auto top-[-40px] {% if forloop.first %}active{% endif %} {{ forloop.index }}">
                      <img class="hidden max-[1200px]:block  mx-auto" src="{{ block.settings.prod_image_mob | img_url: 'master' }}">
                    </div>                
                  {% endif %}    
              {% endfor %}        
          </div>

          <div class="floating-button absolute left-[50%] translate-x-[-50%] w-full max-w-full flex items-center justify-center gap-5 z-10 top-[450px]">
            
            <button class="prod-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
                <path d="M133 19L33 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M53 13L33 19L53 19" fill="#2E3666"/>
                <path d="M53 13L33 19L53 19V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>

            <button class="prod-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="134" height="32" viewBox="0 0 134 32" fill="none">
                <path d="M1 19L101 19" stroke="#2E3666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M81 13L101 19H81" fill="#2E3666"/>
                <path d="M81 13L101 19H81V13Z" stroke="#2E3666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg> 
            </button>
          </div>

          <div class="flex w-full max-w-full justify-center absolute top-0 left-[50%] translate-x-[-50%] h-[400px] " aria-hidden="true">
              <button id="prod-prev" class="w-1/2 prod-prev"></button>
              <button id="prod-next" class="w-1/2 prod-next"></button>        
          </div>
        </div>
        

        <div class="w-full max-w-full px-4 sticky top-0 bg-[rgb(226,227,234,0.80)] backdrop-blur-[30px]">
          <div class="flex flex-col text-[#2E3666] w-full max-w-[412px]">
            <header class="flex flex-col w-full max-w-full">
              <h1 class="text-5xl leading-[110%] max-[1200px]:text-[40px] capitalize">
                  <span>{{ section.settings.title }}</span>
                  <br />
                  <span class="tracking-tighter font-['Blisstwin'] italic">{{ section.settings.title2 }}</span>
              </h1>
              <div class="flex gap-1 items-center self-start mt-4 text-base leading-snug">
                  <span class="self-stretch my-auto font-semibold">4.6</span>
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/31aa2489da1a9eca8744d7e9aa18f74145f88c0b1ae61e763035e2b48db7ac92?placeholderIfAbsent=true&apiKey=961afc0b78ac419daaf2298acf5cab40" alt="Star rating" class="object-contain shrink-0 self-stretch my-auto aspect-[5] w-[85px]" />
                  <span class="self-stretch my-auto tracking-tight">(922 ratings)</span>
              </div>
            </header>
            <div class="mt-8 text-lg tracking-wide leading-6 ">
                {{ section.settings.content }}
            </div>
            <section class="flex flex-col mt-8 w-full text-lg tracking-wide max-w-full">
              <h2 class="flex gap-2.5 items-start py-4 w-full text-xl font-semibold tracking-wide whitespace-nowrap max-[1200px]:text-[18px]">
                  BENEFITS:
              </h2>
              <ul class="list-none p-0 border-t border-solid border-[#2E3666]">

                  {% for block2 in section.blocks %}
                      {% if block2.type == 'block2' %}
                          <li class="flex gap-2.5 items-start py-4 w-full border-b border-solid border-[#2E3666]">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                  <path d="M4 13.8347L6.14133 16.1307C7.32267 17.3973 7.91333 18.0293 8.57467 18.2293C9.156 18.404 9.77467 18.3573 10.328 18.096C10.9587 17.7973 11.464 17.0813 12.4773 15.648L20 5" stroke="#5462B8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              <span class="gap-2.5 self-stretch min-w-[240px] w-[539px] max-[1200px]:max-w-full [&>p]:leading-[21.6px] [&>p>br]:hidden">
                                  {{ block2.settings.benefit_content }}
                              </span>
                          </li>
                      {% endif %}
                  {% endfor %}            
              </ul>
            </section>
          </div>

          <div class="prodbox flex flex-col justify-center items-center min-w-[240px] w-full max-w-[399px]">
            {% for block3 in section.blocks %}
                {% if block3.type == 'block3' %}
                    <article data-link="{{ block3.settings.link }}" class="flex gap-8 items-start px-3.5 py-4 max-w-full mb-4 leading-snug border border-indigo-900 border-solid text-[#2E3666] w-[399px] max-[1200px]:gap-[18px]">
                        <div class="flex flex-col items-start w-[209px]">
                            <h3 class="text-xl font-medium text-center uppercase">{{ block3.settings.prod_title }}</h3>
                            <p class="self-stretch mt-2 text-sm leading-5">
                                {{ block3.settings.prod_content1 }}
                                {{ block3.settings.prod_content2 }}
                            </p>
                            <p class="flex gap-1 items-start mt-2 text-2xl font-bold text-orange-500 whitespace-nowrap font-['Heebo']">
                            <span class="w-[59px]">{{ block3.settings.prod_price }}</span>
                            <span class="w-[59px] line-through opacity-50">{{ block3.settings.prod_before_price }}</span>
                            </p>
                        </div>
                        <div class="flex flex-col items-center text-xl text-center font-['Heebo'] max-[1200px]:w-[43%]">
                            <span class="gap-1 px-4 py-2 bg-zinc-100 rounded-[100px]">Save {{ block3.settings.save }}</span>
                            <p class="mt-2 font-bold">{{ block3.settings.per_bottle }}/bottle</p>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}    
              
            <div class="flex flex-col justify-center items-center pt-8 mt-4 max-[1200px]:w-[322px]">
              <button class="addtocart flex gap-4 items-start px-24 py-4 text-2xl tracking-wide leading-snug text-center text-white uppercase bg-[#3E488B] border border-solid border-[#2E3666] rounded-[100px] shadow-[0px_54px_15px_rgba(33,48,94,0)] max-[1200px]:px-5 max-[1200px]:w-full max-[1200px]:justify-center">
                  Add to Cart
                  <img loading="lazy"  src="https://cdn.builder.io/api/v1/image/assets/TEMP/449543b04857691bfc461d1f9c69f03fbb4c2e3cb1e28e0a1783367697ed8ce0?placeholderIfAbsent=true&apiKey=961afc0b78ac419daaf2298acf5cab40" alt="" class="object-contain shrink-0 aspect-[0.65] w-[22px]" />
              </button>
              <div class="flex flex-col mt-2.5 text-blue-950">
                  <p class="flex gap-2 items-center text-lg font-medium tracking-wide leading-5">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6aa18bb0de06614e00c671615973d86b2b994ce883278750cb3138ff4249699d?placeholderIfAbsent=true&apiKey=961afc0b78ac419daaf2298acf5cab40" alt="" class="object-contain shrink-0 self-stretch my-auto aspect-[1.32] w-[25px]" />
                  <span class="self-stretch my-auto">
                      Order today and shipping is on us! <br />
                      <a href="https://konsciousketo.com/policies/shipping-policy" class="text-cyan-600 underline" target="_blank" rel="noopener noreferrer">
                      More shipping info
                      </a>
                  </span> 
                  </p>
                  <p class=" gap-2 self-stretch mt-4 max-w-full text-xl leading-normal w-[322px] font-['Heebo']">
                  90-DAY MONEY-BACK GUARANTEE
                  </p>
                  <div class="flex gap-2  mt-4 min-h-[24px]" aria-hidden="true"></div>
              </div>
            </div>
          </div>
        </div>    

      </div>      
    {%- raw -%}{{/if}}{% endraw %}  
  </script>
</section>

<script>
  const Hero = document.querySelector('#hero');
  const ProductItems = Hero.querySelectorAll('article');
  const AddtoCart = Hero.querySelector('.addtocart');

  ProductItems.forEach(function(item) {
    item.addEventListener('click', function() {
      ProductItems.forEach(function(article) {
        article.classList.remove('active');
      });
      item.classList.add('active');
    });
  });

  AddtoCart.addEventListener('click', function() {
    // Find the active article
    const activeItem = Product.querySelector('article.active');
    if (activeItem) {
      // Get the data-url attribute of the active article
      const dataUrl = activeItem.getAttribute('data-url');
      if (dataUrl) {
        // Redirect to the URL
        window.location.href = dataUrl;
      }
    }
  });


  function initializeImageSlider() {
    const images = document.querySelectorAll('.image-container .prod');
    const nextButtons = document.querySelectorAll('.prod-next');
    const prevButtons = document.querySelectorAll('.prod-prev');
    let currentIndex = 0;

    function updateActiveImage(newIndex) {
        // Remove 'active' class from current image
        images[currentIndex].classList.remove('active');
        
        // Update the index
        currentIndex = newIndex;
        
        // Add 'active' class to the new image
        images[currentIndex].classList.add('active');
    }

    // Attach event listeners for all 'next' buttons
    nextButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            let nextIndex = (currentIndex + 1) % images.length;
            updateActiveImage(nextIndex);
        });
    });

    // Attach event listeners for all 'previous' buttons
    prevButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            let prevIndex = (currentIndex - 1 + images.length) % images.length;
            updateActiveImage(prevIndex);
        });
    });
  }

  // Initialize the slider on DOMContentLoaded
  document.addEventListener("DOMContentLoaded", initializeImageSlider);
  document.addEventListener("htmlContentChanged", initializeImageSlider);
  document.addEventListener("htmlContentChanged", function(){ console.log('test') });

</script>

{% schema %}
    {
      "name": "Ak - Product S1",
      "settings": [
        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default":"Akka for total"
        },
        {
            "type":"text",
            "id":"title2",
            "label":"Title Italic",
            "default":"liver rejuvenation"
        } , 
        {
            "type":"richtext",
            "id":"content",
            "label":"content"
        }     
    ],
      "blocks": [
        {
          "type": "block",
          "name": "Product Images",
          "settings": [
            {
              "type": "image_picker",
              "id": "prod_image",
              "label": "Product Image"
            },
            {
              "type": "image_picker",
              "id": "prod_image_mob",
              "label": "Product Image mob"
            }
          ]
        },
        {
          "type": "block2",
          "name": "Benefits",
          "settings": [
            {
              "type": "richtext",
              "id": "benefit_content",
              "label": "Benefit Content"
            }
          ]
        },
        {
          "type": "block3",
          "name": "Product Prices",
          "settings": [
            {
              "type": "text",
              "id": "prod_title",
              "label": "Price Title"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Product Link"
            },
            {
                "type":"header",
                "content":"Content"
            },
            {
              "type": "text",
              "id": "prod_content1",
              "label": "Content Info"
            },
            {
              "type": "text",
              "id": "prod_content2",
              "label": "Bottles Upfront"
            },
            {
                "type":"header",
                "content":"Price"
            },
            {
              "type": "text",
              "id": "prod_price",
              "label": "Current Price"
            },
            {
              "type": "text",
              "id": "prod_before_price",
              "label": "Before Price"
            },
            {
                "type":"header",
                "content":"Price"
            },
            {
              "type": "text",
              "id": "save",
              "label": "Price save"
            },
            {
              "type": "text",
              "id": "per_bottle",
              "label": "Price Per Bottle"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Ak - Product S1",
          "category": "AKKA PRODUCT"      
        }
      ]
    }
{% endschema %}

