<section id="marquee" class="remove-animation pt-[49px] max-md:pt-0 max-md:overflow-hidden h-[122px] bottom-[30px] left-0 max-md:w-full max-[1200px]:bottom-0 max-[1200px]:mb-[-25px] max-md:mt-[-97px]">
  <!-- Slider main container -->
  <div class="marquee swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper !h-auto">
      {% for slide in section.blocks %}
      <!-- Slides -->
      <div class="swiper-slide !flex !items-center !justify-center gap-[35px] !w-[unset] !h-[unset] font-['blisstwin']">
        <h3 class="text-[100px] text-[#C8D3F0] capitalize">{{ slide.settings.slide_text }}</h3>
        <div class="w-[15px] h-[15px] bg-[#C8D3F0] rotate-45"></div>
      </div>
      {% endfor %}
    </div>      
  </div>
</section>  
<style>
  #section3-animation.active .overflow-up {
    overflow:hidden;
    padding-top: 15px;
    margin-top: -15px;
  }
  #section3-animation.active .overflow-down {
    overflow:hidden;
    padding-bottom: 15px;
    margin-bottom: -15px;
  }
  #section3-animation.active .animate-downup {
    transition: 2s ease-out;
    animation: downUp 2s ease-out forwards;
  }
  #section3-animation.active img.animate-downup {
    transition: 2s ease-out;
    animation: downUp2 2s ease-out forwards;
  }
  #section3-animation.active .animate-updown {
    transition: 2s ease-out;
    animation: upDown 2s ease-out forwards;
  }
  #section3-animation.active .animate-leftrigth {
    transition: 2s ease-out;
    animation: leftRigth 2s ease-out forwards;
  }
  #section3-animation.active .animate-rigthleft {
    transition: 2s ease-out;
    animation: rigthLeft 2s ease-out forwards;
  }
  @keyframes downUp2 {
    0% {transform: translateY(100%);}
    50% {transform: translateY(-2%);}
    100% {transform: translateY(0%);}
  }
  @keyframes downUp {
    0% {transform: translateY(100%);}
    50% {transform: translateY(-10%);}
    100% {transform: translateY(0%);}
  }
  @keyframes upDown {
    0% {transform: translateY(-100%);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0%);}
  }
  @keyframes leftRigth {
    0% {transform: translatex(-100%);}
    50% {transform: translatex(5%);}
    100% {transform: translatex(0%);}
  }
  @keyframes rigthLeft {
    0% {transform: translatex(100%);}
    50% {transform: translatex(-5%);}
    100% {transform: translatex(0%);}
  }
  @media(max-width: 1200px) {
    #section3-animation.active .animate-downup {
    transition: unset;
    animation:unset;
    }
    #section3-animation.active img.animate-downup {
      transition: unset;
      animation: unset;
    }
    #section3-animation.active .animate-updown {
      transition: unset;
      animation:unset;
    }
    #section3-animation.active .animate-leftrigth {
      transition: unset;
      animation:unset;
    }
    #section3-animation.active .animate-rigthleft {
      transition: unset;
      animation:unset;
    }
  }
</style>
<!-- sections/akka-help-section.liquid -->
<section id="section3" class="text-[#2E3666] bg-[#C9CFE1] font-['syne']">
  <div id="section3-animation" class="max-w-[var(--page-width)] w-full mx-auto pt-[128px] pb-[144px] max-md:pt-[64px] max-md:pb-0 active">
    <!-- TITLE DIV -->
    <div  class="flex justify-between items-start max-md:flex-col max-md:px-4">
      <div class="max-w-[330px] w-full">
        <h3 class="text-[70px] leading-[79%] max-md:text-[40px] max-md:mb-8">
          <div class="overflow-up">
            <span class="block animate-downup">{{ section.settings.title }}</span>
          </div>          
          <div class="overflow-up">
            <span class="font-['Blisstwin'] mt-[12px] block animate-downup pb-3">{{ section.settings.subtitle }}</span>
          </div>
        </h3>
      </div>
      <div class="max-w-[658px] w-full overflow-up">
        <div class="animate-downup [&>p]:text-[24px] [&>p]:leading-[140%] [&>p]:tracking-[0.48px] [&>p]:max-md:text-[20px]">
          {{ section.settings.description }}
        </div>        
      </div>
    </div>
    <div class="w-full py-[16px] !mt-[64px] max-md:hidden overflow-up">
      <h3 class="text-[40px] tracking-[-0.8px] uppercase animate-downup">{{ section.settings.section_heading }}</h3>
    </div>
    <div class="overflow-hidden max-md:hidden">
      <div class="h-[4px] w-full bg-[#3E488B] animate-leftrigth"></div>
    </div>
    <!-- CONTENT DIV -->
    <div class="block relative h-[689px] w-full max-md:hidden">
      <!-- MIDDLE IMAGE DIV -->
      <div class="absolute left-[50%] translate-x-[-50%] max-w-[430px] w-full top-0 overflow-up">
        <img class="animate-downup" src="{{ section.settings.main_image | img_url: 'master' }}" alt="">
      </div>
      <!-- LABEL1 DIV -->
      <div class="max-w-[363px] w-full absolute top-[193px] left-0">
        <div class="max-w-[284px] w-full h-[92px] ml-[200px]">
          <div class="pr-[30px] mr-[-30px] overflow-hidden">
            <img class="animate-leftrigth" src="{{ section.settings.line_image1 | img_url: 'master' }}" alt="">
          </div>          
          <div class="overflow-hidden mt-[-4px]">
            <img class="w-[2px] animate-downup" src="{{ section.settings.vertical_line1 | img_url: 'master' }}" alt="">
          </div>          
        </div>
        <div class="overflow-down">
          <div class="animate-updown">
            <h4 class="font-['Blisstwin'] text-[30px] text-center tracking-[0.6px] uppercase p-[10px] border-[1.5px] border-solid border-[#2E3666] pb-0">{{ section.settings.label1_title }}</h4>
            <p class="mt-[31px] text-[22px] leading-[normal]">{{ section.settings.label1_text }}</p>
          </div>          
        </div>
      </div>
      <!-- LABEL2 DIV -->
      <div class="max-w-[363px] w-full absolute top-[59px] right-0">
        <div class="relative">
          <div class="overflow-down">
            <div class="animate-updown">
              <h4 class="font-['Blisstwin'] text-[30px] text-center tracking-[0.6px] uppercase p-[10px] border-[1.5px] border-solid border-[#2E3666] pb-0">{{ section.settings.label2_title }}</h4>
              <p class="mt-[8px] text-[22px] leading-[normal]">{{ section.settings.label2_text }}</p>
            </div>            
          </div>
          <div class="max-w-[354px] w-full absolute top-[123px] right-[160px]">
            <div class="overflow-down">
              <img class="w-[2px] ml-auto animate-updown" src="{{ section.settings.vertical_line2 | img_url: 'master' }}" alt="">
            </div>
            <div class="overflow-hidden pl-[30px] ml-[-30px]">
              <img class="animate-rigthleft" src="{{ section.settings.line_image2 | img_url: 'master' }}" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- LABEL3 DIV -->
      <div class="max-w-[363px] w-full absolute bottom-[16px] right-[11px]">
        <div class="relative bg-[#C9CFE1]">
          <div class="max-w-[300px] w-full absolute top-[-64px] right-[160px]">
            <div class="overflow-hidden pl-[30px] ml-[-30px]">
              <img class="animate-rigthleft" src="{{ section.settings.line_image3 | img_url: 'master' }}" alt="">
            </div>
            <div class="overflow-up">
              <img class="w-[2px] ml-auto mb-[-40px] animate-downup" src="{{ section.settings.vertical_line3 | img_url: 'master' }}" alt="">
            </div>
          </div>
          <div class="relative z-10 overflow-down">
            <div class="animate-updown">
              <h4 class="font-['Blisstwin'] text-[30px] text-center tracking-[0.6px] uppercase p-[10px] border-[1.5px] border-solid border-[#2E3666] pb-0">{{ section.settings.label3_title }}</h4>
              <p class="mt-[8px] text-[22px] leading-[normal]">{{ section.settings.label3_text }}</p>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT DIV MOBILE -->
    <div class="hidden max-md:block max-w-[430px] w-full sticky top-0 z-[-1]">
      <img class="mt-[-100px]" src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="">
    </div>

    <div class="max-md:bg-[rgba(201,207,225,0.80)] max-md:backdrop-blur-[30px] max-md:pb-[49px]">
      <div class="hidden max-md:block px-4">
        
        <div class="w-full mb-8 ">
          <h3 class="text-[30px] tracking-[-0.8px] uppercase border-b-[4px] border-solid border-[#3E488B] py-[16px] max-[1200px]:pb-0">{{ section.settings.section_heading }}</h3>
        </div>
        <div class="">
          <h4 class="w-[calc(100%_-_42px)] mx-auto font-['Blisstwin'] text-[30px] text-center tracking-[0.6px] uppercase p-[10px] border-[1.5px] border-solid border-[#2E3666] pb-0 max-[1200px]:text-[20px]">{{ section.settings.label1_title }}</h4>
          <p class="mt-4 text-[22px] leading-[normal] max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.label1_text }}</p>
        </div>
        <div class="mt-8">
          <h4 class="w-[calc(100%_-_42px)] mx-auto font-['Blisstwin'] text-[30px] text-center tracking-[0.6px] uppercase p-[10px] border-[1.5px] border-solid border-[#2E3666] pb-0 max-[1200px]:text-[20px]">{{ section.settings.label2_title }}</h4>
          <p class="mt-4 text-[22px] leading-[normal] max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.label2_text }}</p>
        </div>
        <div class="mt-8">
          <h4 class="w-[calc(100%_-_42px)] mx-auto font-['Blisstwin'] text-[30px] text-center tracking-[0.6px] uppercase p-[10px] border-[1.5px] border-solid border-[#2E3666] pb-0 max-[1200px]:text-[20px]">{{ section.settings.label3_title }}</h4>
          <p class="mt-4 text-[22px] leading-[normal] max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.label3_text }}</p>
        </div>
      </div>
      <!-- BOTTOM DIV -->
      
      <div class="w-full relative z-10 max-md:px-4 overflow-up">
        <h3 class="text-[40px] tracking-[-0.8px] uppercase max-md:text-[30px] max-[1200px]:pt-[37px] max-[1200px]:pb-0 animate-downup" >{{ section.settings.final_heading }}</h3>
      </div>
      <div class="overflow-hidden max-md:px-[16px]">
        <div class="h-[4px] w-full bg-[#3E488B] animate-rigthleft"></div>
      </div>
      <div class="flex justify-between items-start mt-[28px] max-md:flex-col max-md:px-4 max-md:gap-2 max-md:pb-[49px] overflow-down" >
        <div class="py-[32px] pl-[40px] bg-[#3E488B] backdrop-blur-2xl rounded-[6px] max-w-[431px] w-full animate-updown">
          <img src="{{ section.settings.icon_image1 | img_url: 'master' }}" alt="">
          <p class="text-[24px] text-[#C9CFE1] leading-[150%] tracking-[0.48px] py-[16px] max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.final_text1 }}</p>
        </div>
        <div class="py-[32px] pl-[40px] bg-[#3E488B] backdrop-blur-2xl rounded-[6px] max-w-[431px] w-full h-[265px] animate-updown">
          <img src="{{ section.settings.icon_image2 | img_url: 'master' }}" alt="">
          <p class="text-[24px] text-[#C9CFE1] leading-[150%] tracking-[0.48px] py-[16px] max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.final_text2 }}</p>
        </div>
        <div class="py-[32px] pl-[40px] bg-[#3E488B] backdrop-blur-2xl rounded-[6px] max-w-[431px] w-full animate-updown">
          <img src="{{ section.settings.icon_image3 | img_url: 'master' }}" alt="">
          <p class="text-[24px] text-[#C9CFE1] leading-[150%] tracking-[0.48px] py-[16px] max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.final_text3 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const swiperMarquee = new Swiper(".marquee", {
    spaceBetween: 35,
    centeredSlides: true,
    speed: 20000,
    autoplay: {
      delay: 1,
    },
    loop: true,
    slidesPerView:'auto',
    allowTouchMove: false,
    disableOnInteraction: true
  });
</script>

<script>
// // Target element
// var targetElement = document.getElementById('section3-animation'); // Replace with your element class or ID

// // Callback function for the IntersectionObserver
// var observer = new IntersectionObserver(function(entries) {
//   entries.forEach(function(entry) {
//     if (entry.isIntersecting) {
//       entry.target.classList.add('active');
//     } else {
//       entry.target.classList.remove('active');
//     }
//   });
// });

// // Observe the target element
// observer.observe(targetElement);


// Target element
var targetElement = document.getElementById('section3-animation'); // Replace with your element class or ID

// Callback function for the IntersectionObserver
var observer = new IntersectionObserver(function(entries) {
  entries.forEach(function(entry) {
    if (entry.isIntersecting) {
      entry.target.classList.add('active');
      
      // Remove the class 'active' after 1 second
      setTimeout(function() {
        entry.target.classList.remove('active');
      }, 2500); // 1000ms = 1 second
    }
  });
});

// Observe the target element
observer.observe(targetElement);





</script>



{% schema %}
{
  "name": "Ak - Science S4",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "How AKKA"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "can help"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "It works by:"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "line_image1",
      "label": "Line Image 1"
    },
    {
      "type": "image_picker",
      "id": "vertical_line1",
      "label": "Vertical Line 1"
    },
    {
      "type": "text",
      "id": "label1_title",
      "label": "Label 1 Title",
      "default": "Aid"
    },
    {
      "type": "textarea",
      "id": "label1_text",
      "label": "Label 1 Text",
      "default": "Aiding in the regeneration of liver cells and the repair of scar tissue..."
    },
    {
      "type": "image_picker",
      "id": "line_image2",
      "label": "Line Image 2"
    },
    {
      "type": "image_picker",
      "id": "vertical_line2",
      "label": "Vertical Line 2"
    },
    {
      "type": "text",
      "id": "label2_title",
      "label": "Label 2 Title",
      "default": "Clean"
    },
    {
      "type": "textarea",
      "id": "label2_text",
      "label": "Label 2 Text",
      "default": "Cleansing your liver of toxins and excess fat that might be clogging your bile ducts..."
    },
    {
      "type": "image_picker",
      "id": "line_image3",
      "label": "Line Image 3"
    },
    {
      "type": "image_picker",
      "id": "vertical_line3",
      "label": "Vertical Line 3"
    },
    {
      "type": "text",
      "id": "label3_title",
      "label": "Label 3 Title",
      "default": "Support"
    },
    {
      "type": "textarea",
      "id": "label3_text",
      "label": "Label 3 Text",
      "default": "Supporting the restoration of your liver's natural ability..."
    },
    {
      "type": "text",
      "id": "final_heading",
      "label": "Final Heading",
      "default": "It helps to:"
    },
    {
      "type": "image_picker",
      "id": "icon_image1",
      "label": "Icon Image 1"
    },
    {
      "type": "textarea",
      "id": "final_text1",
      "label": "Final Text 1",
      "default": "Increase energy and metabolism..."
    },
    {
      "type": "image_picker",
      "id": "icon_image2",
      "label": "Icon Image 2"
    },
    {
      "type": "textarea",
      "id": "final_text2",
      "label": "Final Text 2",
      "default": "Reduce bloating, indigestion..."
    },
    {
      "type": "image_picker",
      "id": "icon_image3",
      "label": "Icon Image 3"
    },
    {
      "type": "textarea",
      "id": "final_text3",
      "label": "Final Text 3",
      "default": "Regulate mood and immunity..."
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_text",
          "label": "Slide Text",
          "default": "The Liver Performs over 500 crucial functions"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ak - Science S4",
      "category": "AKKA SCIENCE"
    }
  ]
}
{% endschema %}
