<!-- sections/lifestyle-choices.liquid -->
<section id="section4" class="font-['syne'] overflow-x-hidden">
  <div class="max-w-[var(--page-width)] w-full mx-auto py-[128px] text-[#2E3666] max-md:py-8 max-md:px-4">
    <div class="max-w-[1062px] w-full mr-auto">
      <h3 class="text-[70px] leading-[104%] max-md:text-[40px]">{{ section.settings.title }}
        <span class="font-['Blisstwin'] leading-[79%]">{{ section.settings.title2 }}</span>
      </h3>      
      <p class="text-[24px] leading-[36px] tracking-[0.48px] mt-[35px] max-md:mt-[32px] max-md:text-[20px] max-[1200px]:leading-[140%]">{{ section.settings.description }}</p>
    </div>
    <section class="flex flex-wrap items-stretch mt-[64px] max-md:border max-md:border-solid max-md:border-[#2E3666] max-[1200px]:mt-8">
      {% for block in section.blocks %}
        <article class="flex flex-col px-3 pt-4 pb-8 border border-solid border-[#2E3666] min-w-[240px] w-[443px] max-md:max-w-full max-md:border-none max-md:pb-4 even:border-l-0 even:border-r-0 ">
          <img loading="lazy" src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.image_alt }}" class="object-contain max-w-full aspect-square w-[420px]" />
          <h2 class="items-start mt-4 w-full text-[24px] tracking-[0.48px] leading-[40px] uppercase  max-md:max-w-full font-['Blisstwin'] max-[1200px]:pr-[20%]">
            {{ block.settings.heading }}
            <span class=" flex-1 shrink h-10 basis-0 min-w-[240px] w-[301px] hidden"></span>
          </h2>
          <p class="description{{ forloop.index }} gap-2.5 self-stretch mt-4 max-w-full text-[22px] max-md:text-[18] tracking-[0.44px] leading-[140%] w-[421px] max-md:max-w-full max-[1200px]:text-[18px] max-[1200px]:mt-0 ">
            {{ block.settings.description }}
          </p>
        </article>
      {% endfor %}
    </section>
  </div>
</section>

<style>
  .section4-sticky {
    position: sticky;s
    top: -330px;
  }
  @media(max-width: 1200px) {
    #section4 article:nth-child(3) h2 {
      line-height: 130%;
    }
    .section4-sticky {    
      top: -1350px;
    }
  }
</style>


{% schema %}
{
  "name": "Ak - Science S5",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How your lifestyle <br> choices"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Section Title",
      "default": "can help"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section Description",
      "default": "Everyday choices about what you consume have direct impacts on your liver's health, and may be at the root of your sluggish liver. Here’s how your daily consumption can be affecting the liver."
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text",
          "default": "Image description"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Sugar"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Overloading the liver with sugar forces it to produce excess fat, uric acid, and free radicals, which can lead to diabetes and fatty liver disease."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ak - Science S5",
      "category": "AKKA SCIENCE"
    }
  ]
}
{% endschema %}
