<!-- sections/lifestyle-choices.liquid -->
<section id="section4" class="remove-animation ak-font-['syne'] ak-overflow-x-hidden dynamic-sticky" data-full-m="true">
  <div class="ak-max-w-[var(--page-width)] ak-w-full ak-mx-auto ak-py-[128px] ak-text-[#2E3666] max-lg:ak-py-8 max-lg:ak-px-4">
    <div class="ak-max-w-[1062px] ak-w-full ak-mr-auto">
      <h3 class="ak-text-[70px] ak-leading-[104%] max-lg:ak-text-[40px]">{{ section.settings.title }}
        <span class="ak-font-['Blisstwin'] ak-leading-[79%]">{{ section.settings.title2 }}</span>
      </h3>      
      <p class="ak-text-[24px] ak-leading-[36px] ak-tracking-[0.48px] ak-mt-[35px] max-lg:ak-mt-[32px] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.description }}</p>
    </div>
    <section class="ak-flex ak-flex-wrap max-lg:ak-flex-col ak-items-stretch ak-mt-[64px] max-lg:ak-border max-lg:ak-border-solid max-lg:ak-border-[#2E3666] max-lg:ak-mt-8">
      {% for block in section.blocks %}
        <article class="ak-flex ak-flex-col ak-px-3 ak-pt-4 ak-pb-8 ak-border ak-border-solid ak-border-[#2E3666] ak-min-w-[240px] ak-w-[443px] max-lg:ak-max-w-full max-lg:ak-border-none max-lg:ak-pb-4 ak-even:border-l-0 ak-even:border-r-0 max-lg:ak-mx-auto">
          <img loading="lazy" src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.image_alt }}" class="ak-object-contain ak-max-w-full ak-aspect-square ak-w-[420px]" />
          <h2 class="ak-items-start ak-mt-4 ak-w-full ak-text-[24px] ak-tracking-[0.48px] ak-leading-[40px] ak-uppercase max-lg:ak-max-w-full ak-font-['Blisstwin'] max-lg:ak-pr-[20%]">
            {{ block.settings.heading }}
            <span class="ak-flex-1 ak-shrink ak-h-10 ak-basis-0 ak-min-w-[240px] ak-w-[301px] ak-hidden"></span>
          </h2>
          <p class="description{{ forloop.index }} ak-gap-2.5 ak-self-stretch ak-mt-4 ak-max-w-full ak-text-[22px] max-lg:ak-text-[18px] ak-tracking-[0.44px] ak-leading-[140%] ak-w-[421px] max-lg:ak-max-w-full  max-lg:ak-mt-0 ">
            {{ block.settings.description }}
          </p>
        </article>
      {% endfor %}
    </section>
  </div>
</section>


<style>
  
  @media(max-width: 1200px) {
   
    #section4 article:nth-child(3) h2 {
      line-height: 130%;
    }
  }
</style>


{% schema %}
{
  "name": "Ak - Science S5",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "How your lifestyle <br> choices"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Section Title",
      "default": "can help"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section Description",
      "default": "Everyday choices about what you consume have direct impacts on your liver's health, and may be at the root of your sluggish liver. Here’s how your daily consumption can be affecting the liver."
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text",
          "default": "Image description"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Sugar"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Overloading the liver with sugar forces it to produce excess fat, uric acid, and free radicals, which can lead to diabetes and fatty liver disease."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ak - Science S5",
      "category": "AKKA SCIENCE"
    }
  ]
}
{% endschema %}
