<!-- hero.liquid -->
<style>
    .hero-sticky {
      position: sticky;
      top: 72px;
    }
    #hero {
      background-image: url({{ section.settings.background_image | img_url: 'master' }});
    }
    #hero .circlebg {
        background-image: url();
    }
    @media(max-width: 1200px) {
        #hero .circlebg {
            background-image: url();s
        }   
        #hero {
          background-image: url({{ section.settings.background_image_mob | img_url: 'master' }});
        }     
    }
    
</style>

<section id="hero" class="bg-no-repeat bg-cover bg-center min-h-[980px] flex items-center relative max-md:min-h-[660px] font-['syne'] max-[1200px]:overflow-hidden top-[-72px]" style="">
    <div class=" absolute inset-[50%] translate-x-[-50%] translate-y-[-50%] z-0 max-w-[604px] w-full h-[605px] bg-no-repeat bg-cover bg-center max-md:w-[348px] max-md:h-[348px] max-md:inset-[50%] max-md:translate-x-[-50%] max-md:translate-y-[-50%]">
      <img class="big rotate-me max-[1200px]:" src="{{ 'science-circle-big.png' | file_img_url: 'master' }}" alt="">
      <img class="small rotate-counter-me absolute top-0 max-[1200px]: " src="{{ 'science-circle-small.png' | file_img_url: 'master' }}" alt="">
    </div>
    <div class="flex items-center justify-center m-auto h-full">
        <div class="title overflow-hidden relative z-10 bg-[url({{ section.settings.text_background_image | img_url: 'master' }})] bg-cover bg-center bg-no-repeat max-md:bg-none">
            <h1 class="animation-moveup text-white text-[70px] leading-[normal] tracking-[-1.4px] capitalize font-['syne'] max-md:text-[40px] max-md:text-center">
                {{ section.settings.hero_text }}<span class="font-['Blisstwin'] max-md:block ml-[16px] max-[1200px]:ml-0">{{ section.settings.sub_text }}</span>
            </h1>
        </div>
    </div>
</section>

<script>
  window.onload = function() {
    document.getElementById('hero').parentElement.classList.add('hero-sticky');
    document.getElementById('section4').parentElement.classList.add('section4-sticky');
    document.getElementById('section2-sticky').parentElement.classList.add('section2-sticky');
  };  
</script>

{% schema %}
{
  "name": "AK - Science S1",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mob",
      "label": "Background Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "circle_image",
      "label": "Circle Image"
    },
    {
      "type": "image_picker",
      "id": "circle_image_mobile",
      "label": "Circle Image (Mobile)"
    },
    {
      "type": "image_picker",
      "id": "text_background_image",
      "label": "Text Background Image"
    },
    {
      "type": "text",
      "id": "hero_text",
      "label": "Hero Text",
      "default": "Our building blocks"
    },
    {
      "type": "text",
      "id": "sub_text",
      "label": "Sub Text",
      "default": "to better health"
    }
  ],
  "presets": [
    {
      "name": "AK - Science S1",
      "category": "AKKA SCIENCE"
    }
  ]
}
{% endschema %}
