<style>
  @media (max-width: 1025px) and (min-width:1023px) {
    #marquee {
      margin-top: -123px;
    }
  }
</style>
<section id="marquee" class="remove-animation ak-pt-[49px] max-lg:ak-pt-0 max-lg:ak-overflow-hidden ak-h-[122px] ak-bottom-[30px] ak-left-0 max-lg:ak-w-full max-lg:ak-bottom-0 max-lg:ak-mb-[-25px] max-lg:ak-mt-[-97px] ak-dynamic-sticky" data-full-m="true">
  <!-- Slider main container -->
  <div class="marquee swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper !ak-h-auto">
      {% for slide in section.blocks %}
      <!-- Slides -->
      <div class="swiper-slide !ak-flex !ak-items-center !ak-justify-center ak-gap-[35px] !ak-w-[unset] !ak-h-[unset] ak-font-['blisstwin']">
        <h3 class="ak-text-[100px] ak-text-[#C8D3F0] ak-capitalize">{{ slide.settings.slide_text }}</h3>
        <div class="ak-w-[15px] ak-h-[15px] ak-bg-[#C8D3F0] ak-rotate-45"></div>
      </div>
      {% endfor %}
    </div>      
  </div>
</section>
 
<style>
  #section3-animation.active .overflow-up {
    overflow:hidden;
    padding-top: 15px;
    margin-top: -15px;
  }
  #section3-animation.active .overflow-down {
    overflow:hidden;
    padding-bottom: 15px;
    margin-bottom: -15px;
  }
  #section3-animation.active .animate-downup {
    transition: 2s ease-out;
    animation: downUp 2s ease-out forwards;
  }
  #section3-animation.active img.animate-downup {
    transition: 2s ease-out;
    animation: downUp2 2s ease-out forwards;
  }
  #section3-animation.active .animate-updown {
    transition: 2s ease-out;
    animation: upDown 2s ease-out forwards;
  }
  #section3-animation.active .animate-leftrigth {
    transition: 2s ease-out;
    animation: leftRigth 2s ease-out forwards;
  }
  #section3-animation.active .animate-rigthleft {
    transition: 2s ease-out;
    animation: rigthLeft 2s ease-out forwards;
  }
  @keyframes downUp2 {
    0% {transform: translateY(100%);}
    50% {transform: translateY(-2%);}
    100% {transform: translateY(0%);}
  }
  @keyframes downUp {
    0% {transform: translateY(100%);}
    50% {transform: translateY(-10%);}
    100% {transform: translateY(0%);}
  }
  @keyframes upDown {
    0% {transform: translateY(-100%);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0%);}
  }
  @keyframes leftRigth {
    0% {transform: translatex(-100%);}
    50% {transform: translatex(5%);}
    100% {transform: translatex(0%);}
  }
  @keyframes rigthLeft {
    0% {transform: translatex(100%);}
    50% {transform: translatex(-5%);}
    100% {transform: translatex(0%);}
  }
  @media(max-width: 1200px) {
    #section3-animation.active .animate-downup {
    transition: unset;
    animation:unset;
    }
    #section3-animation.active img.animate-downup {
      transition: unset;
      animation: unset;
    }
    #section3-animation.active .animate-updown {
      transition: unset;
      animation:unset;
    }
    #section3-animation.active .animate-leftrigth {
      transition: unset;
      animation:unset;
    }
    #section3-animation.active .animate-rigthleft {
      transition: unset;
      animation:unset;
    }
  }
</style>
<!-- sections/akka-help-section.liquid -->
<section id="section3" class="ak-text-[#2E3666] ak-bg-[#C9CFE1] ak-font-['syne']">
  <div id="section3-animation" class="ak-max-w-[var(--page-width)] ak-w-full ak-mx-auto ak-pt-[128px] ak-pb-[144px] max-lg:ak-pt-[64px] max-lg:ak-pb-0 active">
    <!-- TITLE DIV -->
    <div class="ak-flex ak-justify-between ak-items-start max-lg:ak-flex-col max-lg:ak-px-4">
      <div class="ak-max-w-[330px] ak-w-full">
        <h3 class="ak-text-[70px] ak-leading-[79%] max-lg:ak-text-[40px] max-lg:ak-mb-8">
          <div class="overflow-up">
            <span class="ak-block animate-downup">{{ section.settings.title }}</span>
          </div>          
          <div class="overflow-up">
            <span class="ak-font-['Blisstwin'] ak-mt-[12px] ak-block animate-downup ak-pb-3">{{ section.settings.subtitle }}</span>
          </div>
        </h3>
      </div>
      <div class="ak-max-w-[658px] ak-w-full overflow-up">
        <div class="animate-downup [&>p]:ak-text-[24px] [&>p]:ak-leading-[140%] [&>p]:ak-tracking-[0.48px] [&>p]:max-lg:ak-text-[20px]">
          {{ section.settings.description }}
        </div>        
      </div>
    </div>
    <div class="ak-w-full ak-py-[16px] !ak-mt-[64px] max-lg:ak-hidden overflow-up">
      <h3 class="ak-text-[40px] ak-tracking-[-0.8px] ak-uppercase animate-downup">{{ section.settings.section_heading }}</h3>
    </div>
    <div class="ak-overflow-hidden max-lg:ak-hidden">
      <div class="ak-h-[4px] ak-w-full ak-bg-[#3E488B] ak-animate-leftrigth"></div>
    </div>
    <!-- CONTENT DIV -->
    <div class="ak-block ak-relative ak-h-[689px] ak-w-full max-lg:ak-hidden">
      <!-- MIDDLE IMAGE DIV -->
      <div class="ak-absolute ak-left-[50%] ak-translate-x-[-50%] ak-max-w-[430px] ak-w-full ak-top-0 overflow-up">
        <img class="animate-downup" src="{{ section.settings.main_image | img_url: 'master' }}" alt="">
      </div>
      <!-- LABEL1 DIV -->
      <div class="ak-max-w-[363px] ak-w-full ak-absolute ak-top-[193px] ak-left-0">
        <div class="ak-max-w-[284px] ak-w-full ak-h-[92px] ak-ml-[200px]">
          <div class="ak-pr-[30px] ak-mr-[-30px] ak-overflow-hidden">
            <img class="ak-animate-leftrigth" src="{{ section.settings.line_image1 | img_url: 'master' }}" alt="">
          </div>          
          <div class="ak-overflow-hidden ak-mt-[-4px]">
            <img class="ak-w-[2px] animate-downup" src="{{ section.settings.vertical_line1 | img_url: 'master' }}" alt="">
          </div>          
        </div>
        <div class="ak-overflow-down">
          <div class="ak-animate-updown">
            <h4 class="ak-font-['Blisstwin'] ak-text-[30px] ak-text-center ak-tracking-[0.6px] ak-uppercase ak-p-[10px] ak-border-[1.5px] ak-border-solid ak-border-[#2E3666] ak-pb-0">{{ section.settings.label1_title }}</h4>
            <p class="ak-mt-[31px] ak-text-[22px] ak-leading-[normal]">{{ section.settings.label1_text }}</p>
          </div>          
        </div>
      </div>
      <!-- LABEL2 DIV -->
      <div class="ak-max-w-[363px] ak-w-full ak-absolute ak-top-[59px] ak-right-0">
        <div class="ak-relative">
          <div class="ak-overflow-down">
            <div class="ak-animate-updown">
              <h4 class="ak-font-['Blisstwin'] ak-text-[30px] ak-text-center ak-tracking-[0.6px] ak-uppercase ak-p-[10px] ak-border-[1.5px] ak-border-solid ak-border-[#2E3666] ak-pb-0">{{ section.settings.label2_title }}</h4>
              <p class="ak-mt-[8px] ak-text-[22px] ak-leading-[normal]">{{ section.settings.label2_text }}</p>
            </div>            
          </div>
          <div class="ak-max-w-[354px] ak-w-full ak-absolute ak-top-[123px] ak-right-[160px]">
            <div class="ak-overflow-down">
              <img class="ak-w-[2px] ak-ml-auto ak-animate-updown" src="{{ section.settings.vertical_line2 | img_url: 'master' }}" alt="">
            </div>
            <div class="ak-overflow-hidden ak-pl-[30px] ak-ml-[-30px]">
              <img class="ak-animate-rigthleft" src="{{ section.settings.line_image2 | img_url: 'master' }}" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- LABEL3 DIV -->
      <div class="ak-max-w-[363px] ak-w-full ak-absolute ak-bottom-[16px] ak-right-[11px]">
        <div class="ak-relative ak-bg-[#C9CFE1]">
          <div class="ak-max-w-[300px] ak-w-full ak-absolute ak-top-[-64px] ak-right-[160px]">
            <div class="ak-overflow-hidden ak-pl-[30px] ak-ml-[-30px]">
              <img class="ak-animate-rigthleft" src="{{ section.settings.line_image3 | img_url: 'master' }}" alt="">
            </div>
            <div class="overflow-up">
              <img class="ak-w-[2px] ak-ml-auto ak-mb-[-40px] animate-downup" src="{{ section.settings.vertical_line3 | img_url: 'master' }}" alt="">
            </div>
          </div>
          <div class="ak-relative ak-z-10 ak-overflow-down">
            <div class="ak-animate-updown">
              <h4 class="ak-font-['Blisstwin'] ak-text-[30px] ak-text-center ak-tracking-[0.6px] ak-uppercase ak-p-[10px] ak-border-[1.5px] ak-border-solid ak-border-[#2E3666] ak-pb-0">{{ section.settings.label3_title }}</h4>
              <p class="ak-mt-[8px] ak-text-[22px] ak-leading-[normal]">{{ section.settings.label3_text }}</p>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT DIV MOBILE -->
    <div class="ak-hidden max-lg:ak-block ak-max-w-[430px] ak-w-full ak-sticky ak-top-0 ak-z-[-1] ak-mx-auto">
      <img class="ak-mt-[-100px]" src="{{ section.settings.mobile_image | img_url: 'master' }}" alt="">
    </div>

    <div class="max-lg:ak-bg-[rgba(201,207,225,0.80)] max-lg:ak-backdrop-blur-[30px] max-lg:ak-pb-[49px]">
      <div class="ak-hidden max-lg:ak-block ak-px-4">
        
        <div class="ak-w-full ak-mb-8 ">
          <h3 class="ak-text-[30px] ak-tracking-[-0.8px] ak-uppercase ak-border-b-[4px] ak-border-solid ak-border-[#3E488B] ak-py-[16px] max-lg:ak-pb-0">{{ section.settings.section_heading }}</h3>
        </div>
        <div class="">
          <h4 class="ak-w-[calc(100%_-_42px)] ak-mx-auto ak-font-['Blisstwin'] ak-text-[30px] ak-text-center ak-tracking-[0.6px] ak-uppercase ak-p-[10px] ak-border-[1.5px] ak-border-solid ak-border-[#2E3666] ak-pb-0 max-lg:ak-text-[20px]">{{ section.settings.label1_title }}</h4>
          <p class="ak-mt-4 ak-text-[22px] ak-leading-[normal] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.label1_text }}</p>
        </div>
        <div class="ak-mt-8">
          <h4 class="ak-w-[calc(100%_-_42px)] ak-mx-auto ak-font-['Blisstwin'] ak-text-[30px] ak-text-center ak-tracking-[0.6px] ak-uppercase ak-p-[10px] ak-border-[1.5px] ak-border-solid ak-border-[#2E3666] ak-pb-0 max-lg:ak-text-[20px]">{{ section.settings.label2_title }}</h4>
          <p class="ak-mt-4 ak-text-[22px] ak-leading-[normal] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.label2_text }}</p>
        </div>
        <div class="ak-mt-8">
          <h4 class="ak-w-[calc(100%_-_42px)] ak-mx-auto ak-font-['Blisstwin'] ak-text-[30px] ak-text-center ak-tracking-[0.6px] ak-uppercase ak-p-[10px] ak-border-[1.5px] ak-border-solid ak-border-[#2E3666] ak-pb-0 max-lg:ak-text-[20px]">{{ section.settings.label3_title }}</h4>
          <p class="ak-mt-4 ak-text-[22px] ak-leading-[normal] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.label3_text }}</p>
        </div>
      </div>
      <!-- BOTTOM DIV -->
      
      <div class="ak-w-full ak-relative ak-z-10 max-lg:ak-px-4 overflow-up">
        <h3 class="ak-text-[40px] ak-tracking-[-0.8px] ak-uppercase max-lg:ak-text-[30px] max-lg:ak-pt-[37px] max-lg:ak-pb-0 animate-downup" >{{ section.settings.final_heading }}</h3>
      </div>
      <div class="ak-overflow-hidden max-lg:ak-px-[16px] ak-relative ak-z-10">
        <div class="ak-h-[4px] ak-w-full ak-bg-[#3E488B] ak-animate-rigthleft"></div>
      </div>
      <div class="ak-flex ak-justify-between ak-items-start ak-mt-[28px] max-lg:ak-flex-col max-lg:ak-px-4 max-lg:ak-gap-2 max-lg:ak-pb-[49px] ak-overflow-down" >
        <div class="ak-py-[32px] ak-pl-[40px] ak-bg-[#3E488B] ak-backdrop-blur-2xl ak-rounded-[6px] ak-max-w-[431px] ak-w-full ak-animate-updown max-lg:ak-mx-auto">
          <img src="{{ section.settings.icon_image1 | img_url: 'master' }}" alt="">
          <p class="ak-text-[24px] ak-text-[#C9CFE1] ak-leading-[150%] ak-tracking-[0.48px] ak-py-[16px] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.final_text1 }}</p>
        </div>
        <div class="ak-py-[32px] ak-pl-[40px] ak-bg-[#3E488B] ak-backdrop-blur-2xl ak-rounded-[6px] ak-max-w-[431px] ak-w-full ak-h-[265px] ak-animate-updown max-lg:ak-mx-auto">
          <img src="{{ section.settings.icon_image2 | img_url: 'master' }}" alt="">
          <p class="ak-text-[24px] ak-text-[#C9CFE1] ak-leading-[150%] ak-tracking-[0.48px] ak-py-[16px] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.final_text2 }}</p>
        </div>
        <div class="ak-py-[32px] ak-pl-[40px] ak-bg-[#3E488B] ak-backdrop-blur-2xl ak-rounded-[6px] ak-max-w-[431px] ak-w-full ak-animate-updown max-lg:ak-mx-auto">
          <img src="{{ section.settings.icon_image3 | img_url: 'master' }}" alt="">
          <p class="ak-text-[24px] ak-text-[#C9CFE1] ak-leading-[150%] ak-tracking-[0.48px] ak-py-[16px] max-lg:ak-text-[20px] max-lg:ak-leading-[140%]">{{ section.settings.final_text3 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  const swiperMarquee = new Swiper(".marquee", {
    spaceBetween: 35,
    centeredSlides: true,
    speed: 20000,
    autoplay: {
      delay: 1,
    },
    loop: true,
    slidesPerView:'auto',
    allowTouchMove: false,
    disableOnInteraction: true
  });
</script>

<script>
// // Target element
// var targetElement = document.getElementById('section3-animation'); // Replace with your element class or ID

// // Callback function for the IntersectionObserver
// var observer = new IntersectionObserver(function(entries) {
//   entries.forEach(function(entry) {
//     if (entry.isIntersecting) {
//       entry.target.classList.add('active');
//     } else {
//       entry.target.classList.remove('active');
//     }
//   });
// });

// // Observe the target element
// observer.observe(targetElement);


// Target element
var targetElement = document.getElementById('section3-animation'); // Replace with your element class or ID

// Callback function for the IntersectionObserver
var observer = new IntersectionObserver(function(entries) {
  entries.forEach(function(entry) {
    if (entry.isIntersecting) {
      entry.target.classList.add('active');
      
      // Remove the class 'active' after 1 second
      setTimeout(function() {
        entry.target.classList.remove('active');
      }, 2500); // 1000ms = 1 second
    }
  });
});

// Observe the target element
observer.observe(targetElement);





</script>



{% schema %}
{
  "name": "Ak - Science S4",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "How AKKA"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "can help"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "It works by:"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "line_image1",
      "label": "Line Image 1"
    },
    {
      "type": "image_picker",
      "id": "vertical_line1",
      "label": "Vertical Line 1"
    },
    {
      "type": "text",
      "id": "label1_title",
      "label": "Label 1 Title",
      "default": "Aid"
    },
    {
      "type": "textarea",
      "id": "label1_text",
      "label": "Label 1 Text",
      "default": "Aiding in the regeneration of liver cells and the repair of scar tissue..."
    },
    {
      "type": "image_picker",
      "id": "line_image2",
      "label": "Line Image 2"
    },
    {
      "type": "image_picker",
      "id": "vertical_line2",
      "label": "Vertical Line 2"
    },
    {
      "type": "text",
      "id": "label2_title",
      "label": "Label 2 Title",
      "default": "Clean"
    },
    {
      "type": "textarea",
      "id": "label2_text",
      "label": "Label 2 Text",
      "default": "Cleansing your liver of toxins and excess fat that might be clogging your bile ducts..."
    },
    {
      "type": "image_picker",
      "id": "line_image3",
      "label": "Line Image 3"
    },
    {
      "type": "image_picker",
      "id": "vertical_line3",
      "label": "Vertical Line 3"
    },
    {
      "type": "text",
      "id": "label3_title",
      "label": "Label 3 Title",
      "default": "Support"
    },
    {
      "type": "textarea",
      "id": "label3_text",
      "label": "Label 3 Text",
      "default": "Supporting the restoration of your liver's natural ability..."
    },
    {
      "type": "text",
      "id": "final_heading",
      "label": "Final Heading",
      "default": "It helps to:"
    },
    {
      "type": "image_picker",
      "id": "icon_image1",
      "label": "Icon Image 1"
    },
    {
      "type": "textarea",
      "id": "final_text1",
      "label": "Final Text 1",
      "default": "Increase energy and metabolism..."
    },
    {
      "type": "image_picker",
      "id": "icon_image2",
      "label": "Icon Image 2"
    },
    {
      "type": "textarea",
      "id": "final_text2",
      "label": "Final Text 2",
      "default": "Reduce bloating, indigestion..."
    },
    {
      "type": "image_picker",
      "id": "icon_image3",
      "label": "Icon Image 3"
    },
    {
      "type": "textarea",
      "id": "final_text3",
      "label": "Final Text 3",
      "default": "Regulate mood and immunity..."
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_text",
          "label": "Slide Text",
          "default": "The Liver Performs over 500 crucial functions"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ak - Science S4",
      "category": "AKKA SCIENCE"
    }
  ]
}
{% endschema %}
