{% layout none %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Shipping & Refund Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://s3.amazonaws.com/konsciousketo.com/Akka/akka-favicon-v2.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Lora&family=Nanum+Pen+Script&family=Poppins:wght@300;600;700&family=Work+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://use.typekit.net/ifq3oek.css" rel="stylesheet"> 
    <link href="https://synocell.com/cdn/shop/t/1/assets/synocell-global.css?v=80943848058031500361701099037" rel="stylesheet">
    <link href="https://synocell.com/cdn/shop/t/1/assets/synocell-shippingrefundpolicy.css?v=162630106690184754591701442038" rel="stylesheet">
    <link href="https://synocell.com/cdn/shop/t/1/assets/synocell-footer.css?v=38147532224562322741701098933" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="{{ 'shipping-refund-policy.css' | asset_url }}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    <style>
        @font-face {
          font-family: 'Syne';
          src: url('{{ 'Syne-Regular.eot' | file_url }}');
          src: url('{{ 'Syne-Regular.eot?#iefix' | file_url }}') format('embedded-opentype'),
              url('{{ 'Syne-Regular.woff2' | file_url }}') format('woff2'),
              url('{{ 'Syne-Regular.woff' | file_url }}') format('woff'),
              url('{{ 'Syne-Regular.ttf' | file_url }}') format('truetype');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }
    </style>
</head>
<body>
  <section class="bg-purple-100 ">
      <div class="maxwidth m-auto">
        <img class="d-block headerlogo m-auto py-3 py-lg-4" src="https://s3.amazonaws.com/konsciousketo.com/samcart/upsell-images/akka-upsell/akka-logo-c.svg" />
      </div>
  </section>
  <section class="main-content">
    <div class="wrapper">
      <div class="main-container">
        <h1>Shipping & Refund Policy</h1>
        <h2>SHIPPING POLICY</h2>

        <ul class="list-wrapper">
          <li>
            <p><b>Mainland USA Free Shipping Delivery:</b> Please expect your order to arrive within <b>5-10 business days.</b></p>
            <p><i><b>Standard shipping</b> within the continental United States: Estimated delivery within 5-10 business days. This timeframe accounts for processing time at our warehouse, transit time via ground shipping, and potential delays due to high order volumes or adverse weather conditions.</i></p>
          </li>
          <li>
            <p><b>Expanded Shipping Zones:</b>We have expanded our shipping services to many additional countries to reach more customers. Our goal is to continuously add more countries to our list. Check our shopping cart page for the current list of serviced countries. Please note, international deliveries may take up to <b>6-8 weeks.</b></p>
            <p><i><b><span style="color:#FF0000;">*</span>International shipping</b> typically takes around 6-8 weeks due to several factors, including customs clearance in both the originating and destination countries, varying transit times based on distance, and potential delays from weather or logistical challenges. While we strive to expedite shipping, these elements contribute to the estimated 6-8 week delivery timeframe for international shipments.</i></p>
          </li>
          <li><p><b>Additional Shipping Fees:</b> For delivery to Hawaii, Alaska and all countries outside of the US, a surcharge fee will apply to cover the associated expenses. All shipping charges are in USD and not refundable.</p></li>
          <li><p><b>Customs and Duties:</b> Please note that you are responsible for paying customs duties, fees, or taxes in your respective countries. Customs refers to charges imposed on items being shipped internationally, and these costs can vary depending on the items and countries involved in the shipment.</p></li>
          <li><p><b>Shipping Limitations:</b> Unfortunately, at this time, we are unable to ship to all countries. We are also unable to ship to APO addresses and freight forwarding companies. We apologize for any inconvenience this might cause and hope to include these shipping zones in the future.</p></li>
          <li><p>We appreciate your understanding and support. If you have any questions or need further assistance, feel free to contact us at hello@tryakka.com or call 1-844-808-AKKA(2552).</p></li>
          <li><p><b>Digital Product Delivery:</b> For all of our digital products (meal plans, coaching, ebooks, video programs, etc), the credentials are delivered electronically and sent to the email that you used to purchase the products. We do not ship physical meals and materials.</p></li>
          <li><p><b>Multiple Product Orders:</b> We aim to ship all products in your order together. If any products are unavailable, we will send them separately as they become available unless you tell us otherwise. </p></li>
          <li><p><b>Order Acceptance Policy:</b> An order confirmation does not mean we have accepted your order. We reserve the right to accept or decline your order for any reason or provide a lesser quantity.</p></li>
          <li><p><b>Out-of-Stock Products:</b> We will ship your product when it becomes available. Orders placed by 12:00 PM PST usually ship within one business day. If a product is out of stock and not available for immediate shipment, we will place you on the waiting list for that product. You can cancel your order before it ships.</p></li>
        </ul>
        
        <h2>REFUND TIMEFRAME</h2>
        
        <ul class="list-wrapper">
          <li><p>As a sign of confidence in our products and services, we provide you with a 30-day money back guarantee for our digital products and a 90-day money back guarantee for our supplement products.</p></li>
          <li><p>If you purchased Konscious brand supplements from one of our official websites and used them as directed for 30 days without complete satisfaction, you can return them for a 100% refund of the purchase price, excluding shipping and handling fees, if applicable.</p></li>
          <li><p>If 90 days have passed since your purchase, unfortunately, we are unable to offer you a refund or exchange.</p></li>
          <li><p>Please make sure you fully read and follow the return policy and restrictions below.</p></li>
        </ul>

        <h2>REFUND POLICY</h2>

        <ul class="list-wrapper">
          <li><p>All products are eligible for our refund policy below. However, the shipping charges outside of the mainland USA are always non-refundable.</p></li>
          <li><p><b>FOR SINGLE PACK PURCHASE:</b> You will not need to return the used bottle. You will receive a 100% refund after filling out <a href="https://support.konsciousketo.com/hc/en-us/requests/new?ticket_form_id=14176593118605" target="_blank">this form</a>. You are only entitled to one refund like this per product per year.  </p></li>
          <li><p><b>FOR MULTI-PACK PURCHASE:</b> You only need to return the unused and unopened bottles after completing <a href="https://support.konsciousketo.com/hc/en-us/requests/new?ticket_form_id=14176351884813">this form</a>. However, to prevent misuse or abuse of this refund policy, please note that the following rules must be observed: </p></li>
        </ul>

        <ol class="list-wrapper ordered">
          <li><p class="mb-0"><b>If you have used only 1 bottle (a 30-day supply): we will issue a refund for that bottle and all unused/unopened bottles you return.</b></p></li>
        </ol>

        <div class="content-wrapper">
          <p class="mb-0"><i>For example:</i></p>
          <ul class="list-wrapper">
            <li><p class="mb-0"><i>You purchased a 6-pack of a supplement</i></p></li>
            <li><p class="mb-0"><i>You used 1 bottle and returned 5 unopened bottles.</i></p></li>
            <li><p class="mb-0"><i>Once received at our warehouse, we will issue a refund for all 6 bottles.</i></p></li>
          </ul>
        </div>

        <ol  class="list-wrapper ordered" start="2">
          <li><p><b>If you have used more than 1 bottle (a 30-day supply): we will only issue a refund for the first bottle and the unused/unopened bottles that you return.</b> You will <b><i>not</i></b> receive a refund for the second or subsequent bottles that you used.</p></li>
        </ol>

        <div class="content-wrapper">
          <p class="mb-0"><i>For example:</i></p>
          <ul class="list-wrapper">
            <li><p class="mb-0"><i>You purchased a 6-pack of Emma Relief.</i></p></li>
            <li><p class="mb-0"><i>You used 2 bottles of Emma and returned 4 unopened units. </i></p></li>
            <li><p class="mb-0"><i>Once received at our warehouse, we will issue a refund for 5 bottles (the first used bottle of Emma plus the 4 unused units you returned).</i></p></li>
          </ul>
        </div>

        <h2>REFUND STEP-BY-STEP</h2>

        <ul class="list-wrapper">
          <li><p><b>Step 1: Ensure you have read and understood the return rules</b> above. They are very important and must be observed. We put them in place to prevent misuse and abuse.</p></li>
          <li><p><b>Step 2: Place the refund request with our customer service team</b> by filling out <a href="https://support.konsciousketo.com/hc/en-us/requests/new?ticket_form_id=14176351884813">this form</a>, or email us at hello@tryakka.com.</p></li>
          <li>
            <p><b>Step 3: Return the products.</b></p>
            <p>- If you’re in the USA, our rep will send you a prepaid label via email. Please promptly pack and ship back unused and unopened products to our warehouse. Shipping and handling fees will be deducted from the final refund amount.</p>
            <p>- If you’re outside of the USA, we ask that you obtain the shipping label and pay directly to your carrier of choice in your country since we will not be able to generate a label for you. </p>
          </li>
          <li>
            <p class="mb-0"><b>Step 4: Sit back and relax. </b></p>
            <p>Once the returns of unused and unopened bottles are received and confirmed at our facility, we will issue the refund in accordance with the policy explained above, excluding 10% for shipping and handling fees, if applicable.</p>
          </li>
        </ul>

        <div class="content-wrapper">
          <p><b>PLEASE NOTE:</b> It may take a week for the carriers to ship back the products and another week for our facility to process your return. Once we issue the refund, your bank may take <b>5-7 business days</b> to clear the fund and reflect the amount in your account.  </p>
        </div>
        <div class="content-wrapper">
          <p><b>CANCELLATION:</b> While we'll do our best to accommodate cancellation requests, once an order is processed for shipment, we cannot guarantee cancellation.</p>
        </div>
      </div>
    </div>
  </section>
    
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const copyright = document.querySelector('.copyright');
      const currentYear = new Date().getFullYear();
      copyright.textContent = copyright.textContent.replace(/\d{4}/, currentYear);
    });
  </script>
  {% comment %} <footer>
    <div class="maxwidth m-auto">
      <div class="footer-maxwidth m-auto">
          <div class="d-flex flex-column flex-lg-row justify-content-between m-auto mx-0">
            <div class="m-auto m-lg-0">
              <img class="d-block footer-logo m-auto m-lg-0" style="max-width: 189px; width: 100%;" src="https://s3.amazonaws.com/konsciousketo.com/samcart/upsell-images/akka-upsell/akka-logo-c.svg">
                <div class="input-div justify-content-between">
                  <input type="email" value="" placeholder="Enter your email" class="input-field  myriadpro fw400 fs22 fsm17" autocorrect="off" autocapitalize="off">
                  <div class="sign-up-div">
                    <button type="submit" class="btn-sign-up">
                      Sign me up!
                    </button>
                  </div>
                </div>
            </div>
            <div class="contact-info text-center text-lg-start">
                <div class="fw400 myriadpro fs16 lh24">
                    <h2 class="fw600 fs17 lh24 mb-0">Customer Service</h2>
                    <p class="mb-0"><a class=" text-decoration-none" href="mailto:hello@tryakka.com">hello@tryakka.com</a></p>
                    <p class="mb-0"><a class=" text-decoration-none" href="tel:+18448082552">1-844-808-AKKA(2552)</a></p>
                    <p class="mb-0 ">100 Matawan Road #1022 <br class="d-block d-lg-none">Matawan, NJ 07747</p>
                </div>
                <div class="fw400 myriadpro fs16 lh24">
                    <h2 class="fw600 fs17 lh24 mb-0">Information</h2>
                    <p class="mb-0"><a class=" text-decoration-none" href="https://privacy.konscious.us/privacy-policy" target="_blank">Privacy Policy</a></p>
                    <p class="mb-0"><a class=" text-decoration-none" href="https://tryakka.com/pages/shipping-refund-policy" target="_blank">Shipping and refund policy</a></p>
                    <p class="mb-0"><a class=" text-decoration-none" href="https://tryakka.com/pages/terms-conditions/" target="_blank">Terms and conditions</a></p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column-reverse flex-lg-row justify-content-between m-auto announcement mx-0">
            <div class="text-center text-lg-start">
                <span class="fw400 fs16 fsm14 lh24 copyright myriadpro" style="vertical-align: middle;">© 2024 Enclave BioActives. All Rights Reserved.</span>
            </div>
            <div class="mb-3 mb-lg-0 socialmedia-icons text-center text-lg-start">
                <a href="https://www.facebook.com/akkasuperbiotics/" target="_blank"><img class="" src="https://s3.amazonaws.com/konsciousketo.com/samcart/upsell-images/akka-upsell/akka-facebook.svg"></a>
                <a href="https://www.instagram.com/tryakka/" target="_blank" class="ms-1"><img class="" src="https://s3.amazonaws.com/konsciousketo.com/samcart/upsell-images/akka-upsell/akka-insta.svg"></a>
            </div>
        </div>
        <div class="statements">
            <p class="myriadpro fs16 fsm15">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. Use only as directed. The information provided herein is intended for your general knowledge only and is not intended to be, nor is it, medical advice or a substitute for medical advice. If you have or suspect you have, a specific medical condition or disease, please consult your healthcare provider.</p>
        </div>
      </div>
    </div>
  </footer> {% endcomment %}
  <div id="shopify-section-sections--23592599814447__ak_footer_wNwe8X" class="shopify-section shopify-section-group-footer-group">
        <section id="footer" class="flex flex-col bg-[#EDEEF5] font-['syne']">
            <div class="flex flex-col py-16 w-full max-[1024px]:px-[16px] max-[1024px]:max-w-full max-w-[1328px] mx-auto">
                <div class="flex flex-wrap gap-5 max-[1024px]:gap-[21px] justify-between items-start w-full">
                <h2 class="text-[22px] text-[#2E3666] w-[597px] max-[1024px]:max-w-full max-[1200px]:text-[20px] max-[1200px]:leading-[140%]">
                    Sign up for our newsletter and get first access to the very best of our products, inspiration and community.
                </h2>
                <form class="relative leading-7 rounded-[100px] max-[1024px]:max-w-full">
                    <label for="emailInput" class="sr-only">Enter your email</label>
                    <input id="emailInput" type="email" placeholder="Enter your email" aria-label="Enter your email" class="font-['work_sans'] text-[18px] pl-6 tracking-[-0.36px] bg-white min-h-[55px] rounded-[100px] !text-[#2E3666] w-[562px] max-[1024px]:pl-5 max-[1024px]:max-w-full" fdprocessedid="d4vvxo">
                    <button type="submit" class="button w-fit !text-[18px] !h-[55px] !font-bold absolute right-0 top-0 max-[1024px]:!px-[24px] !font-['Work_Sans'] max-[1200px]:!text-[16px]" fdprocessedid="5p5iwt">
                    Sign me up!
                    </button>
                </form>
                </div>
                <nav class="flex flex-wrap gap-[40px] justify-between items-start pt-[32px] mt-[39px] max-w-full text-lg border-t-4 border-[#2E3666] text-[#2E3666] w-full capitalize max-[1024px]:flex-col max-[1024px]:gap-[32px]">
                    <div class="w-[161px]">
                        
                        <img class="" src="https://tryakka.com/cdn/shop/files/akka-footer-logo_1024x1024.png?v=1730838862" alt="Footer Logo">
                        
                    </div>
                    <div class="flex flex-col">
                        <h3 class="gap-[10px] self-start p-[2px] font-bold whitespace-nowrap text-[#2E3666]">SITEMAP</h3>
                        <ul class="flex flex-col items-start mt-[16px] text-[18px] max-[1200px]:mt-[8px]">
                        
                            
                            <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="/">Home</a>
                            </li>
                            
                            <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="/pages/our-approach">Our Approach</a>
                            </li>
                            
                            <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="/pages/science">The Science</a>
                            </li>
                            
                            <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="/pages/ingredient">Ingredients</a>
                            </li>
                            
                            <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="/pages/product">Product</a>
                            </li>
                            
                                    
                        </ul>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                        <h3 class="gap-[10px] self-start p-[2px] font-bold uppercase whitespace-nowrap text-[#2E3666]">Information</h3>
                        <ul class="flex flex-col items-start mt-[16px] max-[1200px]:mt-[8px]">
                            
                            
                                <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="https://privacy.konscious.us/privacy-policy" target="_blank">Privacy Policy</a>
                                </li>
                            
                                <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="https://tryakka.com/pages/shipping-refund-policy" target="_blank">Shipping and refund policy</a>
                                </li>
                            
                                <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="https://tryakka.com/pages/terms-conditions/" target="_blank">Terms and conditions</a>
                                </li>
    
                                <li class="gap-[10px] self-stretch p-[2px] mt-[8px] max-[1200px]:mt-0">
                                <a href="https://tryakka.com/pages/accessibility-statement" target="_blank">Accessibility Statement</a>
                                </li>
                            
                                        
                        </ul>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                        <h3 class="gap-[10px] self-stretch p-[2px] font-bold text-[#2E3666]">CUSTOMER SERVICE</h3>
                        <address class="gap-[10px] self-start p-[2px] mt-[16px] leading-7 not-italic normal-case max-[1200px]:mt-[8px]">            
                            <span class="font-['Poppins']">hello@tryakka.com</span> <br>
                            844-808-(AKKA) 2552 <br>
                            Matawan, NJ, 07747
                        </address>
                        </div>
                    </div>
                </nav>
                <div class="flex flex-col mt-10 w-full max-w-[1328px] text-[#2E3666] max-[1024px]:max-w-full">
                    <div class="flex flex-wrap gap-[40px] items-center justify-between text-[20px] leading-[145%] tracking-[0.2px] max-[1024px]:max-w-full pr-[10px] max-[1024px]:gap-[10px] max-[1024px]:pr-0">
                        <p class="self-stretch my-auto w-[874px] max-[1024px]:max-w-full max-[1024px]:w-full max-[1024px]:text-[16px] text-[#2E3666] font-['Syne']">© 2024 Enclave BioActives. All rights reserved.</p>
                        <div class="flex items-center justify-between w-[58px]">
                        
                            <a href="https://www.facebook.com/akkasuperbiotics/" class="max-w-[25px] w-full">
                            <img src="//tryakka.com/cdn/shop/files/facebook_1024x1024.png?v=1726163196" alt="Facebook">
                            </a>
                        
                        
                            <a href="https://www.instagram.com/tryakka/" class="max-w-[25px] w-full">
                            <img src="//tryakka.com/cdn/shop/files/ig_1024x1024.png?v=1726163199" alt="Instagram">
                            </a>
                        
                        </div>
                    </div>
                    <hr class="mt-[16px] w-full min-h-0 border-2 border-solid border-[#2E3666] max-[1024px]:max-w-full opacity-100">
    
                    <p class="mt-[16px] text-lg tracking-[-0.18px] leading-[145%] max-[1024px]:max-w-full text-[#2E3666] max-[1024px]:text-[14px] max-[1024px]:tracking-[-0.14px]">
                        *These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. Individual results may vary, and testimonials are not claimed to represent typical results. All testimonials are by real people, and may not reflect the typical purchaser's experience, and are not intended to represent or guarantee that anyone will achieve the same or similar results.
                    </p>
                </div>
            </div>
        </section>    
    </div>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>